Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

.github/CODEOWNERS:

/docs/ @apollographql/docs
/.changesets/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect @apollographql/connectors
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router/src/plugins/connectors @apollographql/connectors
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas

Remove time-dependence from test_compute_backpressure
  .config/nextest.toml
  apollo-router/src/ageing_priority_queue.rs
  apollo-router/src/lib.rs
  apollo-router/tests/compute_backpressure.rs
Owners: @apollographql/polaris, @apollographql/atlas

feat(federation): query plan correctness checker (#6498)
  apollo-federation/Cargo.toml
  apollo-federation/cli/Cargo.toml
  apollo-federation/cli/src/main.rs
  apollo-federation/src/correctness/mod.rs
  apollo-federation/src/correctness/query_plan_analysis.rs
  apollo-federation/src/correctness/query_plan_analysis_test.rs
  apollo-federation/src/correctness/response_shape.rs
  apollo-federation/src/correctness/response_shape_compare.rs
  apollo-federation/src/correctness/response_shape_test.rs
  apollo-federation/src/correctness/subgraph_constraint.rs
  apollo-federation/src/lib.rs
  apollo-federation/src/query_plan/query_planner.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Address review feedback.
  apollo-federation/src/sources/connect/json_selection/lit_expr.rs
Owners: @apollographql/connectors

update native query planner content for v2
  docs/source/routing/query-planning/native-query-planner.mdx
Owners: @apollographql/docs

docs: telemetry reorg (#6639)
  docs/source/routing/observability/telemetry/index.mdx
  docs/source/routing/observability/telemetry/instrumentation/conditions.mdx
  docs/source/routing/observability/telemetry/instrumentation/events.mdx
  docs/source/routing/observability/telemetry/instrumentation/instruments.mdx
  docs/source/routing/observability/telemetry/instrumentation/selectors.mdx
  docs/source/routing/observability/telemetry/instrumentation/spans.mdx
  docs/source/routing/observability/telemetry/instrumentation/standard-attributes.mdx
  docs/source/routing/observability/telemetry/instrumentation/standard-instruments.mdx
  docs/source/routing/observability/telemetry/log-exporters/overview.mdx
  docs/source/routing/observability/telemetry/log-exporters/stdout.mdx
  docs/source/routing/observability/telemetry/metrics-exporters/datadog.mdx
  docs/source/routing/observability/telemetry/metrics-exporters/dynatrace.mdx
  docs/source/routing/observability/telemetry/metrics-exporters/new-relic.mdx
  docs/source/routing/observability/telemetry/metrics-exporters/otlp.mdx
  docs/source/routing/observability/telemetry/metrics-exporters/overview.mdx
  docs/source/routing/observability/telemetry/metrics-exporters/prometheus.mdx
  docs/source/routing/observability/telemetry/trace-exporters/datadog.mdx
  docs/source/routing/observability/telemetry/trace-exporters/dynatrace.mdx
  docs/source/routing/observability/telemetry/trace-exporters/jaeger.mdx
  docs/source/routing/observability/telemetry/trace-exporters/new-relic.mdx
  docs/source/routing/observability/telemetry/trace-exporters/otlp.mdx
  docs/source/routing/observability/telemetry/trace-exporters/overview.mdx
  docs/source/routing/observability/telemetry/trace-exporters/zipkin.mdx
Owners: @apollographql/docs

docs: telemetry reorg (#6639)
  docs/source/routing/observability/telemetry/index.mdx
  docs/source/routing/observability/telemetry/instrumentation/conditions.mdx
  docs/source/routing/observability/telemetry/instrumentation/events.mdx
  docs/source/routing/observability/telemetry/instrumentation/instruments.mdx
  docs/source/routing/observability/telemetry/instrumentation/selectors.mdx
  docs/source/routing/observability/telemetry/instrumentation/spans.mdx
  docs/source/routing/observability/telemetry/instrumentation/standard-attributes.mdx
  docs/source/routing/observability/telemetry/instrumentation/standard-instruments.mdx
  docs/source/routing/observability/telemetry/log-exporters/overview.mdx
  docs/source/routing/observability/telemetry/log-exporters/stdout.mdx
  docs/source/routing/observability/telemetry/metrics-exporters/datadog.mdx
  docs/source/routing/observability/telemetry/metrics-exporters/dynatrace.mdx
  docs/source/routing/observability/telemetry/metrics-exporters/new-relic.mdx
  docs/source/routing/observability/telemetry/metrics-exporters/otlp.mdx
  docs/source/routing/observability/telemetry/metrics-exporters/overview.mdx
  docs/source/routing/observability/telemetry/metrics-exporters/prometheus.mdx
  docs/source/routing/observability/telemetry/trace-exporters/datadog.mdx
  docs/source/routing/observability/telemetry/trace-exporters/dynatrace.mdx
  docs/source/routing/observability/telemetry/trace-exporters/jaeger.mdx
  docs/source/routing/observability/telemetry/trace-exporters/new-relic.mdx
  docs/source/routing/observability/telemetry/trace-exporters/otlp.mdx
  docs/source/routing/observability/telemetry/trace-exporters/overview.mdx
  docs/source/routing/observability/telemetry/trace-exporters/zipkin.mdx
Owners: @apollographql/docs

resolve conflict
  docs/source/routing/observability/telemetry/trace-exporters/jaeger.mdx
Owners: @apollographql/docs

fix histogram metric
  apollo-router/src/query_planner/query_planner_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix metric
  apollo-federation/src/query_plan/query_planning_traversal.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

lint
  apollo-federation/src/query_plan/query_planning_traversal.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

code review comments
  apollo-federation/src/query_plan/query_planner.rs
  apollo-federation/src/query_plan/query_planning_traversal.rs
  apollo-router/src/query_planner/query_planner_service.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

expose number of evaluated query plan options
  apollo-federation/src/error/mod.rs
  apollo-federation/src/query_graph/graph_path.rs
  apollo-federation/src/query_plan/query_planner.rs
  apollo-federation/src/query_plan/query_planning_traversal.rs
  apollo-router/src/query_planner/query_planner_service.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

update metric to look at simulatenous paths for given option
  apollo-federation/src/query_plan/query_planning_traversal.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

lint
  apollo-federation/src/error/mod.rs
  apollo-router/src/query_planner/query_planner_service.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

Update apollo-router/src/query_planner/query_planner_service.rs
  apollo-router/src/query_planner/query_planner_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix naming
  apollo-federation/src/query_plan/query_planning_traversal.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fix new histogram name
  apollo-router/src/query_planner/query_planner_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

Apply suggestions from code review
  docs/source/routing/query-planning/native-query-planner.mdx
Owners: @apollographql/docs

Remove leading 0s before parsing into `serde_json::Number` (#6766)
  .changesets/fix_sushi_caboose_police_agency.md
  apollo-federation/src/sources/connect/json_selection/lit_expr.rs
Owners: @apollographql/docs, @apollographql/connectors

docs: native query planner (#6768)
  docs/source/routing/query-planning/native-query-planner.mdx
Owners: @apollographql/docs

expose number of evaluated query plan options (#6765)
  apollo-federation/src/error/mod.rs
  apollo-federation/src/query_graph/graph_path.rs
  apollo-federation/src/query_plan/query_planner.rs
  apollo-federation/src/query_plan/query_planning_traversal.rs
  apollo-router/src/query_planner/query_planner_service.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

expose number of evaluated query plan options (#6765)
  apollo-federation/src/error/mod.rs
  apollo-federation/src/query_graph/graph_path.rs
  apollo-federation/src/query_plan/query_planner.rs
  apollo-federation/src/query_plan/query_planning_traversal.rs
  apollo-router/src/query_planner/query_planner_service.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

fix broken links
  docs/source/routing/customization/native-plugins.mdx
  docs/source/routing/security/jwt.mdx
Owners: @apollographql/docs

Add logging when query plan cache keys are generated
  apollo-router/src/query_planner/caching_query_planner.rs
Owners: @apollographql/polaris, @apollographql/atlas

Set up stubs for SchemaBlueprint
  apollo-federation/src/schema/blueprint.rs
  apollo-federation/src/schema/mod.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fix broken links
  docs/source/routing/cloud/migrate-to-dedicated.mdx
  docs/source/routing/cloud/secure-subgraphs.mdx
  docs/source/routing/security/jwt.mdx
Owners: @apollographql/docs

docs: fix router 2.x links (#6774)
  docs/source/routing/customization/native-plugins.mdx
  docs/source/routing/security/jwt.mdx
Owners: @apollographql/docs

docs: fix router 1.x links (#6773)
  docs/source/routing/cloud/migrate-to-dedicated.mdx
  docs/source/routing/cloud/secure-subgraphs.mdx
  docs/source/routing/security/jwt.mdx
Owners: @apollographql/docs

fix: connectors, pqs, and __typename
  apollo-federation/src/sources/connect/json_selection/selection_set.rs
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/tests/samples/enterprise/connectors-pqs/README.md
  apollo-router/tests/samples/enterprise/connectors-pqs/configuration.yaml
  apollo-router/tests/samples/enterprise/connectors-pqs/http_snapshots.json
  apollo-router/tests/samples/enterprise/connectors-pqs/manifest.json
  apollo-router/tests/samples/enterprise/connectors-pqs/plan.json
  apollo-router/tests/samples/enterprise/connectors-pqs/supergraph.graphql
  apollo-router/tests/samples/enterprise/connectors-pqs/supergraph.yaml
Owners: @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

copyedits
  docs/source/routing/about-v2.mdx
Owners: @apollographql/docs

add note about context: deprecated config
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

keep false for configuration instead of none to be consistent
  apollo-router/src/plugins/coprocessor/execution.rs
  apollo-router/src/plugins/coprocessor/mod.rs
  apollo-router/src/plugins/coprocessor/supergraph.rs
  docs/source/reference/upgrade/from-router-v1.mdx
  docs/source/routing/customization/coprocessor.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

Add changeset entry
  .changesets/feat_coprocessorhttprequestspan.md
Owners: @apollographql/docs

Instrument coprocessor request with http_request span
  apollo-router/src/services/external.rs
Owners: @apollographql/polaris, @apollographql/atlas

tweak CSRF config doc
  apollo-router/src/plugins/csrf/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

cargo fmt
  apollo-router/src/services/external.rs
Owners: @apollographql/polaris, @apollographql/atlas

add comment on function
  apollo-router/src/context/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix test
  apollo-router/src/plugins/coprocessor/test.rs
Owners: @apollographql/polaris, @apollographql/atlas

update snapshot
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
Owners: @apollographql/polaris, @apollographql/atlas

Fix use order
  apollo-router/src/services/external.rs
Owners: @apollographql/polaris, @apollographql/atlas
