Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @apollographql/fed-core, @apollographql/connectors, @apollographql/polaris

.github/CODEOWNERS:

/docs/ @apollographql/docs
/.changesets/ @apollographql/docs
/apollo-federation/ @apollographql/fed-core
/apollo-federation/src/sources/connect @apollographql/connectors
/apollo-router/ @apollographql/polaris @apollographql/fed-core
/apollo-router/src/plugins/connectors @apollographql/connectors
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/fed-core
/apollo-router-scaffold/ @apollographql/polaris @apollographql/fed-core
/examples/ @apollographql/polaris @apollographql/fed-core
/.github/CODEOWNERS @apollographql/polaris @apollographql/fed-core

?!
  apollo-federation/src/correctness/query_plan_analysis.rs
Owners: @apollographql/fed-core

Install Rust-based tools on CI from pre-compiled binaries
  .circleci/config.yml
Owners: none

yes
  .circleci/config.yml
Owners: none

Restore conditions
  .circleci/config.yml
Owners: none

Install Rust-based tools on CI from pre-compiled binaries (#6912)
  .circleci/config.yml
Owners: none

Allow `LitPath` expressions without `$(...)` in `LitExpr` context.
  apollo-federation/src/sources/connect/json_selection/README.md
  apollo-federation/src/sources/connect/json_selection/lit_expr.rs
  apollo-federation/src/sources/connect/json_selection/parser.rs
Owners: @apollographql/connectors

Avoid reusing `PathList::Expr` in favor of new `LitExpr::LitPath`.
  apollo-federation/src/sources/connect/json_selection/apply_to.rs
  apollo-federation/src/sources/connect/json_selection/lit_expr.rs
  apollo-federation/src/sources/connect/json_selection/location.rs
  apollo-federation/src/sources/connect/json_selection/pretty.rs
Owners: @apollographql/connectors

Add `.apply_to` tests for `LitExpr::LitPath` structures.
  apollo-federation/src/sources/connect/json_selection/apply_to.rs
Owners: @apollographql/connectors

Test `LitExpr::LitPath` pretty printing, too.
  apollo-federation/src/sources/connect/json_selection/lit_expr.rs
Owners: @apollographql/connectors

Update README grammar and railroad diagrams for `LitPath`.
  apollo-federation/src/sources/connect/json_selection/README.md
  apollo-federation/src/sources/connect/json_selection/grammar/LitExpr.svg
  apollo-federation/src/sources/connect/json_selection/grammar/LitPath.svg
Owners: @apollographql/connectors

Another use case for `$(...)` in `json_selection/README.md`.
  apollo-federation/src/sources/connect/json_selection/README.md
Owners: @apollographql/connectors

Remove obsolete details from `ExprPath` README description.
  apollo-federation/src/sources/connect/json_selection/README.md
Owners: @apollographql/connectors
