Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @apollographql/fed-core, @apollographql/rust-platform, @apollographql/graph-dev, @apollographql/router-core

Remove duplicate no-panic-lint config
  apollo-federation/src/connectors/validation/mod.rs
Owners: @apollographql/graph-dev

Separate parsing and type checking of `@source` (#7630)
  apollo-federation/src/connectors/validation/mod.rs
  apollo-federation/src/connectors/validation/source.rs
Owners: @apollographql/graph-dev

Store extensions in http extensions
  apollo-router-core/src/layers/http_to_bytes/mod.rs
  apollo-router-core/src/layers/http_to_bytes/tests.rs
Owners: none

Make extensions extendable
  apollo-router-core/ARCHITECTURE.md
  apollo-router-core/src/extensions/mod.rs
  apollo-router-core/src/extensions/tests.rs
Owners: none

Make extensions capacity 100 by default
  apollo-router-core/src/extensions/mod.rs
Owners: none

Add bytes_to_json layer
  apollo-router-core/src/layers/bytes_to_json/mod.rs
  apollo-router-core/src/layers/bytes_to_json/tests.rs
Owners: none

Apply "don't panic!" lints to all of `connectors` (#7633)
  apollo-federation/src/connectors/json_selection/methods/future/eq.rs
  apollo-federation/src/connectors/json_selection/methods/future/match_if.rs
  apollo-federation/src/connectors/json_selection/methods/public/match.rs
  apollo-federation/src/connectors/json_selection/selection_trie.rs
  apollo-federation/src/connectors/mod.rs
  apollo-federation/src/connectors/spec/mod.rs
  apollo-federation/src/connectors/validation/mod.rs
Owners: @apollographql/graph-dev

Fix doc tests
  apollo-router-core/ARCHITECTURE.md
  apollo-router-core/src/extensions/mod.rs
  apollo-router-core/src/layers/bytes_to_json/mod.rs
  apollo-router-core/src/layers/bytes_to_json/tests.rs
  apollo-router-core/src/layers/http_to_bytes/mod.rs
  apollo-router-core/src/layers/http_to_bytes/tests.rs
Owners: none

Remove error types
  apollo-router-core/src/services/bytes_client/mod.rs
  apollo-router-core/src/services/bytes_server/mod.rs
  apollo-router-core/src/services/fetch/mod.rs
  apollo-router-core/src/services/http_client/mod.rs
  apollo-router-core/src/services/http_server/mod.rs
  apollo-router-core/src/services/json_client/mod.rs
  apollo-router-core/src/services/json_server/mod.rs
  apollo-router-core/src/services/query_execution/mod.rs
  apollo-router-core/src/services/query_parse/mod.rs
  apollo-router-core/src/services/query_plan/mod.rs
Owners: none

Remove a few clones/duplication from Connectors startup.
  apollo-federation/src/connectors/mod.rs
  apollo-federation/src/connectors/models.rs
  apollo-federation/src/connectors/models/http_json_transport.rs
  apollo-federation/src/connectors/spec/schema.rs
  apollo-router/src/plugins/connectors/make_requests.rs
Owners: @apollographql/graph-dev

Error handling
  apollo-router-core/ARCHITECTURE.md
  apollo-router-core/src/layers/bytes_to_json/mod.rs
  apollo-router-core/src/layers/bytes_to_json/tests.rs
  apollo-router-core/src/layers/http_to_bytes/mod.rs
  apollo-router-core/src/layers/http_to_bytes/tests.rs
  apollo-router-core/src/layers/mod.rs
Owners: none

Remove clone from bytes_to_json
  apollo-router-core/src/layers/bytes_to_json/mod.rs
  apollo-router-core/src/layers/http_to_bytes/mod.rs
Owners: none

Add TowerTest facility
  apollo-router-core/src/lib.rs
  apollo-router-core/src/test_utils/mod.rs
  apollo-router-core/src/test_utils/tower_test/mod.rs
  apollo-router-core/src/test_utils/tower_test/tests.rs
Owners: none

Update tests and add new layers
  .cursorrules
  Cargo.lock
  Cargo.toml
  apollo-router-core/ARCHITECTURE.md
  apollo-router-core/Cargo.toml
  apollo-router-core/src/extensions/mod.rs
  apollo-router-core/src/extensions/tests.rs
  apollo-router-core/src/layers/bytes_to_http/mod.rs
  apollo-router-core/src/layers/bytes_to_http/tests.rs
  apollo-router-core/src/layers/bytes_to_json/mod.rs
  apollo-router-core/src/layers/bytes_to_json/tests.rs
  apollo-router-core/src/layers/http_to_bytes/mod.rs
  apollo-router-core/src/layers/http_to_bytes/tests.rs
  apollo-router-core/src/layers/json_to_bytes/mod.rs
  apollo-router-core/src/layers/json_to_bytes/tests.rs
  apollo-router-core/src/layers/mod.rs
  apollo-router-core/src/lib.rs
  apollo-router-core/src/services/bytes_client/mod.rs
  apollo-router-core/src/services/bytes_server/mod.rs
  apollo-router-core/src/services/fetch/mod.rs
  apollo-router-core/src/services/http_client/mod.rs
  apollo-router-core/src/services/http_server/mod.rs
  apollo-router-core/src/services/json_client/mod.rs
  apollo-router-core/src/services/json_server/mod.rs
  apollo-router-core/src/services/query_execution/mod.rs
  apollo-router-core/src/services/query_parse/mod.rs
  apollo-router-core/src/services/query_plan/mod.rs
  apollo-router-core/src/test_utils/tower_test/mod.rs
  apollo-router-core/src/test_utils/tower_test/tests.rs
Owners: none

Update architecture to add query prep service
  apollo-router-core/ARCHITECTURE.md
Owners: none

Refactor extensions for http interop
  .cursorrules
  Cargo.lock
  apollo-router-core/ARCHITECTURE.md
  apollo-router-core/Cargo.toml
  apollo-router-core/src/extensions/mod.rs
  apollo-router-core/src/extensions/tests.rs
  apollo-router-core/src/layers/bytes_client_to_json_client/mod.rs
  apollo-router-core/src/layers/bytes_client_to_json_client/tests.rs
  apollo-router-core/src/layers/bytes_to_http/mod.rs
  apollo-router-core/src/layers/bytes_to_http/tests.rs
  apollo-router-core/src/layers/bytes_to_json/tests.rs
  apollo-router-core/src/layers/fetch_to_http_client/mod.rs
  apollo-router-core/src/layers/fetch_to_http_client/tests.rs
  apollo-router-core/src/layers/http_client_to_bytes_client/mod.rs
  apollo-router-core/src/layers/http_client_to_bytes_client/tests.rs
  apollo-router-core/src/layers/http_to_bytes/mod.rs
  apollo-router-core/src/layers/http_to_bytes/tests.rs
  apollo-router-core/src/layers/json_to_bytes/tests.rs
  apollo-router-core/src/layers/mod.rs
  apollo-router-core/src/layers/prepare_query/mod.rs
  apollo-router-core/src/layers/prepare_query/tests.rs
  apollo-router-core/src/lib.rs
  apollo-router-core/src/services/mod.rs
  apollo-router-core/src/services/query_execution/mod.rs
  apollo-router-core/src/services/query_parse/mod.rs
  apollo-router-core/src/services/query_plan/mod.rs
  apollo-router-core/src/services/query_preparation/mod.rs
Owners: none

Fix doc tests
  apollo-router-core/src/lib.rs
Owners: none

Cursor rules for git commits
  .cursorrules
Owners: none

refactor(query-parse): implement concrete service and generic service builder
  apollo-router-core/src/layers/prepare_query/mod.rs
  apollo-router-core/src/lib.rs
  apollo-router-core/src/services/query_parse/mod.rs
  apollo-router-core/src/services/query_parse/tests.rs
Owners: none

fixed a bug accessing context directive applications
  apollo-federation/src/composition/satisfiability.rs
  apollo-federation/src/schema/mod.rs
  apollo-federation/src/schema/referencer.rs
Owners: @apollographql/fed-core, @apollographql/rust-platform

added unit tests
  apollo-federation/src/composition/satisfiability.rs
Owners: @apollographql/fed-core, @apollographql/rust-platform

added changeset entry for PR 7580
  .changesets/fix_query_plan_defer_invalid_root_type.md
Owners: @apollographql/docs

added changeset entry for PR #7587
  .changesets/fix_qp_forbid_unknown_links.md
Owners: @apollographql/docs

feat: implement comprehensive error handling system with explicit GraphQL extension control
  .cursorrules
  Cargo.lock
  Cargo.toml
  apollo-router-core/ARCHITECTURE.md
  apollo-router-core/Cargo.toml
  apollo-router-core/ERROR_HANDLING_STRATEGY.md
  apollo-router-core/examples/graphql_error_format.rs
  apollo-router-core/src/error.rs
  apollo-router-core/src/lib.rs
  apollo-router-core/src/services/query_parse/mod.rs
  apollo-router-error-derive/Cargo.toml
  apollo-router-error-derive/README.md
  apollo-router-error-derive/src/lib.rs
  apollo-router-error-derive/tests/derive_works.rs
  apollo-router-error-derive/tests/expand/basic_error.expanded.rs
  apollo-router-error-derive/tests/expand/basic_error.rs
  apollo-router-error-derive/tests/expand/complex_fields.expanded.rs
  apollo-router-error-derive/tests/expand/complex_fields.rs
  apollo-router-error-derive/tests/expand/error_type_inference.expanded.rs
  apollo-router-error-derive/tests/expand/error_type_inference.rs
  apollo-router-error-derive/tests/macrotest.rs
  apollo-router-error-derive/tests/missing_derives.rs
  apollo-router-error/Cargo.toml
  apollo-router-error/examples/reexport_demo.rs
  apollo-router-error/src/lib.rs
Owners: none

feat: update error handling to use screaming snake case format
  apollo-router-core/ARCHITECTURE.md
  apollo-router-core/src/error.rs
  apollo-router-core/src/lib.rs
  apollo-router-error-derive/Cargo.toml
  apollo-router-error-derive/src/lib.rs
  apollo-router-error-derive/tests/derive_works.rs
  apollo-router-error-derive/tests/expand/basic_error.expanded.rs
  apollo-router-error-derive/tests/expand/complex_fields.expanded.rs
  apollo-router-error-derive/tests/expand/error_type_inference.expanded.rs
Owners: none

chore: Update cursor rules
  .cursorrules
Owners: none

fix(error-derive): resolve variable name collision in populate_graphql_extensions
  apollo-router-core/ARCHITECTURE.md
  apollo-router-core/src/layers/bytes_client_to_json_client/mod.rs
  apollo-router-core/src/layers/bytes_to_http/mod.rs
  apollo-router-core/src/layers/bytes_to_json/mod.rs
  apollo-router-core/src/layers/bytes_to_json/tests.rs
  apollo-router-core/src/layers/fetch_to_http_client/mod.rs
  apollo-router-core/src/layers/http_client_to_bytes_client/mod.rs
  apollo-router-core/src/layers/http_to_bytes/mod.rs
  apollo-router-core/src/layers/http_to_bytes/tests.rs
  apollo-router-core/src/layers/json_to_bytes/mod.rs
  apollo-router-core/src/layers/json_to_bytes/tests.rs
  apollo-router-core/src/layers/prepare_query/mod.rs
  apollo-router-core/src/test_utils/mod.rs
  apollo-router-error-derive/src/lib.rs
  apollo-router-error-derive/tests/expand/basic_error.expanded.rs
  apollo-router-error-derive/tests/expand/complex_fields.expanded.rs
  apollo-router-error-derive/tests/expand/error_type_inference.expanded.rs
  apollo-router-error-derive/tests/test_details_field.rs
  apollo-router-error/src/lib.rs
Owners: none

refactor: simplify query parsing service by removing redundant validation and using apollo_compiler directly
  apollo-router-core/ARCHITECTURE.md
  apollo-router-core/examples/graphql_error_format.rs
  apollo-router-core/src/error.rs
  apollo-router-core/src/error/mod.rs
  apollo-router-core/src/layers/prepare_query/mod.rs
  apollo-router-core/src/lib.rs
  apollo-router-core/src/services/query_parse/mod.rs
  apollo-router-core/src/services/query_parse/snapshots/apollo_router_core__services__query_parse__tests__complex_path_graphql_representation.snap
  apollo-router-core/src/services/query_parse/snapshots/apollo_router_core__services__query_parse__tests__empty_query_graphql_representation.snap
  apollo-router-core/src/services/query_parse/snapshots/apollo_router_core__services__query_parse__tests__invalid_query_type_graphql_representation.snap
  apollo-router-core/src/services/query_parse/snapshots/apollo_router_core__services__query_parse__tests__json_extraction_error_graphql_representation.snap
  apollo-router-core/src/services/query_parse/snapshots/apollo_router_core__services__query_parse__tests__minimal_error_graphql_representation.snap
  apollo-router-core/src/services/query_parse/snapshots/apollo_router_core__services__query_parse__tests__parse_error_graphql_representation.snap
  apollo-router-core/src/services/query_parse/snapshots/apollo_router_core__services__query_parse__tests__parse_error_with_context_graphql_representation.snap
  apollo-router-core/src/services/query_parse/snapshots/apollo_router_core__services__query_parse__tests__schema_validation_error_graphql_representation.snap
  apollo-router-core/src/services/query_parse/tests.rs
  apollo-router-core/src/services/query_preparation/mod.rs
  apollo-router-error-derive/tests/derive_works.rs
  apollo-router-error-derive/tests/expand/basic_error.expanded.rs
  apollo-router-error-derive/tests/expand/complex_fields.expanded.rs
  apollo-router-error-derive/tests/expand/error_type_inference.expanded.rs
  apollo-router-error-derive/tests/test_details_field.rs
Owners: none

refactor: Fix doc tests
  .cursorrules
  apollo-router-error-derive/src/lib.rs
  commit_message.txt
Owners: none

feat(query-parse): apply multiple error handling principles to query parsing service
  apollo-router-core/src/services/query_parse/mod.rs
  apollo-router-core/src/services/query_parse/tests.rs
Owners: none

feat(query-parse): add location information extraction using diagnostic.line_column_range()
  apollo-router-core/src/services/query_parse/mod.rs
  apollo-router-core/src/services/query_parse/tests.rs
Owners: none

test(query-parse): add insta yaml snapshot for error location verification
  apollo-router-core/src/services/query_parse/mod.rs
  apollo-router-core/src/services/query_parse/tests.rs
Owners: none

feat(query-preparation): implement composite service orchestrating query parsing and planning with proper error flow control and hexagonal architecture compliance
  apollo-router-core/src/services/query_preparation/mod.rs
  apollo-router-core/src/services/query_preparation/tests.rs
Owners: none

feat(test-utils): enhance TowerTest with service testing facilities for dependency injection testing
  apollo-router-core/src/test_utils/tower_test/mod.rs
  apollo-router-core/src/test_utils/tower_test/tests.rs
Owners: none

feat(test-utils): make MockService cloneable for wider usability in dependency injection testing
  apollo-router-core/src/services/query_preparation/tests.rs
  apollo-router-core/src/test_utils/tower_test/mod.rs
  apollo-router-core/src/test_utils/tower_test/tests.rs
Owners: none

Simplify pretty print
  apollo-federation/src/connectors/json_selection/apply_to.rs
  apollo-federation/src/connectors/json_selection/pretty.rs
Owners: @apollographql/graph-dev

Simplify question apply_to code
  apollo-federation/src/connectors/json_selection/apply_to.rs
Owners: @apollographql/graph-dev

Clarify the cause of the warning messages with http protocol
  .changesets/fix_garypen_fix_otlp_http_metrics.md
Owners: @apollographql/docs

.github/CODEOWNERS:

/docs/ @apollographql/docs
/.changesets/ @apollographql/docs
/apollo-federation/ @apollographql/fed-core @apollographql/rust-platform
/apollo-federation/src/connectors @apollographql/graph-dev
/apollo-router/ @apollographql/router-core
/apollo-router/src/plugins/connectors @apollographql/graph-dev
/apollo-router-benchmarks/ @apollographql/router-core @apollographql/fed-core
/examples/ @apollographql/router-core @apollographql/fed-core
/.github/CODEOWNERS @apollographql/router-core @apollographql/fed-core
