Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

.github/CODEOWNERS:

/docs/ @apollographql/docs
/.changesets/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect @apollographql/connectors
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router/src/plugins/connectors @apollographql/connectors
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas

docs: router 2.x info (#6763)
  docs/source/routing/about-v2.mdx
Owners: @apollographql/docs

Remove mentions of requiring an enterprise plan for self-hosting or sending metrics
  docs/source/reference/graphos-features.mdx
  docs/source/routing/about-router.mdx
  docs/source/routing/cloud/index.mdx
  docs/source/routing/observability/index.mdx
  docs/source/routing/observability/otel-traces-to-prometheus.mdx
  docs/source/routing/security/router-authentication.mdx
  docs/source/routing/self-hosted/index.mdx
  docs/source/routing/self-hosted/resource-management.mdx
Owners: @apollographql/docs

Remove use of "Enterprise license"
  docs/source/reference/graphos-features.mdx
Owners: @apollographql/docs

Typo
  docs/source/reference/graphos-features.mdx
Owners: @apollographql/docs

Replace shared component
  docs/source/reference/graphos-features.mdx
Owners: @apollographql/docs

Update plan need notes
  docs/source/routing/self-hosted/index.mdx
  docs/source/routing/self-hosted/resource-management.mdx
Owners: @apollographql/docs

remove release status note
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

Add ability to specify path as regex in snapshots (#6747)
  Cargo.lock
  apollo-router/Cargo.toml
  apollo-router/src/test_harness/http_snapshot.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add more observability around WS handshake failures
  apollo-router/src/services/subgraph_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

Remove superfluous tracing
  apollo-router/src/services/subgraph_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

DOC-361 clarify router install steps
  docs/source/reference/router/self-hosted-install.mdx
Owners: @apollographql/docs

copyedit
  docs/source/reference/router/self-hosted-install.mdx
Owners: @apollographql/docs

Add import
  apollo-router/src/services/subgraph_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

Update docs/source/reference/router/self-hosted-install.mdx
  docs/source/reference/router/self-hosted-install.mdx
Owners: @apollographql/docs

DOC-361 clarify router install steps
  docs/source/reference/router/self-hosted-install.mdx
Owners: @apollographql/docs

copyedit
  docs/source/reference/router/self-hosted-install.mdx
Owners: @apollographql/docs

Update docs/source/reference/router/self-hosted-install.mdx
  docs/source/reference/router/self-hosted-install.mdx
Owners: @apollographql/docs

Remove as_bytes
  apollo-router/src/services/subgraph_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

docs: clarify router download steps (backport #6796) (#6797)
  docs/source/reference/router/self-hosted-install.mdx
Owners: @apollographql/docs

Refactor string building
  apollo-router/src/services/subgraph_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

Remove pricing anchors
  docs/source/routing/customization/coprocessor.mdx
  docs/source/routing/observability/telemetry/instrumentation/events.mdx
  docs/source/routing/observability/telemetry/instrumentation/instruments.mdx
  docs/source/routing/observability/telemetry/instrumentation/spans.mdx
  docs/source/routing/operations/subscriptions/index.mdx
  docs/source/routing/security/authorization.mdx
  docs/source/routing/security/jwt.mdx
  docs/source/routing/security/router-authentication.mdx
Owners: @apollographql/docs

Fix test
  apollo-router/src/services/subgraph_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

feat(fleet_detector): add detection method to cpu_count metric
  apollo-router/src/plugins/fleet_detector.rs
Owners: @apollographql/polaris, @apollographql/atlas

Remove mutex from apollo telemetry exporter (#6790)
  apollo-router/src/plugins/telemetry/apollo_otlp_exporter.rs
  apollo-router/src/plugins/telemetry/tracing/apollo_telemetry.rs
Owners: @apollographql/polaris, @apollographql/atlas

wip
  apollo-router/src/plugins/cache/entity.rs
Owners: @apollographql/polaris, @apollographql/atlas

refactoring
  apollo-router/src/services/subgraph_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

Place the "deploy your router" section in the upgrade strategy section
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

docs: some work on the migrade / upgration guide (#6728)
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

Update Uplink schema
  apollo-router/src/uplink/uplink.graphql
Owners: @apollographql/polaris, @apollographql/atlas

Prevent deadlocks on metrics exporter shutdown
  apollo-router/src/metrics/aggregation.rs
Owners: @apollographql/polaris, @apollographql/atlas

Allow `LitPath` expressions without `$(...)` in `LitExpr` context.
  apollo-federation/src/sources/connect/json_selection/README.md
  apollo-federation/src/sources/connect/json_selection/lit_expr.rs
  apollo-federation/src/sources/connect/json_selection/parser.rs
Owners: @apollographql/connectors

Add `.apply_to` tests for `LitExpr::LitPath` structures.
  apollo-federation/src/sources/connect/json_selection/apply_to.rs
Owners: @apollographql/connectors

Test `LitExpr::LitPath` pretty printing, too.
  apollo-federation/src/sources/connect/json_selection/lit_expr.rs
Owners: @apollographql/connectors

Avoid reusing `PathList::Expr` in favor of new `LitExpr::LitPath`.
  apollo-federation/src/sources/connect/json_selection/apply_to.rs
  apollo-federation/src/sources/connect/json_selection/lit_expr.rs
  apollo-federation/src/sources/connect/json_selection/location.rs
  apollo-federation/src/sources/connect/json_selection/pretty.rs
Owners: @apollographql/connectors

comment
  apollo-router/src/metrics/aggregation.rs
Owners: @apollographql/polaris, @apollographql/atlas
