Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @benjamn, @apollographql/polaris, @apollographql/atlas

.github/CODEOWNERS:

/docs/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect/json_selection @benjamn
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas

fix(federation): optimize `runtime_types_intersect` (#5588)
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/schema/mod.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

config snapshot
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
Owners: @apollographql/polaris, @apollographql/atlas

add basic support for overrideLabel
  apollo-federation/src/link/federation_spec_definition.rs
  apollo-federation/src/link/join_spec_definition.rs
  apollo-federation/src/merge.rs
  apollo-federation/src/query_graph/extract_subgraphs_from_supergraph.rs
  apollo-federation/src/snapshots/apollo_federation__merge__tests__steel_thread.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_supergraph.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_types_from_different_subgraphs.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_with_descriptions.snap
  apollo-federation/tests/snapshots/main__composition_tests__compose_removes_federation_directives.snap
  apollo-federation/tests/snapshots/main__extract_subgraphs__can_extract_subgraph.snap
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Propagate HTTP headers to connectors requests (#5589)
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_realistic_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_steelthread_supergraph-2.snap
  apollo-federation/src/sources/connect/mod.rs
  apollo-federation/src/sources/connect/models/mod.rs
  apollo-router/src/plugins/connectors/http_json_transport.rs
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/src/plugins/connectors/testdata/steelthread.graphql
  apollo-router/src/plugins/connectors/testdata/steelthread.yaml
  apollo-router/src/plugins/connectors/tests.rs
  apollo-router/src/services/connect.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

Remove outdated comments
  apollo-federation/src/operation/simplify.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

add basic support for overrideLabel in extract_subgraphs_from_supergraph (#5525)
  apollo-federation/src/link/federation_spec_definition.rs
  apollo-federation/src/link/join_spec_definition.rs
  apollo-federation/src/merge.rs
  apollo-federation/src/query_graph/extract_subgraphs_from_supergraph.rs
  apollo-federation/src/snapshots/apollo_federation__merge__tests__steel_thread.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_supergraph.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_types_from_different_subgraphs.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_with_descriptions.snap
  apollo-federation/tests/snapshots/main__composition_tests__compose_removes_federation_directives.snap
  apollo-federation/tests/snapshots/main__extract_subgraphs__can_extract_subgraph.snap
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

include custom scalars in merge_subgraphs
  apollo-federation/src/merge.rs
  apollo-federation/src/snapshots/apollo_federation__merge__tests__basic.snap
  apollo-federation/src/sources/connect/expand/merge/basic_1.graphql
  apollo-federation/src/sources/connect/expand/merge/basic_2.graphql
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_supergraph.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_types_from_different_subgraphs.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_with_descriptions.snap
  apollo-federation/tests/snapshots/main__composition_tests__compose_removes_federation_directives.snap
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

snapshots
  apollo-federation/src/snapshots/apollo_federation__merge__tests__basic.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_supergraph-2.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_types_from_different_subgraphs-2.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_with_descriptions-2.snap
  apollo-federation/tests/snapshots/main__composition_tests__compose_removes_federation_directives-2.snap
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fixup review
  apollo-federation/src/merge.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): split out and rename SelectionSet::normalize implementation (#5593)
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/optimize.rs
  apollo-federation/src/operation/rebase.rs
  apollo-federation/src/operation/simplify.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

add doc comment
  apollo-federation/src/operation/rebase.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): refactor error handling in rebasing (#5584)
  apollo-federation/src/error/mod.rs
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/rebase.rs
  apollo-federation/src/operation/simplify.rs
  apollo-federation/src/query_graph/graph_path.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Datadog exporter resource behavior and mapping (#5386)
  .changesets/breaking_bnjjj_fix_5282.md
  .circleci/config.yml
  apollo-router/src/axum_factory/utils.rs
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/telemetry/apollo_otlp_exporter.rs
  apollo-router/src/plugins/telemetry/config.rs
  apollo-router/src/plugins/telemetry/config_new/spans.rs
  apollo-router/src/plugins/telemetry/consts.rs
  apollo-router/src/plugins/telemetry/dynamic_attribute.rs
  apollo-router/src/plugins/telemetry/metrics/span_metrics_exporter.rs
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/src/plugins/telemetry/otel/layer.rs
  apollo-router/src/plugins/telemetry/span_factory.rs
  apollo-router/src/plugins/telemetry/tracing/apollo_telemetry.rs
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
  apollo-router/src/services/http/service.rs
  apollo-router/src/services/subgraph_service.rs
  apollo-router/src/services/supergraph/service.rs
  apollo-router/tests/common.rs
  apollo-router/tests/integration/telemetry/datadog.rs
  apollo-router/tests/integration/telemetry/fixtures/datadog_default_span_names.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/datadog_override_span_names.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/datadog_override_span_names_late.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/datadog_resource_mapping_default.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/datadog_resource_mapping_override.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/jaeger-0.5-sample.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/jaeger-advanced.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/jaeger-no-sample.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/jaeger_decimal_trace_id.router.yaml
  apollo-router/tests/integration/telemetry/jaeger.rs
  apollo-router/tests/integration/telemetry/mod.rs
  apollo-router/tests/integration/telemetry/otlp.rs
  apollo-router/tests/integration/telemetry/zipkin.rs
  docker-compose.yml
  docs/source/configuration/telemetry/exporters/tracing/datadog.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

deactivate redis based samples in CI if not on AMD linux
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/plan.json
  apollo-router/tests/samples/enterprise/query-planning-redis/plan.json
  apollo-router/tests/samples_tests.rs
Owners: @apollographql/polaris, @apollographql/atlas

lowercase the enum tag
  apollo-router/src/plugins/cache/invalidation.rs
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/plan.json
Owners: @apollographql/polaris, @apollographql/atlas

Entity cache: set up basic infrastructure for invalidation (#5544)
  apollo-router/src/cache/redis.rs
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/src/plugins/cache/invalidation.rs
  apollo-router/src/plugins/cache/mod.rs
  apollo-router/src/plugins/cache/tests.rs
  apollo-router/tests/samples/basic/query1/plan.json
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/README.md
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/configuration.yaml
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/plan.json
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/supergraph.graphql
  apollo-router/tests/samples/enterprise/query-planning-redis/plan.json
  apollo-router/tests/samples_tests.rs
Owners: @apollographql/polaris, @apollographql/atlas

Allow query batching and entity caching to work together
  apollo-router/src/plugins/cache/entity.rs
  docs/source/executing-operations/query-batching.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

add a changeset
  .changesets/fix_garypen_router_411_batching_entity_caching.md
Owners: none

Entity cache: private data caching integration test
  apollo-router/tests/common.rs
  apollo-router/tests/samples/enterprise/entity-cache/private/README.md
  apollo-router/tests/samples/enterprise/entity-cache/private/configuration.yaml
  apollo-router/tests/samples/enterprise/entity-cache/private/plan.json
  apollo-router/tests/samples/enterprise/entity-cache/private/private.rhai
  apollo-router/tests/samples/enterprise/entity-cache/private/supergraph.graphql
  apollo-router/tests/samples_tests.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix
  apollo-router/tests/samples/enterprise/entity-cache/private/plan.json
  apollo-router/tests/samples/enterprise/entity-cache/private/private.rhai
Owners: @apollographql/polaris, @apollographql/atlas

include custom scalars in merge_subgraphs (#5595)
  apollo-federation/src/merge.rs
  apollo-federation/src/snapshots/apollo_federation__merge__tests__basic.snap
  apollo-federation/src/sources/connect/expand/merge/basic_1.graphql
  apollo-federation/src/sources/connect/expand/merge/basic_2.graphql
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_supergraph-2.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_supergraph.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_types_from_different_subgraphs-2.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_types_from_different_subgraphs.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_with_descriptions-2.snap
  apollo-federation/tests/snapshots/main__composition_tests__can_compose_with_descriptions.snap
  apollo-federation/tests/snapshots/main__composition_tests__compose_removes_federation_directives-2.snap
  apollo-federation/tests/snapshots/main__composition_tests__compose_removes_federation_directives.snap
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fix snapshots
  apollo-federation/src/sources/connect/expand/snapshots/apollo_federation__sources__connect__expand__carryover__tests__carryover.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_realistic_supergraph-3.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_supergraph-3.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_steelthread_supergraph-3.snap
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Apply suggestions from code review
  .changesets/docs_feature_ignoreotherprefixesdocupdate.md
  docs/source/configuration/authn-jwt.mdx
Owners: @apollographql/docs

connector debugging on response extensions
  apollo-federation/src/sources/connect/json_selection/pretty.rs
  apollo-router/src/configuration/expansion.rs
  apollo-router/src/configuration/mod.rs
  apollo-router/src/plugins/connectors/configuration.rs
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/connectors/http_json_transport.rs
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/src/plugins/connectors/mod.rs
  apollo-router/src/plugins/connectors/plugin.rs
  apollo-router/src/router_factory.rs
  apollo-router/src/services/connector_service.rs
Owners: @benjamn, @apollographql/polaris, @apollographql/atlas

add tests for coprocessor and selector
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/coprocessor/supergraph.rs
  apollo-router/src/plugins/coprocessor/test.rs
  apollo-router/src/plugins/telemetry/config_new/selectors.rs
Owners: @apollographql/polaris, @apollographql/atlas

squash update snapshots
  apollo-router/src/configuration/snapshots/apollo_router__configuration__expansion__test__dev_mode.snap
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
Owners: @apollographql/polaris, @apollographql/atlas

add docs
  docs/source/customizations/coprocessor.mdx
Owners: @apollographql/docs

changelog
  .changesets/feat_bnjjj_feat_condition_copro.md
  docs/source/configuration/telemetry/instrumentation/selectors.mdx
Owners: @apollographql/docs

Updated docs for ignore_other_prefixes to clarify behavior (#5592)
  .changesets/docs_feature_ignoreotherprefixesdocupdate.md
  docs/source/configuration/authn-jwt.mdx
Owners: @apollographql/docs

code review
  apollo-router/src/plugins/connectors/plugin.rs
  apollo-router/src/services/connector_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

connector debugging on response extensions (#5600)
  apollo-federation/src/sources/connect/json_selection/pretty.rs
  apollo-router/src/configuration/expansion.rs
  apollo-router/src/configuration/mod.rs
  apollo-router/src/configuration/snapshots/apollo_router__configuration__expansion__test__dev_mode.snap
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/connectors/configuration.rs
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/connectors/http_json_transport.rs
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/src/plugins/connectors/mod.rs
  apollo-router/src/plugins/connectors/plugin.rs
  apollo-router/src/router_factory.rs
  apollo-router/src/services/connector_service.rs
Owners: @benjamn, @apollographql/polaris, @apollographql/atlas

process input types from http url templates
  apollo-federation/src/sources/connect/expand/mod.rs
  apollo-federation/src/sources/connect/expand/tests/schemas/realistic.graphql
  apollo-federation/src/sources/connect/expand/tests/schemas/realistic.yaml
  apollo-federation/src/sources/connect/expand/tests/schemas/simple.graphql
  apollo-federation/src/sources/connect/expand/tests/schemas/simple.yaml
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_realistic_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_supergraph-3.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_steelthread_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_steelthread_supergraph-3.snap
  apollo-federation/src/sources/connect/expand/visitor.rs
  apollo-federation/src/sources/connect/mod.rs
  apollo-federation/src/sources/connect/models/mod.rs
  apollo-federation/src/sources/connect/url_path_template.rs
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/connectors/make_requests.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

Update apollo-federation/src/sources/connect/expand/mod.rs
  apollo-federation/src/sources/connect/expand/mod.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Update apollo-federation/src/sources/connect/expand/mod.rs
  apollo-federation/src/sources/connect/expand/mod.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fix steel thread test
  apollo-router/src/plugins/connectors/testdata/steelthread.graphql
  apollo-router/src/plugins/connectors/testdata/steelthread.yaml
  apollo-router/src/plugins/connectors/tests.rs
Owners: @apollographql/polaris, @apollographql/atlas

docs: fix typo (#5523)
  docs/source/configuration/telemetry/exporters/metrics/otlp.mdx
  docs/source/configuration/telemetry/exporters/tracing/otlp.mdx
Owners: @apollographql/docs

connectors: derive key from inputs (#5596)
  apollo-federation/src/sources/connect/expand/mod.rs
  apollo-federation/src/sources/connect/expand/tests/schemas/realistic.graphql
  apollo-federation/src/sources/connect/expand/tests/schemas/realistic.yaml
  apollo-federation/src/sources/connect/expand/tests/schemas/simple.graphql
  apollo-federation/src/sources/connect/expand/tests/schemas/simple.yaml
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_realistic_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_supergraph-3.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_steelthread_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_steelthread_supergraph-3.snap
  apollo-federation/src/sources/connect/expand/visitor.rs
  apollo-federation/src/sources/connect/mod.rs
  apollo-federation/src/sources/connect/models/mod.rs
  apollo-federation/src/sources/connect/url_path_template.rs
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/src/plugins/connectors/testdata/steelthread.graphql
  apollo-router/src/plugins/connectors/testdata/steelthread.yaml
  apollo-router/src/plugins/connectors/tests.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

allow debugging invalid responses
  Cargo.lock
  apollo-router/Cargo.toml
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/connectors/http_json_transport.rs
  apollo-router/src/plugins/connectors/plugin.rs
  apollo-router/src/query_planner/execution.rs
  apollo-router/src/services/connector_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

separate processing of input types and output keys
  apollo-federation/src/sources/connect/expand/mod.rs
  apollo-federation/src/sources/connect/expand/tests/schemas/realistic.graphql
  apollo-federation/src/sources/connect/expand/tests/schemas/realistic.yaml
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_realistic_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_realistic_supergraph-3.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_realistic_supergraph.snap
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Minimal changes to support all spans being measured
  Cargo.lock
  apollo-router/Cargo.toml
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/README.md
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/intern.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/mod.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/model/mod.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/model/unified_tags.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/model/v03.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/model/v05.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/mod.rs
  apollo-router/src/plugins/telemetry/tracing/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas
