Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

.github/CODEOWNERS:

/docs/ @apollographql/docs
/.changesets/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect @apollographql/connectors
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router/src/plugins/connectors @apollographql/connectors
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas

Remove the ability to auto-upgrade a router configuration at runtime
  apollo-router/src/configuration/mod.rs
  apollo-router/src/configuration/schema.rs
  apollo-router/src/configuration/tests.rs
  apollo-router/src/orbiter/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

Refine the warning message a little
  apollo-router/src/configuration/schema.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix test
  apollo-router/tests/integration/fixtures/coprocessor_demand_control.router.yaml
Owners: @apollographql/polaris, @apollographql/atlas

Update the documentation
  docs/source/reference/router/configuration.mdx
Owners: @apollographql/docs

Add an entry into the upgrade guide now that I have a PR number
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

Rename RouterLimits plugin to LicenseEnforcement
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/license_enforcement/mod.rs
  apollo-router/src/plugins/mod.rs
  apollo-router/src/router_factory.rs
Owners: @apollographql/polaris, @apollographql/atlas

Move license enforcement to before the healthcheck
  apollo-router/src/router_factory.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add better context config for coprocessor to help migration (#6752)
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/context/mod.rs
  apollo-router/src/plugins/authentication/mod.rs
  apollo-router/src/plugins/authorization/mod.rs
  apollo-router/src/plugins/coprocessor/execution.rs
  apollo-router/src/plugins/coprocessor/mod.rs
  apollo-router/src/plugins/coprocessor/supergraph.rs
  apollo-router/src/plugins/coprocessor/test.rs
  apollo-router/src/plugins/demand_control/mod.rs
  apollo-router/src/plugins/expose_query_plan.rs
  apollo-router/src/plugins/mod.rs
  apollo-router/src/plugins/progressive_override/mod.rs
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/src/query_planner/caching_query_planner.rs
  apollo-router/src/services/layers/apq.rs
  apollo-router/src/services/supergraph/service.rs
  apollo-router/tests/integration/fixtures/coprocessor_demand_control.router.yaml
  docs/source/reference/upgrade/from-router-v1.mdx
  docs/source/routing/customization/coprocessor.mdx
  docs/source/routing/customization/overview.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

Fix tests which relied on automatic migration to work
  apollo-router/tests/integration/query_planner/max_evaluated_plans.rs
  apollo-router/tests/samples/enterprise/entity-cache/private/configuration.yaml
Owners: @apollographql/polaris, @apollographql/atlas

Change RouterLimits to LicenseEnforcement (#6778)
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/license_enforcement/mod.rs
  apollo-router/src/plugins/mod.rs
  apollo-router/src/router_factory.rs
Owners: @apollographql/polaris, @apollographql/atlas

Fix another test with old configuration
  apollo-router/tests/samples/enterprise/entity-cache/defer/configuration.yaml
Owners: @apollographql/polaris, @apollographql/atlas

prep release: v1.60.1-rc.1
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.template.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.template.toml
  apollo-router/Cargo.toml
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  licenses.html
  scripts/install.sh
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

prep release: v1.60.1
  .changesets/fix_bnjjj_fix_6441.md
  .changesets/fix_bryn_header_propagation_or.md
  CHANGELOG.md
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.template.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.template.toml
  apollo-router/Cargo.toml
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  licenses.html
  scripts/install.sh
Owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

Remove the ability to auto-upgrade a router configuration at runtime (#6777)
  apollo-router/src/configuration/mod.rs
  apollo-router/src/configuration/schema.rs
  apollo-router/src/configuration/tests.rs
  apollo-router/src/orbiter/mod.rs
  apollo-router/tests/integration/query_planner/max_evaluated_plans.rs
  apollo-router/tests/samples/enterprise/entity-cache/defer/configuration.yaml
  apollo-router/tests/samples/enterprise/entity-cache/private/configuration.yaml
  docs/source/reference/router/configuration.mdx
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

prep release: v1.60.1
  .changesets/fix_bnjjj_fix_6441.md
  .changesets/fix_bryn_header_propagation_or.md
  CHANGELOG.md
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.template.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.template.toml
  apollo-router/Cargo.toml
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  licenses.html
  scripts/install.sh
Owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

update resource attribute docs
  docs/source/routing/observability/telemetry/log-exporters/overview.mdx
  docs/source/routing/observability/telemetry/metrics-exporters/overview.mdx
  docs/source/routing/observability/telemetry/trace-exporters/overview.mdx
Owners: @apollographql/docs

Update schema snapshot
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
Owners: @apollographql/polaris, @apollographql/atlas

k8s.namespace rather than services.namespace
  docs/source/routing/observability/telemetry/log-exporters/overview.mdx
  docs/source/routing/observability/telemetry/metrics-exporters/overview.mdx
  docs/source/routing/observability/telemetry/trace-exporters/overview.mdx
Owners: @apollographql/docs

Move the rest of the license enforcement functionality into plugin
  apollo-router/src/axum_factory/axum_http_server_factory.rs
  apollo-router/src/axum_factory/tests.rs
  apollo-router/src/axum_factory/utils.rs
  apollo-router/src/http_server_factory.rs
  apollo-router/src/plugins/license_enforcement/mod.rs
  apollo-router/src/plugins/license_enforcement/snapshots/apollo_router__plugins__license_enforcement__test__license_halt@logs.snap
  apollo-router/src/plugins/license_enforcement/snapshots/apollo_router__plugins__license_enforcement__test__license_warn@logs.snap
  apollo-router/src/plugins/telemetry/span_factory.rs
  apollo-router/src/state_machine.rs
  apollo-router/src/test_harness.rs
Owners: @apollographql/polaris, @apollographql/atlas

Lint
  apollo-router/src/axum_factory/utils.rs
Owners: @apollographql/polaris, @apollographql/atlas

Fix backpressure for compute jobs (#6761)
  apollo-router/Cargo.toml
  apollo-router/src/ageing_priority_queue.rs
  apollo-router/src/cache/mod.rs
  apollo-router/src/compute_job.rs
  apollo-router/src/error.rs
  apollo-router/src/introspection.rs
  apollo-router/src/lib.rs
  apollo-router/src/query_planner/caching_query_planner.rs
  apollo-router/src/query_planner/query_planner_service.rs
  apollo-router/src/services/layers/query_analysis.rs
  apollo-router/src/services/query_planner.rs
  apollo-router/src/services/supergraph/service.rs
  apollo-router/src/spec/mod.rs
  apollo-router/src/spec/query.rs
  apollo-router/tests/compute_backpressure.rs
  docs/source/routing/observability/telemetry/instrumentation/standard-instruments.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

Add upgrade_subgraphs_if_necessary port from JS code (#6488)
  apollo-federation/src/schema/mod.rs
  apollo-federation/src/schema/schema_upgrader.rs
  apollo-federation/src/supergraph/subgraph.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Add tests for multipart/form-data
  apollo-router/src/plugins/csrf/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

Fix file uploads tests This requires that an extra header is sent to allow it to pass cors.
  apollo-router/tests/fixtures/file_upload/default.router.yaml
  apollo-router/tests/fixtures/file_upload/large.router.yaml
Owners: @apollographql/polaris, @apollographql/atlas

fix: connectors, pqs, and __typename (#6775)
  apollo-federation/src/sources/connect/json_selection/selection_set.rs
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/tests/samples/enterprise/connectors-pqs/README.md
  apollo-router/tests/samples/enterprise/connectors-pqs/configuration.yaml
  apollo-router/tests/samples/enterprise/connectors-pqs/http_snapshots.json
  apollo-router/tests/samples/enterprise/connectors-pqs/manifest.json
  apollo-router/tests/samples/enterprise/connectors-pqs/plan.json
  apollo-router/tests/samples/enterprise/connectors-pqs/supergraph.graphql
  apollo-router/tests/samples/enterprise/connectors-pqs/supergraph.yaml
Owners: @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

add more details on some of the key features in router 2.0
  CHANGELOG.md
Owners: none

copyedit to What's New
  docs/source/routing/about-v2.mdx
Owners: @apollographql/docs

subtitle
  docs/source/routing/about-v2.mdx
Owners: @apollographql/docs

DOC-260 router 1.x info page
  docs/source/routing/about-v1.mdx
Owners: @apollographql/docs

copyedits and fixes
  docs/source/routing/about-v1.mdx
Owners: @apollographql/docs

fix changelog link
  docs/source/routing/about-v1.mdx
Owners: @apollographql/docs

Add CHANGELOG.md entry for migrating to GA config
  CHANGELOG.md
  apollo-router/src/configuration/migrations/0036-preview_connectors_subgraphs.yaml
Owners: @apollographql/polaris, @apollographql/atlas

Update selectors doc with response mapping problem selectors
  docs/source/routing/observability/telemetry/instrumentation/selectors.mdx
Owners: @apollographql/docs

Move preview_connectors config to connectors for GA
  apollo-router/src/configuration/connector.rs
  apollo-router/src/configuration/expansion.rs
  apollo-router/src/configuration/metrics.rs
  apollo-router/src/configuration/migrations/0035-preview_connectors.yaml
  apollo-router/src/configuration/migrations/0036-preview_connectors_subgraphs.yaml
  apollo-router/src/configuration/snapshots/apollo_router__configuration__expansion__test__dev_mode.snap
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__upgrade_old_configuration@connectors_preview.router.yaml.snap
  apollo-router/src/configuration/testdata/metrics/connectors.router.yaml
  apollo-router/src/configuration/testdata/migrations/connectors_preview.router.yaml
  apollo-router/src/plugins/connectors/configuration.rs
  apollo-router/src/plugins/connectors/plugin.rs
  apollo-router/src/plugins/connectors/tests/mod.rs
  apollo-router/src/router_factory.rs
  apollo-router/src/services/connector_service.rs
  apollo-router/tests/common.rs
  apollo-router/tests/samples/enterprise/connectors-debugging/configuration.yaml
  apollo-router/tests/samples/enterprise/connectors-defer/configuration.yaml
  apollo-router/tests/samples/enterprise/connectors-demand-control/configuration.yaml
  apollo-router/tests/samples/enterprise/connectors/configuration.yaml
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/connectors

Add proper changelog entry for connectors GA config
  .changesets/feat_pubmodmatt_connectors_ga_config.md
  CHANGELOG.md
Owners: @apollographql/docs

Update config in connectors-pqs test
  apollo-router/tests/samples/enterprise/connectors-pqs/configuration.yaml
Owners: @apollographql/polaris, @apollographql/atlas

Fix missing directive def signature to account for JS returning undefined
  apollo-federation/src/schema/blueprint.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Adjust test setup for CSRF order change
  apollo-router/tests/common.rs
  apollo-router/tests/fixtures/file_upload/default.router.yaml
  apollo-router/tests/fixtures/file_upload/large.router.yaml
  apollo-router/tests/integration/telemetry/metrics.rs
Owners: @apollographql/polaris, @apollographql/atlas

Remove unused code
  apollo-router/tests/common.rs
Owners: @apollographql/polaris, @apollographql/atlas

Update the layer inventory for order changes
  dev-docs/layer-inventory.md
Owners: none
