Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

fix(fleet_detector): fix inference of cgroup support
  apollo-router/src/plugins/fleet_detector.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix(fleet_detector): fix type for linux systems
  apollo-router/src/plugins/fleet_detector.rs
Owners: @apollographql/polaris, @apollographql/atlas

chore: add changeset
  .changesets/fix_can_hydrant_green_assistant.md
Owners: @apollographql/docs

fix(fleet_detector): fix type
  apollo-router/src/plugins/fleet_detector.rs
Owners: @apollographql/polaris, @apollographql/atlas

additions to cors and context keys
  CHANGELOG.md
Owners: none

Move preview_connectors config to connectors for GA (#6699)
  .changesets/feat_pubmodmatt_connectors_ga_config.md
  apollo-router/src/configuration/connector.rs
  apollo-router/src/configuration/expansion.rs
  apollo-router/src/configuration/metrics.rs
  apollo-router/src/configuration/migrations/0035-preview_connectors.yaml
  apollo-router/src/configuration/migrations/0036-preview_connectors_subgraphs.yaml
  apollo-router/src/configuration/snapshots/apollo_router__configuration__expansion__test__dev_mode.snap
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__upgrade_old_configuration@connectors_preview.router.yaml.snap
  apollo-router/src/configuration/testdata/metrics/connectors.router.yaml
  apollo-router/src/configuration/testdata/migrations/connectors_preview.router.yaml
  apollo-router/src/plugins/connectors/configuration.rs
  apollo-router/src/plugins/connectors/plugin.rs
  apollo-router/src/plugins/connectors/tests/mod.rs
  apollo-router/src/router_factory.rs
  apollo-router/src/services/connector_service.rs
  apollo-router/tests/common.rs
  apollo-router/tests/samples/enterprise/connectors-debugging/configuration.yaml
  apollo-router/tests/samples/enterprise/connectors-defer/configuration.yaml
  apollo-router/tests/samples/enterprise/connectors-demand-control/configuration.yaml
  apollo-router/tests/samples/enterprise/connectors-pqs/configuration.yaml
  apollo-router/tests/samples/enterprise/connectors/configuration.yaml
  docs/source/routing/observability/telemetry/instrumentation/selectors.mdx
Owners: @apollographql/docs, @apollographql/polaris, @apollographql/atlas, @apollographql/connectors

Fix backpressure for compute jobs (#6761)
  apollo-router/Cargo.toml
  apollo-router/src/ageing_priority_queue.rs
  apollo-router/src/cache/mod.rs
  apollo-router/src/compute_job.rs
  apollo-router/src/error.rs
  apollo-router/src/introspection.rs
  apollo-router/src/lib.rs
  apollo-router/src/query_planner/caching_query_planner.rs
  apollo-router/src/query_planner/query_planner_service.rs
  apollo-router/src/services/layers/query_analysis.rs
  apollo-router/src/services/query_planner.rs
  apollo-router/src/services/router/service.rs
  apollo-router/src/services/supergraph/service.rs
  apollo-router/src/spec/mod.rs
  apollo-router/src/spec/query.rs
  apollo-router/tests/compute_backpressure.rs
  docs/source/routing/observability/telemetry/instrumentation/standard-instruments.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

change error message for unsupported options for `router config upgrade`
  apollo-router/src/configuration/upgrade.rs
Owners: @apollographql/polaris, @apollographql/atlas

change error message for unsupported options for `router config upgrade` (#6788)
  apollo-router/src/configuration/upgrade.rs
Owners: @apollographql/polaris, @apollographql/atlas

Adjust plugin order to correct interaction with telemetry & traffic shaping (#6757)
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/csrf/fixtures/default.router.yaml
  apollo-router/src/plugins/csrf/fixtures/required_headers.router.yaml
  apollo-router/src/plugins/csrf/fixtures/unsafe_disabled.router.yaml
  apollo-router/src/plugins/csrf/mod.rs
  apollo-router/src/router_factory.rs
  apollo-router/tests/common.rs
  apollo-router/tests/fixtures/file_upload/default.router.yaml
  apollo-router/tests/fixtures/file_upload/large.router.yaml
  apollo-router/tests/integration/telemetry/metrics.rs
  dev-docs/layer-inventory.md
Owners: @apollographql/polaris, @apollographql/atlas

2.0.0 changelog for review (#6759)
  CHANGELOG.md
  dev-docs/HYPER_1.0_REVIEW_NOTES.md
  dev-docs/HYPER_1.0_UPDATE.md
Owners: none

refactor(router): update log messaging to be coprocessor
  apollo-router/src/plugins/coprocessor/execution.rs
  apollo-router/src/plugins/coprocessor/mod.rs
  apollo-router/src/plugins/coprocessor/supergraph.rs
Owners: @apollographql/polaris, @apollographql/atlas

prep release: v2.0.0-rc.0
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router/Cargo.toml
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  licenses.html
  scripts/install.sh
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

Remove mutex from apollo telemetry exporter
  apollo-router/src/plugins/telemetry/apollo_otlp_exporter.rs
  apollo-router/src/plugins/telemetry/tracing/apollo_telemetry.rs
Owners: @apollographql/polaris, @apollographql/atlas

refactor(docs): update docs to use same language as router config
  docs/source/reference/router/rhai.mdx
Owners: @apollographql/docs

ready for merge
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

edit the coprocessors entry a bit
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

review tweaks
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

ci(Mergify): configuration update (#23)
  .mergify/config.yml
Owners: none

Update README.md
  README.md
Owners: none

ci(Mergify): configuration update
  .mergify.yml
Owners: none

Add CHANGELOG for missing PR 6733 and 6651 (fragment generation compression)
  CHANGELOG.md
Owners: none

Update .mergify.yml
  .mergify.yml
Owners: none

Lint
  apollo-router/src/plugins/telemetry/apollo_otlp_exporter.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add warning to set_resource This is OK as it doesn't happen during export.
  apollo-router/src/plugins/telemetry/tracing/apollo_telemetry.rs
Owners: @apollographql/polaris, @apollographql/atlas

Hide `...` ellipsis for inline `PathWithSubSelection`.
  apollo-federation/src/sources/connect/json_selection/pretty.rs
Owners: @apollographql/connectors

fix: lint fix
  apollo-router/src/plugins/fleet_detector.rs
Owners: @apollographql/polaris, @apollographql/atlas

ci(Mergify): configuration update (#6793)
  .mergify.yml
Owners: none

Change RouterLimits to LicenseEnforcement (#6778)
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/license_enforcement/mod.rs
  apollo-router/src/plugins/mod.rs
  apollo-router/src/router_factory.rs
Owners: @apollographql/polaris, @apollographql/atlas

invalid enum integration tests
  apollo-router/tests/apollo_reports.rs
  apollo-router/tests/fixtures/products.graphql
  apollo-router/tests/fixtures/supergraph.graphql
Owners: @apollographql/polaris, @apollographql/atlas

Add ability to specify path as regex in snapshots
  Cargo.lock
  apollo-router/Cargo.toml
  apollo-router/src/test_harness/http_snapshot.rs
Owners: @apollographql/polaris, @apollographql/atlas

Port onGraphQLJSValidationError as on_apollo_rs_validation_error
  apollo-federation/src/schema/blueprint.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Update docs/source/routing/about-v2.mdx
  docs/source/routing/about-v2.mdx
Owners: @apollographql/docs

Update docs/source/routing/about-v2.mdx
  docs/source/routing/about-v2.mdx
Owners: @apollographql/docs

Update docs/source/routing/about-router.mdx
  docs/source/routing/about-router.mdx
Owners: @apollographql/docs

Apply suggestions from code review
  docs/source/routing/about-v1.mdx
Owners: @apollographql/docs

docs: router 1.x info (#6785)
  docs/source/routing/about-v1.mdx
Owners: @apollographql/docs

Hide leading `...` for inline `PathWithSubSelection` (#6783)
  apollo-federation/src/sources/connect/json_selection/pretty.rs
Owners: @apollographql/connectors

Update rustdoc and improve error handling
  apollo-router/src/test_harness/http_snapshot.rs
Owners: @apollographql/polaris, @apollographql/atlas

copyedits
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

.github/CODEOWNERS:

/docs/ @apollographql/docs
/.changesets/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect @apollographql/connectors
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router/src/plugins/connectors @apollographql/connectors
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas
