Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

.github/CODEOWNERS:

/docs/ @apollographql/docs
/.changesets/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect @apollographql/connectors
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router/src/plugins/connectors @apollographql/connectors
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas

refactor: adjusted debug tracing output for the public correctness functions
  apollo-federation/src/correctness/mod.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

refactor: simplified iterator usages and lifetime parameters
  apollo-federation/src/correctness/query_plan_analysis.rs
  apollo-federation/src/correctness/response_shape_compare.rs
  apollo-federation/src/correctness/subgraph_constraint.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

refactor: another iterator clean-up
  apollo-federation/src/correctness/response_shape_compare.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

refactor: removed the prematurely included soundness check
  apollo-federation/src/correctness/query_plan_analysis.rs
  apollo-federation/src/correctness/response_shape.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

refactor: revamped the correctness error types
  apollo-federation/cli/src/main.rs
  apollo-federation/src/correctness/mod.rs
  apollo-federation/src/correctness/response_shape_compare.rs
  apollo-federation/src/correctness/subgraph_constraint.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

refactor: feature-gated the `correctness` module
  apollo-federation/Cargo.toml
  apollo-federation/cli/Cargo.toml
  apollo-federation/src/lib.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

added a few comments
  apollo-federation/Cargo.toml
  apollo-federation/src/correctness/mod.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

cargo xtask lint
  apollo-federation/src/correctness/mod.rs
  apollo-federation/src/correctness/response_shape.rs
  apollo-federation/src/correctness/response_shape_compare.rs
  apollo-federation/src/correctness/subgraph_constraint.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

feat(federation): query plan correctness checker (#6498)
  apollo-federation/Cargo.toml
  apollo-federation/cli/Cargo.toml
  apollo-federation/cli/src/main.rs
  apollo-federation/src/correctness/mod.rs
  apollo-federation/src/correctness/query_plan_analysis.rs
  apollo-federation/src/correctness/query_plan_analysis_test.rs
  apollo-federation/src/correctness/response_shape.rs
  apollo-federation/src/correctness/response_shape_compare.rs
  apollo-federation/src/correctness/response_shape_test.rs
  apollo-federation/src/correctness/subgraph_constraint.rs
  apollo-federation/src/lib.rs
  apollo-federation/src/query_plan/query_planner.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Move to helper function
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/telemetry/tracing/apollo_telemetry.rs
Owners: @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

Demand control error span events
  apollo-router/src/plugins/demand_control/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

Revert "feat(plugin):`router_limits` plugin added (#6598)"
  .changesets/feat_router_limits_plugin.md
  apollo-router/src/axum_factory/axum_http_server_factory.rs
  apollo-router/src/axum_factory/utils.rs
  apollo-router/src/configuration/metrics.rs
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/metrics/mod.rs
  apollo-router/src/orbiter/mod.rs
  apollo-router/src/plugin/mod.rs
  apollo-router/src/plugins/connectors/tests/mod.rs
  apollo-router/src/plugins/include_subgraph_errors.rs
  apollo-router/src/plugins/limits/mod.rs
  apollo-router/src/plugins/mod.rs
  apollo-router/src/plugins/router_limits/mod.rs
  apollo-router/src/plugins/subscription.rs
  apollo-router/src/plugins/telemetry/span_factory.rs
  apollo-router/src/plugins/test.rs
  apollo-router/src/plugins/traffic_shaping/mod.rs
  apollo-router/src/router_factory.rs
  apollo-router/src/services/router/service.rs
  apollo-router/src/services/supergraph/service.rs
  apollo-router/src/state_machine.rs
  apollo-router/src/test_harness.rs
  apollo-router/src/uplink/license_enforcement.rs
  apollo-router/src/uplink/license_stream.rs
Owners: @apollographql/docs, @apollographql/polaris, @apollographql/atlas, @apollographql/connectors

remove now-irrelevant bits
  dev-docs/layer-inventory.md
Owners: none

docs
  docs/source/reference/upgrade/from-router-v1.mdx
  docs/source/routing/customization/coprocessor.mdx
Owners: @apollographql/docs

change configuration
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/coprocessor/execution.rs
  apollo-router/src/plugins/coprocessor/mod.rs
  apollo-router/src/plugins/coprocessor/supergraph.rs
  apollo-router/src/plugins/coprocessor/test.rs
  docs/source/reference/upgrade/from-router-v1.mdx
  docs/source/routing/customization/coprocessor.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

Use HTTP 503 Service Unavailable for free plan rate limit
  apollo-router/src/plugins/router_limits/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

Use HTTP 503 Service Unavailable for free plan rate limit (#6753)
  apollo-router/src/plugins/router_limits/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

config upgrade step
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

footnotes not supported
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

Structured logging
  apollo-router/src/compute_job.rs
  apollo-router/src/executable.rs
Owners: @apollographql/polaris, @apollographql/atlas

snap
  apollo-router/src/services/layers/persisted_queries/snapshots/apollo_router__services__layers__persisted_queries__tests__pq_layer_freeform_graphql_with_safelist_log_unknown_true@logs.snap
Owners: @apollographql/polaris, @apollographql/atlas

Reduce demand control allocations on start/reload; skip type processing when disabled
  apollo-router/src/plugins/demand_control/cost_calculator/schema.rs
  apollo-router/src/plugins/demand_control/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

Preallocate capacity for inner field maps in addition to outer type maps
  apollo-router/src/plugins/demand_control/cost_calculator/schema.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add changeset
  .changesets/maint_tninesling_skip_disabled_dc_plugin.md
Owners: @apollographql/docs

update response code
  docs/source/routing/about-router.mdx
Owners: @apollographql/docs

remove unused imports
  docs/source/routing/observability/telemetry/trace-exporters/jaeger.mdx
Owners: @apollographql/docs

fix import path
  docs/source/routing/observability/telemetry/index.mdx
Owners: @apollographql/docs

copyedit from review comment
  docs/source/routing/observability/telemetry/instrumentation/events.mdx
Owners: @apollographql/docs

DOC-356 draft router v2 info page
  docs/source/routing/about-v2.mdx
Owners: @apollographql/docs

DOC-260 draft router v1.x info page
  docs/source/routing/about-v1.mdx
Owners: @apollographql/docs

test(federation-cli): enable log printing from apollo-federation-cli (#6717)
  Cargo.lock
  apollo-federation/cli/Cargo.toml
  apollo-federation/cli/src/main.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fixed the merge conflict
  apollo-federation/cli/src/main.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fix: fixed the compliance error (RUSTSEC-2025-0006)
  Cargo.lock
Owners: none

Add changeset
  .changesets/feat_trace_span_error_code.md
Owners: @apollographql/docs

add highlights
  docs/source/routing/about-v2.mdx
Owners: @apollographql/docs

config path is a positional argument
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

Call it Preview so we can merge the improvements pre-release
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

Update docs/source/reference/upgrade/from-router-v1.mdx
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

put back context keys docs
  docs/source/routing/customization/overview.mdx
Owners: @apollographql/docs

fix: fixed the compliance error (RUSTSEC-2025-0006) (#6756)
  Cargo.lock
Owners: none
