Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @benjamn, @apollographql/polaris, @apollographql/atlas

.github/CODEOWNERS:

/docs/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect/json_selection @benjamn
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas

Update CHANGELOG.md (#5610)
  CHANGELOG.md
Owners: none

Fix tests failing dure to missing removal of gated features
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/model/v05.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add `span_metrics` to docs and fix some other minor issues on the same page.
  docs/source/configuration/telemetry/exporters/tracing/datadog.mdx
Owners: @apollographql/docs

Changelog and minor docs fixes
  .changesets/fix_bryn_datadog_exporter_span_kind.md
  .changesets/fix_bryn_datadog_exporter_span_metrics.md
  docs/source/configuration/telemetry/exporters/tracing/datadog.mdx
Owners: @apollographql/docs

fix(deps): update all non-major packages >= 1.0, but not rhai (#5612)
  Cargo.lock
  dockerfiles/tracing/datadog-subgraph/package-lock.json
  dockerfiles/tracing/datadog-subgraph/package.json
  dockerfiles/tracing/jaeger-subgraph/package-lock.json
  dockerfiles/tracing/jaeger-subgraph/package.json
  dockerfiles/tracing/zipkin-subgraph/package-lock.json
  dockerfiles/tracing/zipkin-subgraph/package.json
Owners: none

Lint
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

Request timeout and rate limited error responses are structured errors (#5578)
  .changesets/fix_timeout_and_rate_limit_error.md
  apollo-router/src/axum_factory/axum_http_server_factory.rs
  apollo-router/src/axum_factory/tests.rs
  apollo-router/src/layers/map_future_with_request_data.rs
  apollo-router/src/plugins/traffic_shaping/mod.rs
  apollo-router/src/plugins/traffic_shaping/rate/error.rs
  apollo-router/src/plugins/traffic_shaping/timeout/error.rs
  apollo-router/tests/integration/batching.rs
  apollo-router/tests/integration/mod.rs
  apollo-router/tests/integration/snapshots/integration_tests__integration__traffic_shaping__router_rate_limit-2.snap
  apollo-router/tests/integration/snapshots/integration_tests__integration__traffic_shaping__router_rate_limit.snap
  apollo-router/tests/integration/snapshots/integration_tests__integration__traffic_shaping__router_timeout.snap
  apollo-router/tests/integration/snapshots/integration_tests__integration__traffic_shaping__subgraph_rate_limit-2.snap
  apollo-router/tests/integration/snapshots/integration_tests__integration__traffic_shaping__subgraph_rate_limit.snap
  apollo-router/tests/integration/snapshots/integration_tests__integration__traffic_shaping__subgraph_timeout.snap
  apollo-router/tests/integration/traffic_shaping.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix(federation): remove temporary allocation from FieldsConflictValidator::for_field
  apollo-federation/src/operation/optimize.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fix(federation): remove some temporary allocations from `FieldsConflictValidator::for_level`
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/optimize.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

include invalidation logic in endpoint
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/src/plugins/cache/invalidation.rs
  apollo-router/src/plugins/cache/invalidation_endpoint.rs
Owners: @apollographql/polaris, @apollographql/atlas

Small tweaks
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/optimize.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fix(federation): move things around to match JS implementation
  apollo-federation/src/operation/optimize.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

lint
  apollo-federation/src/operation/optimize.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fix(federation): add missing condition
  apollo-federation/src/operation/optimize.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): remove excessive selection set re-building
  apollo-federation/src/operation/optimize.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): restrict helper methods to cfg(test)
  apollo-federation/src/operation/optimize.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

wiop
  apollo-router/src/configuration/schema.rs
  apollo-router/src/plugins/cache/invalidation.rs
  apollo-router/src/plugins/cache/invalidation_endpoint.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix closing MinVersion
  docs/source/configuration/overview.mdx
Owners: @apollographql/docs

Add request bodies to Connectors HTTP requests
  apollo-federation/src/sources/connect/models/mod.rs
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/connectors/http_json_transport.rs
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/src/plugins/connectors/plugin.rs
  apollo-router/src/plugins/connectors/testdata/mutation.graphql
  apollo-router/src/plugins/connectors/testdata/mutation.yaml
  apollo-router/src/plugins/connectors/tests.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

Add request bodies to Connectors HTTP requests (#5616)
  apollo-federation/src/sources/connect/models/mod.rs
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/connectors/http_json_transport.rs
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/src/plugins/connectors/plugin.rs
  apollo-router/src/plugins/connectors/testdata/mutation.graphql
  apollo-router/src/plugins/connectors/testdata/mutation.yaml
  apollo-router/src/plugins/connectors/tests.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

Add connect tracing span
  Cargo.lock
  apollo-router/Cargo.toml
  apollo-router/src/plugins/connectors/mod.rs
  apollo-router/src/plugins/connectors/tests.rs
  apollo-router/src/plugins/connectors/tracing.rs
  apollo-router/src/query_planner/execution.rs
  apollo-router/src/services/fetch_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

Move connect span inside fetch span for original subgraph
  apollo-router/src/services/connector_service.rs
  apollo-router/src/services/fetch_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add connect tracing span (#5602)
  Cargo.lock
  apollo-router/Cargo.toml
  apollo-router/src/plugins/connectors/mod.rs
  apollo-router/src/plugins/connectors/tests.rs
  apollo-router/src/plugins/connectors/tracing.rs
  apollo-router/src/query_planner/execution.rs
  apollo-router/src/services/connector_service.rs
  apollo-router/src/services/fetch_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

Remove unnecessary cache warmup message displayed on router startup
  apollo-router/src/query_planner/caching_query_planner.rs
Owners: @apollographql/polaris, @apollographql/atlas

docs: fix closing MinVersion (#5615)
  docs/source/configuration/overview.mdx
Owners: @apollographql/docs

fix(rhai): provide a valid trace id even if the trace isn't sampled (#5606)
  .changesets/fix_bnjjj_fix_rhai_traceid.md
  apollo-router/src/plugins/rhai/engine.rs
Owners: @apollographql/polaris, @apollographql/atlas

Allow query batching and entity caching to work together (#5598)
  .changesets/fix_garypen_router_411_batching_entity_caching.md
  apollo-router/src/plugins/cache/entity.rs
  docs/source/executing-operations/query-batching.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

fix(federation): memoize fragment restrictions at type
  apollo-federation/src/operation/optimize.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(ci): Enable Codecov
  .circleci/config.yml
Owners: none

REVERT THIS COMMIT: Run codecov always for this PR test
  .circleci/config.yml
Owners: none

fix(federation): remove temporary string allocations from position `try_get()` errors (#5605)
  apollo-federation/src/schema/position.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fix(federation): remove temporary string allocations from position `try_from()` errors
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/rebase.rs
  apollo-federation/src/query_graph/mod.rs
  apollo-federation/src/query_plan/fetch_dependency_graph.rs
  apollo-federation/src/schema/position.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(deps): update cargo pre-1.0 packages
  Cargo.lock
  apollo-router-scaffold/Cargo.toml
  apollo-router/Cargo.toml
Owners: @apollographql/polaris, @apollographql/atlas

only update the cache key if it was not a known private query
  apollo-router/src/plugins/cache/entity.rs
Owners: @apollographql/polaris, @apollographql/atlas

Doc comments
  apollo-federation/src/schema/position.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): reuse EXPECTED consts
  apollo-federation/src/schema/position.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): reuse EXPECTED consts, part 2
  apollo-federation/src/schema/position.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Add support for invalidation by subgraph name and/or type name
  apollo-router/src/plugins/cache/invalidation.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add 'subgraph_on_graphql_error' selector for subgraph
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/telemetry/config_new/selectors.rs
  docs/source/configuration/telemetry/instrumentation/selectors.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

add changelog
  .changesets/feat_bnjjj_feat_284.md
Owners: none
