Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

Add clear error message when connect link version is wrong
  apollo-federation/src/sources/connect/spec/mod.rs
  apollo-federation/src/sources/connect/validation/mod.rs
  apollo-federation/src/sources/connect/validation/snapshots/validation_tests@connect_spec_version_error.graphql.snap
  apollo-federation/src/sources/connect/validation/test_data/connect_spec_version_error.graphql
Owners: @apollographql/connectors

Create new config object for connectors traffic shaping so we can remove deduplicate query from the options
  apollo-router/src/plugins/traffic_shaping/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add test for large body. Add timing check to all validation snapshot tests.
  apollo-federation/src/sources/connect/validation/mod.rs
  apollo-federation/src/sources/connect/validation/snapshots/validation_tests@valid_large_body.graphql.snap
  apollo-federation/src/sources/connect/validation/test_data/valid_large_body.graphql
Owners: @apollographql/connectors

Upgrade shape-rs to fix validation timing
  Cargo.lock
  apollo-federation/Cargo.toml
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Hide double-shutdown log occurring on hot reloads (#6725)
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/tests/common.rs
  apollo-router/tests/integration/telemetry/metrics.rs
  apollo-router/tests/integration/telemetry/otlp.rs
Owners: @apollographql/polaris, @apollographql/atlas

Test & fix validation speeds (#6741)
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-federation/src/sources/connect/validation/mod.rs
  apollo-federation/src/sources/connect/validation/snapshots/validation_tests@valid_large_body.graphql.snap
  apollo-federation/src/sources/connect/validation/test_data/valid_large_body.graphql
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/connectors

Add clear error message when connect link version is wrong (#6740)
  apollo-federation/src/sources/connect/spec/mod.rs
  apollo-federation/src/sources/connect/validation/mod.rs
  apollo-federation/src/sources/connect/validation/snapshots/validation_tests@connect_spec_version_error.graphql.snap
  apollo-federation/src/sources/connect/validation/test_data/connect_spec_version_error.graphql
Owners: @apollographql/connectors

Remove deduplicate_query code for connectors
  apollo-router/src/plugins/connectors/http_json_transport.rs
  apollo-router/src/plugins/traffic_shaping/connector_deduplication.rs
  apollo-router/src/plugins/traffic_shaping/mod.rs
  apollo-router/src/services/connector/request_service/transport/http.rs
Owners: @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

Add dhat test for connectors validation
  .gitignore
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-federation/tests/connectors/mod.rs
  apollo-federation/tests/connectors/validation.rs
  apollo-federation/tests/main.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Record trace event instead of attribute
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/telemetry/consts.rs
  apollo-router/src/plugins/telemetry/fmt_layer.rs
Owners: @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

Send span events through to apollo otel collector
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/telemetry/apollo_otlp_exporter.rs
  apollo-router/src/plugins/telemetry/tracing/apollo_telemetry.rs
  apollo-router/src/services/connector/request_service.rs
Owners: @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

prep release: v2.0.0-preview.6
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router/Cargo.toml
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  licenses.html
  scripts/install.sh
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

prep release: v1.60.1-rc.0
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.template.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.template.toml
  apollo-router/Cargo.toml
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  licenses.html
  scripts/install.sh
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

prep release: v2.0.0-preview.6 (#6745)
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router/Cargo.toml
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  licenses.html
  scripts/install.sh
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

add tests
  apollo-router/src/plugins/coprocessor/test.rs
Owners: @apollographql/polaris, @apollographql/atlas

add tests for coprocessor
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap.new
  apollo-router/src/plugins/coprocessor/test.rs
  apollo-router/src/services/layers/persisted_queries/snapshots/apollo_router__services__layers__persisted_queries__tests__pq_layer_freeform_graphql_with_safelist_log_unknown_true@logs.snap.new
Owners: @apollographql/polaris, @apollographql/atlas

add tests for coprocessor
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap.new
  apollo-router/src/services/layers/persisted_queries/snapshots/apollo_router__services__layers__persisted_queries__tests__pq_layer_freeform_graphql_with_safelist_log_unknown_true@logs.snap.new
Owners: @apollographql/polaris, @apollographql/atlas

Add $APOLLO_ROUTER_COMPUTE_THREADS environment variable
  apollo-router/Cargo.toml
  apollo-router/src/compute_job.rs
  apollo-router/src/executable.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add assertion on total allocations
  apollo-federation/tests/connectors/validation.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Run connectors heap test in its own isolated binary
  apollo-federation/Cargo.toml
  apollo-federation/tests/connectors/mod.rs
  apollo-federation/tests/main.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Add dhat test for connectors validation (#6743)
  .gitignore
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-federation/tests/connectors/validation.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

prep release: v1.60.0
  CHANGELOG.md
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.template.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.template.toml
  apollo-router/Cargo.toml
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  licenses.html
  scripts/install.sh
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

DOC-269 call out router rate limit
  docs/source/routing/about-router.mdx
Owners: @apollographql/docs

add plan link
  docs/source/routing/about-router.mdx
Owners: @apollographql/docs

fix call out to self-hosted
  docs/source/routing/about-router.mdx
Owners: @apollographql/docs

Add contional aspect back to request logging
  docs/source/routing/observability/debugging-client-requests.mdx
Owners: @apollographql/docs

Remove samples
  docs/source/routing/observability/debugging-client-requests.mdx
Owners: @apollographql/docs

fix table
  docs/source/reference/router/configuration.mdx
Owners: @apollographql/docs

DOC-328 move router upgrade guides to upgrade dir
  docs/source/reference/upgrade/from-router-v1.mdx
  docs/source/reference/upgrade/from-router-version-0.x.mdx
Owners: @apollographql/docs

Add back samples
  docs/source/routing/observability/debugging-client-requests.mdx
Owners: @apollographql/docs

Remove errors and timeouts samples
  docs/source/routing/observability/debugging-client-requests.mdx
Owners: @apollographql/docs

fix tables
  docs/source/reference/router/configuration.mdx
Owners: @apollographql/docs

docs: update observability/telemetry overview pages (#6563)
  docs/source/reference/router/telemetry/instrumentation/conditions.mdx
  docs/source/reference/router/telemetry/instrumentation/events.mdx
  docs/source/reference/router/telemetry/instrumentation/instruments.mdx
  docs/source/reference/router/telemetry/instrumentation/selectors.mdx
  docs/source/reference/router/telemetry/instrumentation/spans.mdx
  docs/source/reference/router/telemetry/instrumentation/standard-attributes.mdx
  docs/source/reference/router/telemetry/instrumentation/standard-instruments.mdx
  docs/source/reference/router/telemetry/log-exporters/overview.mdx
  docs/source/reference/router/telemetry/log-exporters/stdout.mdx
  docs/source/reference/router/telemetry/metrics-exporters/datadog.mdx
  docs/source/reference/router/telemetry/metrics-exporters/dynatrace.mdx
  docs/source/reference/router/telemetry/metrics-exporters/new-relic.mdx
  docs/source/reference/router/telemetry/metrics-exporters/otlp.mdx
  docs/source/reference/router/telemetry/metrics-exporters/overview.mdx
  docs/source/reference/router/telemetry/metrics-exporters/prometheus.mdx
  docs/source/reference/router/telemetry/trace-exporters/datadog.mdx
  docs/source/reference/router/telemetry/trace-exporters/dynatrace.mdx
  docs/source/reference/router/telemetry/trace-exporters/jaeger.mdx
  docs/source/reference/router/telemetry/trace-exporters/new-relic.mdx
  docs/source/reference/router/telemetry/trace-exporters/otlp.mdx
  docs/source/reference/router/telemetry/trace-exporters/overview.mdx
  docs/source/reference/router/telemetry/trace-exporters/zipkin.mdx
  docs/source/routing/observability/debugging-client-requests.mdx
  docs/source/routing/observability/index.mdx
  docs/source/routing/observability/otel-traces-to-prometheus.mdx
  docs/source/routing/observability/otel.mdx
  docs/source/routing/observability/telemetry.mdx
Owners: @apollographql/docs

docs: update observability/telemetry overview pages (#6563)
  docs/source/reference/router/telemetry/instrumentation/conditions.mdx
  docs/source/reference/router/telemetry/instrumentation/events.mdx
  docs/source/reference/router/telemetry/instrumentation/instruments.mdx
  docs/source/reference/router/telemetry/instrumentation/selectors.mdx
  docs/source/reference/router/telemetry/instrumentation/spans.mdx
  docs/source/reference/router/telemetry/instrumentation/standard-attributes.mdx
  docs/source/reference/router/telemetry/instrumentation/standard-instruments.mdx
  docs/source/reference/router/telemetry/log-exporters/overview.mdx
  docs/source/reference/router/telemetry/log-exporters/stdout.mdx
  docs/source/reference/router/telemetry/metrics-exporters/datadog.mdx
  docs/source/reference/router/telemetry/metrics-exporters/dynatrace.mdx
  docs/source/reference/router/telemetry/metrics-exporters/new-relic.mdx
  docs/source/reference/router/telemetry/metrics-exporters/otlp.mdx
  docs/source/reference/router/telemetry/metrics-exporters/overview.mdx
  docs/source/reference/router/telemetry/metrics-exporters/prometheus.mdx
  docs/source/reference/router/telemetry/trace-exporters/datadog.mdx
  docs/source/reference/router/telemetry/trace-exporters/dynatrace.mdx
  docs/source/reference/router/telemetry/trace-exporters/jaeger.mdx
  docs/source/reference/router/telemetry/trace-exporters/new-relic.mdx
  docs/source/reference/router/telemetry/trace-exporters/otlp.mdx
  docs/source/reference/router/telemetry/trace-exporters/overview.mdx
  docs/source/reference/router/telemetry/trace-exporters/zipkin.mdx
  docs/source/routing/observability/debugging-client-requests.mdx
  docs/source/routing/observability/index.mdx
  docs/source/routing/observability/otel-traces-to-prometheus.mdx
  docs/source/routing/observability/otel.mdx
  docs/source/routing/observability/telemetry.mdx
Owners: @apollographql/docs

Fix merge conflict
  docs/source/reference/router/telemetry/instrumentation/standard-instruments.mdx
Owners: @apollographql/docs

Remove authorization and operation_kind which are no longer in use
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/src/services/connect.rs
  apollo-router/src/services/connector/request_service.rs
  apollo-router/src/services/fetch_service.rs
Owners: @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

Moved construction of source names to a method on Connector
  apollo-federation/src/sources/connect/models.rs
  apollo-router/src/router_factory.rs
  apollo-router/src/services/connect.rs
  apollo-router/src/services/connector/request_service.rs
  apollo-router/src/services/connector_service.rs
  apollo-router/src/services/supergraph/service.rs
Owners: @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

delete router v2 upgrade guide
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

docs: upgrade guides (backport #6675) (#6749)
  docs/source/reference/router/configuration.mdx
  docs/source/reference/upgrade/from-router-version-0.x.mdx
Owners: @apollographql/docs

refactor: moved `coerce_executable_values` call to `check_plan` function.
  apollo-federation/src/correctness/mod.rs
  apollo-federation/src/correctness/response_shape.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

.github/CODEOWNERS:

/docs/ @apollographql/docs
/.changesets/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect @apollographql/connectors
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router/src/plugins/connectors @apollographql/connectors
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas
