Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

.github/CODEOWNERS:

/docs/ @apollographql/docs
/.changesets/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect @apollographql/connectors
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router/src/plugins/connectors @apollographql/connectors
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas

Do not emit double-shutdown error message on hot reloads
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/tests/common.rs
  apollo-router/tests/integration/telemetry/metrics.rs
  apollo-router/tests/integration/telemetry/otlp.rs
Owners: @apollographql/polaris, @apollographql/atlas

Typo
  docs/source/routing/observability/telemetry.mdx
Owners: @apollographql/docs

Suggestions from review
  docs/source/routing/observability/telemetry.mdx
Owners: @apollographql/docs

DOC-279 manually apply changes from PR#6497 for dev to 1.x
  docs/shared/diagrams/router-request-lifecycle-overview.mdx
  docs/shared/router-lifecycle-services.mdx
  docs/source/reference/router/telemetry/instrumentation/events.mdx
  docs/source/reference/router/telemetry/instrumentation/spans.mdx
  docs/source/routing/customization/overview.mdx
  docs/source/routing/observability/telemetry.mdx
  docs/source/routing/request-lifecycle.mdx
  docs/source/routing/security/authorization.mdx
Owners: @apollographql/docs

docs: router request lifecycle (#6726)
  docs/shared/diagrams/router-request-lifecycle-overview.mdx
  docs/shared/router-lifecycle-services.mdx
  docs/source/reference/router/telemetry/instrumentation/events.mdx
  docs/source/reference/router/telemetry/instrumentation/spans.mdx
  docs/source/routing/customization/overview.mdx
  docs/source/routing/observability/telemetry.mdx
  docs/source/routing/request-lifecycle.mdx
  docs/source/routing/security/authorization.mdx
Owners: @apollographql/docs

Error code on connector spans
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/services/connector/request_service.rs
Owners: @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

Improvements to various items; partial progress on structuring the document
  docs/source/reference/migration/from-router-v1.mdx
Owners: @apollographql/docs

remove http.request.resend_count selector and attribute
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/telemetry/config_new/attributes.rs
  apollo-router/src/plugins/telemetry/config_new/selectors.rs
Owners: @apollographql/polaris, @apollographql/atlas

remove docs
  docs/source/reference/migration/from-router-v1.mdx
  docs/source/reference/router/telemetry/instrumentation/standard-attributes.mdx
Owners: @apollographql/docs

(fix) Header propagation rule passthrough (#6690)
  .changesets/fix_bryn_header_propagation_or.md
  apollo-router/src/plugins/headers/fixtures/propagate_passthrough.router.yaml
  apollo-router/src/plugins/headers/fixtures/propagate_passthrough_defaulted.router.yaml
  apollo-router/src/plugins/headers/mod.rs
  apollo-router/src/plugins/test.rs
  docs/source/routing/header-propagation.mdx
Owners: @apollographql/docs, @apollographql/polaris, @apollographql/atlas

(fix) Header propagation rule passthrough (#6690)
  .changesets/fix_bryn_header_propagation_or.md
  apollo-router/src/plugins/headers/fixtures/propagate_passthrough.router.yaml
  apollo-router/src/plugins/headers/fixtures/propagate_passthrough_defaulted.router.yaml
  apollo-router/src/plugins/headers/mod.rs
  apollo-router/src/plugins/test.rs
  docs/source/routing/header-propagation.mdx
Owners: @apollographql/docs, @apollographql/polaris, @apollographql/atlas

chore(federation): use attributes on debug spans instead of fmt syntax (#6719)
  apollo-federation/src/query_graph/graph_path.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Can it show diff lines like this?
  docs/source/reference/migration/from-router-v1.mdx
Owners: @apollographql/docs

Apply suggestions from code review
  .changesets/exp_bnjjj_fix_retry_metric.md
  .changesets/feat_bryn_named_runtime_channel.md
  .changesets/fix_fix_invalid_error_path.md
  .changesets/fix_tninesling_demand_control_perf.md
  .changesets/maint_simon_unbridge.md
Owners: @apollographql/docs

Add additional router configs
  docs/source/routing/observability/debugging-client-requests.mdx
Owners: @apollographql/docs

Fix headers
  docs/source/routing/observability/debugging-client-requests.mdx
Owners: @apollographql/docs

Tweaks + add configuration changes section
  docs/source/reference/migration/from-router-v1.mdx
Owners: @apollographql/docs

Copyedit
  docs/source/routing/observability/debugging-client-requests.mdx
  docs/source/routing/observability/index.mdx
Owners: @apollographql/docs

prep release: v1.60.0
  .changesets/docs_eh_instrumentation_examples.md
  .changesets/exp_bnjjj_fix_retry_metric.md
  .changesets/feat_bryn_named_runtime_channel.md
  .changesets/fix_fix_invalid_error_path.md
  .changesets/fix_junior_granddad_salami_dye.md
  .changesets/fix_query_hash_speedup.md
  .changesets/fix_simon_rayonless_sysinfo.md
  .changesets/fix_tninesling_demand_control_perf.md
  .changesets/fix_tninesling_subscription_operation_init.md
  .changesets/maint_renee_migrate_metrics_values.md
  .changesets/maint_simon_unbridge.md
  CHANGELOG.md
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.template.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.template.toml
  apollo-router/Cargo.toml
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  licenses.html
  scripts/install.sh
Owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

prep release: v1.60.0
  .changesets/docs_eh_instrumentation_examples.md
  .changesets/exp_bnjjj_fix_retry_metric.md
  .changesets/feat_bryn_named_runtime_channel.md
  .changesets/fix_fix_invalid_error_path.md
  .changesets/fix_junior_granddad_salami_dye.md
  .changesets/fix_query_hash_speedup.md
  .changesets/fix_simon_rayonless_sysinfo.md
  .changesets/fix_tninesling_demand_control_perf.md
  .changesets/fix_tninesling_subscription_operation_init.md
  .changesets/maint_renee_migrate_metrics_values.md
  .changesets/maint_simon_unbridge.md
  CHANGELOG.md
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.template.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.template.toml
  apollo-router/Cargo.toml
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  licenses.html
  scripts/install.sh
Owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

add a couple example headings with explicit upgrade steps
  docs/source/reference/migration/from-router-v1.mdx
Owners: @apollographql/docs

improve generate fragment compression (#6723)
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/optimize.rs
  apollo-federation/src/operation/selection_map.rs
  apollo-federation/src/query_plan/query_planner.rs
  apollo-federation/tests/query_plan/build_query_plan_tests/fragment_autogeneration.rs
  apollo-federation/tests/query_plan/supergraphs/works_with_key_chains.graphql
  apollo-router-benchmarks/src/shared.rs
  apollo-router/src/axum_factory/snapshots/apollo_router__axum_factory__tests__defer_is_not_buffered.snap
  apollo-router/src/plugin/test/mock/canned.rs
  apollo-router/src/plugins/authorization/tests.rs
  apollo-router/src/plugins/cache/snapshots/apollo_router__plugins__cache__tests__insert-5.snap
  apollo-router/src/plugins/cache/snapshots/apollo_router__plugins__cache__tests__insert.snap
  apollo-router/src/plugins/cache/snapshots/apollo_router__plugins__cache__tests__private-3.snap
  apollo-router/src/plugins/cache/snapshots/apollo_router__plugins__cache__tests__private-5.snap
  apollo-router/src/plugins/cache/snapshots/apollo_router__plugins__cache__tests__private.snap
  apollo-router/src/plugins/cache/tests.rs
  apollo-router/src/services/router/snapshots/apollo_router__services__router__tests__escaped_quotes_in_string_literal.snap
  apollo-router/src/services/supergraph/tests.rs
  apollo-router/tests/fixtures/type_conditions/artwork.json
  apollo-router/tests/fixtures/type_conditions/artwork_disabled.json
  apollo-router/tests/fixtures/type_conditions/artwork_query_fragments_enabled.json
  apollo-router/tests/fixtures/type_conditions/search.json
  apollo-router/tests/fixtures/type_conditions/search_list_of_list.json
  apollo-router/tests/fixtures/type_conditions/search_list_of_list_of_list.json
  apollo-router/tests/fixtures/type_conditions/search_query_fragments_enabled.json
  apollo-router/tests/samples/core/defer/plan.json
  apollo-router/tests/samples/enterprise/entity-cache/defer/plan.json
  apollo-router/tests/samples/enterprise/entity-cache/invalidation-entity-key/plan.json
  apollo-router/tests/snapshots/type_conditions___test_type_conditions_disabled-2.snap
  apollo-router/tests/snapshots/type_conditions___test_type_conditions_disabled.snap
  apollo-router/tests/snapshots/type_conditions___test_type_conditions_enabled-2.snap
  apollo-router/tests/snapshots/type_conditions___test_type_conditions_enabled.snap
  apollo-router/tests/snapshots/type_conditions___test_type_conditions_enabled_generate_query_fragments-2.snap
  apollo-router/tests/snapshots/type_conditions___test_type_conditions_enabled_generate_query_fragments.snap
  apollo-router/tests/snapshots/type_conditions___test_type_conditions_enabled_list_of_list-2.snap
  apollo-router/tests/snapshots/type_conditions___test_type_conditions_enabled_list_of_list.snap
  apollo-router/tests/snapshots/type_conditions___test_type_conditions_enabled_list_of_list_of_list-2.snap
  apollo-router/tests/snapshots/type_conditions___test_type_conditions_enabled_list_of_list_of_list.snap
  apollo-router/tests/snapshots/type_conditions___test_type_conditions_enabled_shouldnt_make_article_fetch-2.snap
  apollo-router/tests/tracing_common/mod.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

Update query-batching with billable details
  docs/source/routing/performance/query-batching.mdx
Owners: @apollographql/docs

Update query-batching.mdx
  docs/source/routing/performance/query-batching.mdx
Owners: @apollographql/docs

Update query-batching.mdx
  docs/source/routing/performance/query-batching.mdx
Owners: @apollographql/docs

Update docs/source/routing/performance/query-batching.mdx
  docs/source/routing/performance/query-batching.mdx
Owners: @apollographql/docs

Correct request logging section
  docs/source/routing/observability/debugging-client-requests.mdx
Owners: @apollographql/docs

Update logging requests
  docs/source/routing/observability/debugging-client-requests.mdx
Owners: @apollographql/docs

Typo
  docs/source/routing/observability/debugging-client-requests.mdx
Owners: @apollographql/docs

Fix backport issues where test harness is inconsistent with 2.x line. The harness interfaces have been updated for consistency.
  apollo-router/src/plugins/demand_control/mod.rs
  apollo-router/src/plugins/headers/mod.rs
  apollo-router/src/plugins/telemetry/config_new/events.rs
  apollo-router/src/plugins/telemetry/config_new/graphql/mod.rs
  apollo-router/src/plugins/telemetry/logging/mod.rs
  apollo-router/src/plugins/test.rs
Owners: @apollographql/polaris, @apollographql/atlas

WIP copyedits
  docs/source/reference/migration/from-router-v1.mdx
Owners: @apollographql/docs

grouped headings into Removed/Deprecated, Configuration Changes, Functionality Changes, New Capabilties
  docs/source/reference/migration/from-router-v1.mdx
Owners: @apollographql/docs

fix deploy
  docs/source/reference/migration/from-router-v1.mdx
Owners: @apollographql/docs

fix deploy
  docs/source/reference/migration/from-router-v1.mdx
Owners: @apollographql/docs

Traffic shaping for connectors
  apollo-router/src/plugin/mod.rs
  apollo-router/src/plugins/authentication/mod.rs
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/connectors/http_json_transport.rs
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/src/plugins/test.rs
  apollo-router/src/plugins/traffic_shaping/connector_deduplication.rs
  apollo-router/src/plugins/traffic_shaping/mod.rs
  apollo-router/src/router_factory.rs
  apollo-router/src/services/connect.rs
  apollo-router/src/services/connector/request_service.rs
  apollo-router/src/services/connector/request_service/transport/http.rs
  apollo-router/src/services/connector_service.rs
  apollo-router/src/services/fetch_service.rs
  apollo-router/src/services/supergraph/service.rs
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/connectors

(fix) Header propagation rule passthrough (backport #6690) (#6730)
  .changesets/fix_bryn_header_propagation_or.md
  apollo-router/src/plugins/demand_control/mod.rs
  apollo-router/src/plugins/headers/fixtures/propagate_passthrough.router.yaml
  apollo-router/src/plugins/headers/fixtures/propagate_passthrough_defaulted.router.yaml
  apollo-router/src/plugins/headers/mod.rs
  apollo-router/src/plugins/telemetry/config_new/events.rs
  apollo-router/src/plugins/telemetry/config_new/graphql/mod.rs
  apollo-router/src/plugins/telemetry/logging/mod.rs
  apollo-router/src/plugins/test.rs
  docs/source/routing/header-propagation.mdx
Owners: @apollographql/docs, @apollographql/polaris, @apollographql/atlas

(fix) Header propagation rule passthrough (backport #6690) (#6730)
  .changesets/fix_bryn_header_propagation_or.md
  apollo-router/src/plugins/demand_control/mod.rs
  apollo-router/src/plugins/headers/fixtures/propagate_passthrough.router.yaml
  apollo-router/src/plugins/headers/fixtures/propagate_passthrough_defaulted.router.yaml
  apollo-router/src/plugins/headers/mod.rs
  apollo-router/src/plugins/telemetry/config_new/events.rs
  apollo-router/src/plugins/telemetry/config_new/graphql/mod.rs
  apollo-router/src/plugins/telemetry/logging/mod.rs
  apollo-router/src/plugins/test.rs
  docs/source/routing/header-propagation.mdx
Owners: @apollographql/docs, @apollographql/polaris, @apollographql/atlas

remove subgraph_name (not public) heading and duplicate heading
  docs/source/reference/migration/from-router-v1.mdx
Owners: @apollographql/docs

docs: remove mention of apollo_router_http_requests in metrics exporter docs (#6724)
  docs/source/reference/router/telemetry/metrics-exporters/overview.mdx
Owners: @apollographql/docs

Add some comment notes from our in-house router upgrade steps
  docs/source/reference/migration/from-router-v1.mdx
Owners: @apollographql/docs
