Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @benjamn, @apollographql/polaris, @apollographql/atlas

Try to cleanup snapshots
  apollo-router/tests/snapshots/apollo_otel_traces__batch_send_header-2.snap
  apollo-router/tests/snapshots/apollo_otel_traces__batch_send_header.snap
  apollo-router/tests/snapshots/apollo_otel_traces__batch_trace_id-2.snap
  apollo-router/tests/snapshots/apollo_otel_traces__batch_trace_id.snap
Owners: @apollographql/polaris, @apollographql/atlas

fix
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/src/plugins/cache/invalidation.rs
  apollo-router/src/plugins/cache/tests.rs
Owners: @apollographql/polaris, @apollographql/atlas

Another try at fixing the snapshot inconsistency
  apollo-router/src/services/layers/query_analysis.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix tests and docs
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__upgrade_old_configuration@entity_cache_preview.yaml.snap
  apollo-router/src/configuration/testdata/metrics/entities.router.yaml
  apollo-router/src/uplink/testdata/restricted.router.yaml
  apollo-router/tests/integration/redis.rs
  docs/source/configuration/entity-caching.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

Expose validation severity for consumers
  apollo-federation/src/sources/connect/mod.rs
  apollo-federation/src/sources/connect/models/mod.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

use spawn_blocking for parsing (#5582)
  .changesets/fix_spawn_blocking_parser.md
  apollo-router/src/query_planner/caching_query_planner.rs
  apollo-router/src/services/layers/query_analysis.rs
  apollo-router/tests/snapshots/apollo_otel_traces__batch_send_header-2.snap
  apollo-router/tests/snapshots/apollo_otel_traces__batch_send_header.snap
  apollo-router/tests/snapshots/apollo_otel_traces__batch_trace_id-2.snap
  apollo-router/tests/snapshots/apollo_otel_traces__batch_trace_id.snap
Owners: @apollographql/polaris, @apollographql/atlas

Expose validation severity for consumers (#5632)
  apollo-federation/src/sources/connect/mod.rs
  apollo-federation/src/sources/connect/models/mod.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Handle subgraph response with negative locations
  apollo-router/src/graphql/mod.rs
  apollo-router/tests/integration/mod.rs
  apollo-router/tests/integration/subgraph_response.rs
Owners: @apollographql/polaris, @apollographql/atlas

`xtask dev` fixes
  apollo-router/src/graphql/mod.rs
  apollo-router/tests/integration/mod.rs
  apollo-router/tests/integration/subgraph_response.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add changeset
  .changesets/fix_error_locations.md
  apollo-router/tests/integration/subgraph_response.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix(federation): fix logic in computing non trivial follow up edges
  apollo-federation/src/query_graph/build_query_graph.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

when comparing KeyResolution transition we should compare whole selection sets
  apollo-federation/src/query_graph/build_query_graph.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Validation error when importing conflicting directives (#5628)
  apollo-federation/src/link/mod.rs
  apollo-federation/src/sources/connect/expand/mod.rs
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@disallowed_federation_imports.graphql.snap
  apollo-federation/src/sources/connect/models/test_data/validation/disallowed_federation_imports.graphql
  apollo-federation/src/sources/connect/models/validation.rs
  apollo-federation/src/sources/connect/spec/mod.rs
  apollo-federation/src/subgraph/database.rs
  apollo-federation/src/subgraph/mod.rs
  apollo-federation/src/subgraph/spec.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Fix casing on HTTP method in connectors label
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_realistic_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_steelthread_supergraph-2.snap
  apollo-federation/src/sources/connect/models/mod.rs
  apollo-router/src/plugins/connectors/tests.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

address review comments
  apollo-router/src/graphql/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

.github/CODEOWNERS:

/docs/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect/json_selection @benjamn
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas
