Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @benjamn, @apollographql/polaris, @apollographql/atlas

.github/CODEOWNERS:

/docs/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect/json_selection @benjamn
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas

revert files with unnecessary changes
  apollo-router/src/plugins/demand_control/cost_calculator/static_cost.rs
  apollo-router/src/query_planner/bridge_query_planner.rs
  apollo-router/src/query_planner/caching_query_planner.rs
  apollo-router/src/query_planner/fetch.rs
  apollo-router/src/query_planner/mod.rs
  apollo-router/src/query_planner/subgraph_context.rs
  apollo-router/src/services/supergraph/tests.rs
  apollo-router/tests/type_conditions.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add ability to override base URL on a connector source
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_realistic_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_steelthread_supergraph-2.snap
  apollo-federation/src/sources/connect/mod.rs
  apollo-federation/src/sources/connect/models/mod.rs
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/src/plugins/connectors/tests.rs
  apollo-router/src/spec/schema.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

revert files with unnecessary changes (#5559)
  apollo-router/src/plugins/demand_control/cost_calculator/static_cost.rs
  apollo-router/src/query_planner/bridge_query_planner.rs
  apollo-router/src/query_planner/caching_query_planner.rs
  apollo-router/src/query_planner/fetch.rs
  apollo-router/src/query_planner/mod.rs
  apollo-router/src/query_planner/subgraph_context.rs
  apollo-router/src/services/supergraph/tests.rs
  apollo-router/tests/type_conditions.rs
Owners: @apollographql/polaris, @apollographql/atlas

Move override_connector_base_urls to connectors module
  apollo-router/src/plugins/connectors/configuration.rs
  apollo-router/src/spec/schema.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add ability to override base URL on a connector source (#5560)
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_realistic_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_steelthread_supergraph-2.snap
  apollo-federation/src/sources/connect/mod.rs
  apollo-federation/src/sources/connect/models/mod.rs
  apollo-router/src/plugins/connectors/configuration.rs
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/src/plugins/connectors/tests.rs
  apollo-router/src/spec/schema.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

response_at_path after connector service
  apollo-router/src/plugins/connectors/tests.rs
  apollo-router/src/services/fetch_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

WIP DMN rest: * support
  apollo-federation/src/merge.rs
  apollo-federation/src/sources/connect/expand/visitor.rs
  apollo-federation/src/sources/connect/json_selection/visitor.rs
  apollo-router/src/plugins/connectors/testdata/steelthread.graphql
  apollo-router/src/plugins/connectors/testdata/steelthread.yaml
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @benjamn, @apollographql/polaris, @apollographql/atlas

Add datadog resource config
  .circleci/config.yml
  apollo-router/src/plugins/telemetry/config.rs
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
  apollo-router/tests/common.rs
  apollo-router/tests/integration/telemetry/datadog.rs
  apollo-router/tests/integration/telemetry/fixtures/datadog_resource_mapping_default.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/datadog_resource_mapping_override.router.yaml
  apollo-router/tests/integration/telemetry/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

lint
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
  apollo-router/tests/common.rs
Owners: @apollographql/polaris, @apollographql/atlas

next
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/src/plugins/cache/invalidation.rs
  apollo-router/src/plugins/cache/tests.rs
Owners: @apollographql/polaris, @apollographql/atlas

Update json schema for yaml
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
Owners: @apollographql/polaris, @apollographql/atlas

mock subgraph requests and responses with headers and other data
  apollo-router/tests/samples/basic/query1/plan.json
  apollo-router/tests/samples/enterprise/query-planning-redis/plan.json
  apollo-router/tests/samples_tests.rs
Owners: @apollographql/polaris, @apollographql/atlas

support subgraph reloading
  apollo-router/tests/samples_tests.rs
Owners: @apollographql/polaris, @apollographql/atlas

add a sample for invalidation
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/README.md
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/configuration.yaml
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/plan.json
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/supergraph.graphql
Owners: @apollographql/polaris, @apollographql/atlas

make it work
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/src/plugins/cache/invalidation.rs
  apollo-router/src/plugins/cache/tests.rs
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/configuration.yaml
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/plan.json
Owners: @apollographql/polaris, @apollographql/atlas

more logs
  apollo-router/tests/samples_tests.rs
Owners: @apollographql/polaris, @apollographql/atlas

cleanup
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/src/plugins/cache/invalidation.rs
Owners: @apollographql/polaris, @apollographql/atlas

Enable tests for telemetry on all platforms. Add zipkin and datadog test agent to docker compose.
  apollo-router/tests/common.rs
  apollo-router/tests/integration/telemetry/datadog.rs
  apollo-router/tests/integration/telemetry/jaeger.rs
  apollo-router/tests/integration/telemetry/mod.rs
  apollo-router/tests/integration/telemetry/otlp.rs
  apollo-router/tests/integration/telemetry/zipkin.rs
  docker-compose.yml
Owners: @apollographql/polaris, @apollographql/atlas

Lint
  apollo-router/tests/common.rs
  apollo-router/tests/integration/telemetry/otlp.rs
Owners: @apollographql/polaris, @apollographql/atlas

Switch to jaeger collector so that things work on osx
  apollo-router/tests/integration/telemetry/fixtures/jaeger-0.5-sample.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/jaeger-advanced.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/jaeger-no-sample.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/jaeger.router.yaml
Owners: @apollographql/polaris, @apollographql/atlas

fix(telemetry): add response_context handling in event selector when using an event_* instrument
  apollo-router/src/plugins/telemetry/config_new/selectors.rs
Owners: @apollographql/polaris, @apollographql/atlas

Make sure to explicitly test overriding
  apollo-router/tests/integration/telemetry/datadog.rs
  apollo-router/tests/integration/telemetry/fixtures/datadog_resource_mapping_override.router.yaml
Owners: @apollographql/polaris, @apollographql/atlas

Update ddagent test docker image
  .circleci/config.yml
Owners: none

add changelog + test
  .changesets/fix_bnjjj_fix_event_instr_response_context_sel.md
  apollo-router/src/plugins/telemetry/config_new/fixtures/supergraph/event.attributes.on_graphql_error/metrics.snap
  apollo-router/src/plugins/telemetry/config_new/fixtures/supergraph/event.attributes.on_graphql_error/router.yaml
  apollo-router/src/plugins/telemetry/config_new/fixtures/supergraph/event.attributes.on_graphql_error/test.yaml
Owners: @apollographql/polaris, @apollographql/atlas

Fix and add test for decimal trace id.
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/tests/integration/telemetry/fixtures/jaeger_decimal_trace_id.router.yaml
  apollo-router/tests/integration/telemetry/jaeger.rs
Owners: @apollographql/polaris, @apollographql/atlas

Disable datadog tests for non-graphos
  apollo-router/tests/integration/telemetry/datadog.rs
Owners: @apollographql/polaris, @apollographql/atlas

docs: add extended reference reporting (#5558)
  docs/source/configuration/overview.mdx
Owners: @apollographql/docs

tell jemalloc to use 64-KiB pages
  .circleci/config.yml
Owners: none

Make it so that original span name is always available.
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/src/plugins/telemetry/otel/layer.rs
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
  apollo-router/tests/integration/telemetry/datadog.rs
  apollo-router/tests/integration/telemetry/fixtures/datadog_resource_mapping_override.router.yaml
Owners: @apollographql/polaris, @apollographql/atlas

Add deferred fetches for connectors
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/query_planner/fetch.rs
  apollo-router/src/services/connect.rs
  apollo-router/src/services/fetch_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

Fetch parity between connector service and subgraph service (#5567)
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/connectors/tests.rs
  apollo-router/src/query_planner/fetch.rs
  apollo-router/src/services/connect.rs
  apollo-router/src/services/fetch_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

show example to avoid expensive allocation in can_merge_sibling_in
  apollo-federation/src/query_plan/fetch_dependency_graph.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

WIP
  apollo-router/src/plugins/connectors/mod.rs
  apollo-router/src/plugins/connectors/query_plans.rs
  apollo-router/src/plugins/expose_query_plan.rs
  apollo-router/src/services/supergraph/service.rs
Owners: @apollographql/polaris, @apollographql/atlas

create the label map early and store in an Arc
  apollo-federation/src/sources/connect/expand/mod.rs
  apollo-federation/src/sources/connect/expand/tests/mod.rs
  apollo-router/src/plugins/connectors/query_plans.rs
  apollo-router/src/services/supergraph/service.rs
  apollo-router/src/spec/schema.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

put the connectors map in an Arc
  apollo-federation/src/sources/connect/expand/mod.rs
  apollo-router/src/services/connector_service.rs
  apollo-router/src/spec/schema.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

expose query plan (#5569)
  apollo-federation/src/sources/connect/expand/mod.rs
  apollo-federation/src/sources/connect/expand/tests/mod.rs
  apollo-router/src/plugins/connectors/mod.rs
  apollo-router/src/plugins/connectors/query_plans.rs
  apollo-router/src/plugins/expose_query_plan.rs
  apollo-router/src/services/connector_service.rs
  apollo-router/src/services/supergraph/service.rs
  apollo-router/src/spec/schema.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

add invalidation endpoint in the entity cache plugin, WIP
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/src/plugins/cache/invalidation.rs
  apollo-router/src/plugins/cache/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

Make is so that the user doesn't have to fix the span names for resource mapping to work.
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
Owners: @apollographql/polaris, @apollographql/atlas

`resource_mappings` -> `resource_mapping`
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
  apollo-router/tests/integration/telemetry/fixtures/datadog_resource_mapping_override.router.yaml
Owners: @apollographql/polaris, @apollographql/atlas

show example to avoid expensive allocation in can_merge_sibling_in
  apollo-federation/src/query_plan/fetch_dependency_graph.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki
