Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/connectors, @apollographql/polaris, @apollographql/atlas

.github/CODEOWNERS:

/docs/ @apollographql/docs
/.changesets/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect @apollographql/connectors
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router/src/plugins/connectors @apollographql/connectors
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas

Rm drafting entry
  docs/source/reference/upgrade/from-router-v1.mdx
Owners: @apollographql/docs

specify a few things
  dev-docs/layer-inventory.md
Owners: none

fix: fixed the compliance error (RUSTSEC-2025-0006) (#6756)
  Cargo.lock
Owners: none

tweak
  dev-docs/layer-inventory.md
Owners: none

fix conflict
  Cargo.lock
Owners: none

Draft of 2.0.0 changelog for review
  CHANGELOG.md
  dev-docs/HYPER_1.0_REVIEW_NOTES.md
  dev-docs/HYPER_1.0_UPDATE.md
Owners: none

add note in docs about selective configuration
  docs/source/reference/upgrade/from-router-v1.mdx
  docs/source/routing/customization/coprocessor.mdx
Owners: @apollographql/docs

Revert IO thread pool size logging
  apollo-router/src/executable.rs
  apollo-router/src/services/layers/persisted_queries/snapshots/apollo_router__services__layers__persisted_queries__tests__pq_layer_freeform_graphql_with_safelist_log_unknown_true@logs.snap
Owners: @apollographql/polaris, @apollographql/atlas

Review comments
  apollo-router/src/compute_job.rs
Owners: @apollographql/polaris, @apollographql/atlas

Remove unused QueryPlannerError::CacheResolverError
  apollo-router/src/error.rs
Owners: @apollographql/polaris, @apollographql/atlas

Explain plugin lists
  apollo-router/src/router_factory.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add uncachable errors in DeduplicatingCache
  apollo-router/src/cache/mod.rs
  apollo-router/src/query_planner/caching_query_planner.rs
Owners: @apollographql/polaris, @apollographql/atlas

Fix compute job backpressure
  apollo-router/src/ageing_priority_queue.rs
  apollo-router/src/compute_job.rs
  apollo-router/src/error.rs
  apollo-router/src/introspection.rs
  apollo-router/src/lib.rs
  apollo-router/src/query_planner/caching_query_planner.rs
  apollo-router/src/query_planner/query_planner_service.rs
  apollo-router/src/services/layers/query_analysis.rs
  apollo-router/src/services/query_planner.rs
  apollo-router/src/services/supergraph/service.rs
  apollo-router/src/spec/mod.rs
  apollo-router/src/spec/query.rs
Owners: @apollographql/polaris, @apollographql/atlas

Change plugin order
  apollo-router/src/plugins/csrf.rs
  apollo-router/src/router_factory.rs
Owners: @apollographql/polaris, @apollographql/atlas

Remove unused ComputeJobKind
  apollo-router/src/compute_job.rs
  apollo-router/src/introspection.rs
  apollo-router/src/query_planner/caching_query_planner.rs
  apollo-router/src/query_planner/query_planner_service.rs
  apollo-router/src/services/layers/query_analysis.rs
  apollo-router/src/services/supergraph/service.rs
Owners: @apollographql/polaris, @apollographql/atlas

fmt
  apollo-router/src/compute_job.rs
  apollo-router/src/introspection.rs
  apollo-router/src/services/supergraph/service.rs
Owners: @apollographql/polaris, @apollographql/atlas

Apply CSRF plugin at the router stage
  apollo-router/src/plugins/csrf.rs
Owners: @apollographql/polaris, @apollographql/atlas

Also revert logging for compute thread count
  apollo-router/src/compute_job.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add $APOLLO_ROUTER_COMPUTE_THREADS environment variable (#6746)
  apollo-router/Cargo.toml
  apollo-router/src/compute_job.rs
  apollo-router/src/executable.rs
  apollo-router/src/services/layers/persisted_queries/snapshots/apollo_router__services__layers__persisted_queries__tests__pq_layer_freeform_graphql_with_safelist_log_unknown_true@logs.snap
Owners: @apollographql/polaris, @apollographql/atlas

Propagate backpressure errors instead of UnhandledPlannerResult
  apollo-router/src/query_planner/caching_query_planner.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add $APOLLO_ROUTER_COMPUTE_THREADS environment variable (#6746)
  apollo-router/Cargo.toml
  apollo-router/src/compute_job.rs
  apollo-router/src/executable.rs
  apollo-router/src/services/layers/persisted_queries/snapshots/apollo_router__services__layers__persisted_queries__tests__pq_layer_freeform_graphql_with_safelist_log_unknown_true@logs.snap
Owners: @apollographql/polaris, @apollographql/atlas

Move CSRF plugin code Migrate to new test harness. Fix add missing tests.
  apollo-router/src/plugins/csrf/fixtures/default.router.yaml
  apollo-router/src/plugins/csrf/fixtures/required_headers.router.yaml
  apollo-router/src/plugins/csrf/fixtures/unsafe_disabled.router.yaml
  apollo-router/src/plugins/csrf/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

Line endings
  apollo-router/src/plugins/csrf/fixtures/required_headers.router.yaml
  apollo-router/src/plugins/csrf/fixtures/unsafe_disabled.router.yaml
Owners: @apollographql/polaris, @apollographql/atlas

Reduce demand control allocations on start/reload (#6754)
  .changesets/maint_tninesling_skip_disabled_dc_plugin.md
  apollo-router/src/plugins/demand_control/cost_calculator/schema.rs
  apollo-router/src/plugins/demand_control/mod.rs
Owners: @apollographql/docs, @apollographql/polaris, @apollographql/atlas

Add compute backpressure test
  apollo-router/Cargo.toml
  apollo-router/src/ageing_priority_queue.rs
  apollo-router/src/compute_job.rs
  apollo-router/src/lib.rs
  apollo-router/tests/compute_backpressure.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add $APOLLO_ROUTER_COMPUTE_THREADS environment variable (backport #6746) (#6762)
  apollo-router/Cargo.toml
  apollo-router/src/compute_job.rs
  apollo-router/src/executable.rs
  apollo-router/src/services/layers/persisted_queries/snapshots/apollo_router__services__layers__persisted_queries__tests__pq_layer_freeform_graphql_with_safelist_log_unknown_true@logs.snap
Owners: @apollographql/polaris, @apollographql/atlas

Reduce demand control allocations on start/reload (#6754)
  .changesets/maint_tninesling_skip_disabled_dc_plugin.md
  apollo-router/src/plugins/demand_control/cost_calculator/schema.rs
  apollo-router/src/plugins/demand_control/mod.rs
Owners: @apollographql/docs, @apollographql/polaris, @apollographql/atlas

Remove Documentation section as discussed in router 2.0 meeting
  CHANGELOG.md
Owners: none

Add latency check in compute backpressure test
  apollo-router/tests/compute_backpressure.rs
Owners: @apollographql/polaris, @apollographql/atlas

Triple the wait for compute backpressure test
  apollo-router/tests/compute_backpressure.rs
Owners: @apollographql/polaris, @apollographql/atlas

update content
  docs/source/routing/about-v2.mdx
Owners: @apollographql/docs

Remove unused #[macro_use]
  apollo-router/src/lib.rs
Owners: @apollographql/polaris, @apollographql/atlas

Move expects and add panic-safety comments
  apollo-router/src/ageing_priority_queue.rs
  apollo-router/src/compute_job.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add `apollo.router.compute_jobs.queue_is_full` counter metric
  apollo-router/src/compute_job.rs
Owners: @apollographql/polaris, @apollographql/atlas

AgeingPriorityQueue never disconnects either
  apollo-router/src/ageing_priority_queue.rs
  apollo-router/src/compute_job.rs
Owners: @apollographql/polaris, @apollographql/atlas

Document apollo.router.compute_jobs.queue_is_full counter
  docs/source/reference/router/telemetry/instrumentation/standard-instruments.mdx
Owners: @apollographql/docs

Create changeset entry for leading 0s fix.
  .changesets/fix_sushi_caboose_police_agency.md
Owners: @apollographql/docs

Remove leading 0s before parsing into `serde_json::Number`.
  apollo-federation/src/sources/connect/json_selection/lit_expr.rs
Owners: @apollographql/connectors

Auto-retry test_compute_backpressure
  .config/nextest.toml
  apollo-router/tests/compute_backpressure.rs
Owners: @apollographql/polaris, @apollographql/atlas

copyedits
  CHANGELOG.md
Owners: none
