Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @benjamn, @apollographql/polaris, @apollographql/atlas

docs and changeset
  .changesets/fix_geal_fix_hashing_algorithm.md
  docs/source/configuration/in-memory-caching.mdx
Owners: @apollographql/docs

update changeset
  .changesets/fix_geal_fix_hashing_algorithm.md
Owners: none

rustdoc missing subgraph name
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
Owners: @apollographql/polaris, @apollographql/atlas

rustdoc missing query_planning mapping
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
Owners: @apollographql/polaris, @apollographql/atlas

Use a helper fn to consume single-item iterator
  apollo-federation/src/query_plan/fetch_dependency_graph.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Add option for fixed span names
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
Owners: @apollographql/polaris, @apollographql/atlas

wip
  apollo-router/src/plugins/telemetry/config_new/conditional.rs
  apollo-router/src/plugins/telemetry/config_new/conditions.rs
  apollo-router/src/plugins/telemetry/config_new/graphql/mod.rs
  apollo-router/src/plugins/telemetry/config_new/graphql/selectors.rs
  apollo-router/src/plugins/telemetry/config_new/instruments.rs
  apollo-router/src/plugins/telemetry/config_new/mod.rs
  apollo-router/src/plugins/telemetry/config_new/selectors.rs
Owners: @apollographql/polaris, @apollographql/atlas

use both schema hash and query hash
  apollo-router/src/query_planner/caching_query_planner.rs
Owners: @apollographql/polaris, @apollographql/atlas

chore(federation): implement Deref on keyed operation types (#5541)
  apollo-federation/src/operation/contains.rs
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/optimize.rs
  apollo-federation/src/operation/rebase.rs
  apollo-federation/src/query_graph/build_query_graph.rs
  apollo-federation/src/query_graph/graph_path.rs
  apollo-federation/src/query_graph/mod.rs
  apollo-federation/src/query_plan/conditions.rs
  apollo-federation/src/query_plan/fetch_dependency_graph.rs
  apollo-federation/src/query_plan/query_planning_traversal.rs
  apollo-federation/src/schema/field_set.rs
  apollo-federation/src/schema/subgraph_metadata.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Reduce visibility of fields
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
Owners: @apollographql/polaris, @apollographql/atlas

more precise way to write the redis cache key
  apollo-router/src/query_planner/caching_query_planner.rs
  apollo-router/tests/integration/redis.rs
Owners: @apollographql/polaris, @apollographql/atlas

improve invalidation request body
  apollo-router/src/plugins/cache/invalidation.rs
Owners: @apollographql/polaris, @apollographql/atlas

Use serde_derive_default
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
Owners: @apollographql/polaris, @apollographql/atlas

fmt
  apollo-router/src/query_planner/caching_query_planner.rs
Owners: @apollographql/polaris, @apollographql/atlas

add support for scan_cluster
  apollo-router/src/cache/redis.rs
Owners: @apollographql/polaris, @apollographql/atlas

cleanup
  apollo-router/src/plugins/cache/invalidation.rs
Owners: @apollographql/polaris, @apollographql/atlas

we cannot rely on has_more with scan_cluster
  apollo-router/src/plugins/cache/invalidation.rs
Owners: @apollographql/polaris, @apollographql/atlas

add more explanations to the sample
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/README.md
Owners: @apollographql/polaris, @apollographql/atlas

fix(federation): remove expensive allocations from `FetchDependencyGraph::can_merge_sibling_in` (#5571)
  apollo-federation/src/query_plan/fetch_dependency_graph.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Update apollo-router/src/query_planner/caching_query_planner.rs
  apollo-router/src/query_planner/caching_query_planner.rs
Owners: @apollographql/polaris, @apollographql/atlas

Update apollo-router/src/query_planner/caching_query_planner.rs
  apollo-router/src/query_planner/caching_query_planner.rs
Owners: @apollographql/polaris, @apollographql/atlas

remove unwraps
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/src/plugins/cache/invalidation.rs
Owners: @apollographql/polaris, @apollographql/atlas

Cheap apollo_compiler::Name to opentelemetry::StringValue conversion
  apollo-router/src/plugins/telemetry/config_new/graphql/selectors.rs
Owners: @apollographql/polaris, @apollographql/atlas

lint
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/src/plugins/cache/invalidation.rs
  apollo-router/tests/samples_tests.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add docs, make enable_span_mapping and fixed_span_names the default for the datadog exporter
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
  docs/source/configuration/telemetry/exporters/tracing/datadog.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

add a metric to track duration
  apollo-router/src/plugins/cache/invalidation.rs
Owners: @apollographql/polaris, @apollographql/atlas

count the number of invalidated keys
  apollo-router/src/plugins/cache/invalidation.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix config hashing
  apollo-router/src/query_planner/caching_query_planner.rs
Owners: @apollographql/polaris, @apollographql/atlas

Update integration tests for new defaults.
  apollo-router/tests/integration/telemetry/datadog.rs
  apollo-router/tests/integration/telemetry/fixtures/default_span_names.router.yaml
Owners: @apollographql/polaris, @apollographql/atlas

improve documentation
  docs/source/configuration/entity-caching.mdx
Owners: @apollographql/docs

New config addition
  helm/chart/router/templates/service.yaml
  helm/chart/router/values.yaml
Owners: none

NodeStr removal
  apollo-federation/src/lib.rs
  apollo-federation/src/merge.rs
  apollo-federation/src/query_graph/extract_subgraphs_from_supergraph.rs
  apollo-federation/src/schema/definitions.rs
  apollo-federation/src/sources/connect/expand/carryover.rs
  apollo-federation/src/sources/connect/expand/mod.rs
  apollo-federation/src/sources/connect/expand/visitor.rs
  apollo-federation/src/sources/connect/json_selection/graphql.rs
  apollo-federation/src/sources/connect/mod.rs
  apollo-federation/src/sources/connect/models/mod.rs
  apollo-federation/src/sources/connect/models/validation.rs
  apollo-federation/src/sources/connect/spec/directives.rs
  apollo-federation/src/sources/connect/spec/mod.rs
  apollo-federation/src/sources/connect/spec/schema.rs
  apollo-federation/src/sources/connect/spec/type_and_directive_specifications.rs
  apollo-router/src/plugins/connectors/configuration.rs
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/src/plugins/connectors/query_plans.rs
  apollo-router/src/plugins/demand_control/cost_calculator/directives.rs
  apollo-router/src/plugins/demand_control/cost_calculator/static_cost.rs
  apollo-router/src/plugins/telemetry/config_new/graphql/mod.rs
  apollo-router/src/plugins/telemetry/config_new/instruments.rs
  apollo-router/src/plugins/telemetry/config_new/mod.rs
  apollo-router/src/query_planner/fetch.rs
  apollo-router/src/services/connect.rs
  apollo-router/src/services/connector_service.rs
  apollo-router/src/services/fetch.rs
  apollo-router/src/spec/query.rs
  apollo-router/src/spec/schema.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @benjamn, @apollographql/polaris, @apollographql/atlas

Circular reference validation
  apollo-federation/src/sources/connect/expand/mod.rs
  apollo-federation/src/sources/connect/expand/visitor.rs
  apollo-federation/src/sources/connect/json_selection/visitor.rs
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@circular_reference.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@group_selection_on_scalar.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_selection_syntax.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@non_root_circular_reference.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@select_nonexistant_group.graphql.snap
  apollo-federation/src/sources/connect/models/test_data/validation/absolute_connect_url_with_source.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/circular_reference.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/connect_source_name_mismatch.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/connect_source_undefined.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/duplicate_source_name.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/empty_source_name.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/group_selection_on_scalar.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_chars_in_source_name.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_connect_url.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_entity_arg_on_field.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_entity_arg_on_list_type.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_entity_arg_on_non_entity_field.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_selection_syntax.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_source_url.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_source_url_scheme.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/missing_http_method_on_connect.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/missing_source_import.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/multiple_errors.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/multiple_http_methods_on_connect.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/non_root_circular_reference.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/relative_connect_url_without_source.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/select_nonexistant_group.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/source_directive_rename.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/subscriptions_with_connectors.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/valid_connect_absolute_url.graphql
  apollo-federation/src/sources/connect/models/validation.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @benjamn

Update .changesets/feat_rhai_status_code_on_a_router_response.md
  .changesets/feat_rhai_status_code_on_a_router_response.md
Owners: none

Update .changesets/fix_planning_plan_duration_metric.md
  .changesets/fix_planning_plan_duration_metric.md
Owners: none

Update .changesets/fix_planning_plan_duration_metric.md
  .changesets/fix_planning_plan_duration_metric.md
Owners: none

Validate circular references in connectors (#5562)
  apollo-federation/src/sources/connect/expand/mod.rs
  apollo-federation/src/sources/connect/expand/visitor.rs
  apollo-federation/src/sources/connect/json_selection/visitor.rs
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@circular_reference.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@group_selection_on_scalar.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_selection_syntax.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@non_root_circular_reference.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@select_nonexistant_group.graphql.snap
  apollo-federation/src/sources/connect/models/test_data/validation/absolute_connect_url_with_source.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/circular_reference.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/connect_source_name_mismatch.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/connect_source_undefined.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/duplicate_source_name.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/empty_source_name.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/group_selection_on_scalar.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_chars_in_source_name.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_connect_url.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_entity_arg_on_field.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_entity_arg_on_list_type.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_entity_arg_on_non_entity_field.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_selection_syntax.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_source_url.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_source_url_scheme.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/missing_http_method_on_connect.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/missing_source_import.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/multiple_errors.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/multiple_http_methods_on_connect.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/non_root_circular_reference.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/relative_connect_url_without_source.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/select_nonexistant_group.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/source_directive_rename.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/subscriptions_with_connectors.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/valid_connect_absolute_url.graphql
  apollo-federation/src/sources/connect/models/validation.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @benjamn

Add changeset
  .changesets/docs_eh_docs_router_renaming_conventions.md
Owners: none

adding http header validation for source and connect directives
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_connect_headers.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_connect_http_headers.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_select_http_headers.graphql.snap
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_connect_http_headers.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_select_http_headers.graphql
  apollo-federation/src/sources/connect/models/validation.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fixing compile errors
  apollo-federation/src/sources/connect/models/validation.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

.github/CODEOWNERS:

/docs/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect/json_selection @benjamn
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas
