Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/connectors, @nicholascioli, @benjamn, @apollographql/polaris, @apollographql/atlas

.github/CODEOWNERS:

/docs/ @apollographql/docs
/.changesets/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/source/connect @apollographql/connectors @nicholascioli
/apollo-federation/src/sources/connect/json_selection @benjamn
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router/src/plugins/connectors @apollographql/connectors @nicholascioli
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas

fmt
  apollo-federation/src/query_plan/fetch_dependency_graph.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fix(federation): treat invalid subgraph operations as internal errors
  apollo-federation/src/query_plan/fetch_dependency_graph.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

feat: allow users to load apollo key from file
  apollo-router/src/executable.rs
Owners: @apollographql/polaris, @apollographql/atlas

Update yaml snapshot to match newly expected formatting
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__upgrade_old_configuration@batching.yaml.snap
Owners: @apollographql/polaris, @apollographql/atlas

hash implemented interfaces
  apollo-router/src/spec/query/change.rs
Owners: @apollographql/polaris, @apollographql/atlas

Apply suggestions from code review
  docs/source/configuration/entity-caching.mdx
Owners: @apollographql/docs

changeset
  .changesets/feat_feat_key_from_file.md
Owners: @apollographql/docs

avoid seen_fields checks when bigger problems occurred
  apollo-federation/src/sources/connect/validation/mod.rs
  apollo-federation/src/sources/connect/validation/snapshots/validation_tests@disallowed_abstract_types.graphql.snap
  apollo-federation/src/sources/connect/validation/snapshots/validation_tests@select_nonexistant_group.graphql.snap
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

squash subscriptions
  apollo-federation/src/sources/connect/validation/mod.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

rename snapshots
  apollo-router/tests/integration/snapshots/integration_tests__integration__redis__entity_cache_basic-2.snap
  apollo-router/tests/integration/snapshots/integration_tests__integration__redis__entity_cache_basic-3.snap
  apollo-router/tests/integration/snapshots/integration_tests__integration__redis__entity_cache_basic-4.snap
  apollo-router/tests/integration/snapshots/integration_tests__integration__redis__entity_cache_basic-5.snap
Owners: @apollographql/polaris, @apollographql/atlas
