Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @benjamn, @apollographql/polaris, @apollographql/atlas

fix test
  apollo-router/src/axum_factory/tests.rs
  apollo-router/src/plugins/traffic_shaping/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

add integration tests
  apollo-router/tests/integration/mod.rs
  apollo-router/tests/integration/snapshots/integration_tests__integration__traffic_shaping__subgraph_timeout.snap
  apollo-router/tests/integration/snapshots/integration_tests__integration__traffic_shaping__supergraph_timeout.snap
  apollo-router/tests/integration/traffic_shaping.rs
Owners: @apollographql/polaris, @apollographql/atlas

allow debugging invalid responses (#5601)
  Cargo.lock
  apollo-router/Cargo.toml
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/connectors/http_json_transport.rs
  apollo-router/src/plugins/connectors/plugin.rs
  apollo-router/src/query_planner/execution.rs
  apollo-router/src/services/connector_service.rs
Owners: @apollographql/polaris, @apollographql/atlas

bring back timeout layer
  apollo-router/src/plugins/traffic_shaping/mod.rs
  apollo-router/src/plugins/traffic_shaping/timeout/error.rs
  apollo-router/src/plugins/traffic_shaping/timeout/future.rs
  apollo-router/src/plugins/traffic_shaping/timeout/layer.rs
  apollo-router/src/plugins/traffic_shaping/timeout/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

connectors: separate input type and output key processing (#5603)
  apollo-federation/src/sources/connect/expand/mod.rs
  apollo-federation/src/sources/connect/expand/tests/schemas/realistic.graphql
  apollo-federation/src/sources/connect/expand/tests/schemas/realistic.yaml
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_realistic_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_realistic_supergraph-3.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_realistic_supergraph.snap
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

WIP support $req.headers.'x-user-id'
  apollo-federation/src/sources/connect/expand/mod.rs
  apollo-federation/src/sources/connect/expand/visitor.rs
  apollo-federation/src/sources/connect/url_path_template.rs
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/src/plugins/connectors/testdata/steelthread.graphql
  apollo-router/src/plugins/connectors/testdata/steelthread.yaml
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

Also fix rate limit error
  apollo-router/src/axum_factory/axum_http_server_factory.rs
  apollo-router/src/plugins/traffic_shaping/mod.rs
  apollo-router/src/plugins/traffic_shaping/rate/error.rs
  apollo-router/src/plugins/traffic_shaping/timeout/error.rs
  apollo-router/tests/integration/snapshots/integration_tests__integration__traffic_shaping__router_rate_limit-2.snap
  apollo-router/tests/integration/snapshots/integration_tests__integration__traffic_shaping__router_rate_limit.snap
  apollo-router/tests/integration/snapshots/integration_tests__integration__traffic_shaping__router_timeout.snap
  apollo-router/tests/integration/snapshots/integration_tests__integration__traffic_shaping__subgraph_rate_limit-2.snap
  apollo-router/tests/integration/snapshots/integration_tests__integration__traffic_shaping__subgraph_rate_limit.snap
  apollo-router/tests/integration/traffic_shaping.rs
Owners: @apollographql/polaris, @apollographql/atlas

add metrics assertion to tests
  apollo-router/tests/integration/traffic_shaping.rs
Owners: @apollographql/polaris, @apollographql/atlas

xtask dev fixes
  apollo-router/src/axum_factory/tests.rs
  apollo-router/src/plugins/traffic_shaping/mod.rs
  apollo-router/src/plugins/traffic_shaping/rate/error.rs
  apollo-router/src/plugins/traffic_shaping/timeout/error.rs
Owners: @apollographql/polaris, @apollographql/atlas

add changeset
  .changesets/fix_timeout_and_rate_limit_error.md
Owners: none

fix batching snapshots
  apollo-router/tests/integration/batching.rs
Owners: @apollographql/polaris, @apollographql/atlas

increase rate limit interval in tests
  apollo-router/tests/integration/traffic_shaping.rs
Owners: @apollographql/polaris, @apollographql/atlas

make it even longer just in case
  apollo-router/tests/integration/traffic_shaping.rs
Owners: @apollographql/polaris, @apollographql/atlas

Apply suggestions from code review
  .changesets/feat_bnjjj_feat_condition_copro.md
  docs/source/customizations/coprocessor.mdx
Owners: @apollographql/docs

Update apollo-router/src/query_planner/caching_query_planner.rs
  apollo-router/src/query_planner/caching_query_planner.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix(rhai): provide a valid trace id even if the trace isn't sampled
  apollo-router/src/plugins/rhai/engine.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix(federation): remove temporary string allocations from position `try_get()` methods
  apollo-federation/src/schema/position.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): use apollo-rs `argument_by_name` helper
  apollo-federation/src/schema/position.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

changelog
  .changesets/fix_bnjjj_fix_rhai_traceid.md
Owners: none

Backport latest datadog exporter
  Cargo.lock
  apollo-router/Cargo.toml
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/README.md
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/intern.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/mod.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/model/mod.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/model/v03.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/model/v05.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

Lint
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/intern.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/mod.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/model/mod.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/model/v03.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/model/v05.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

feat(coprocessor): add conditions on coprocessor stages (#5557)
  .changesets/feat_bnjjj_feat_condition_copro.md
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/coprocessor/mod.rs
  apollo-router/src/plugins/coprocessor/supergraph.rs
  apollo-router/src/plugins/coprocessor/test.rs
  apollo-router/src/plugins/telemetry/config_new/conditions.rs
  apollo-router/src/plugins/telemetry/config_new/selectors.rs
  apollo-router/src/services/supergraph/service.rs
  docs/source/configuration/telemetry/instrumentation/selectors.mdx
  docs/source/customizations/coprocessor.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

chore(deps): anyhow, clap, thiserror, rust-embed, jsonwebtoken
  Cargo.lock
  Cargo.toml
  apollo-federation/Cargo.toml
  apollo-router/Cargo.toml
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

address review comments
  apollo-router/src/configuration/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

Update docs/source/configuration/overview.mdx
  docs/source/configuration/overview.mdx
Owners: @apollographql/docs

Update .changesets/feat_geal_configure_introspection_caching.md
  .changesets/feat_geal_configure_introspection_caching.md
Owners: none

Add exporter wrapper to support measurement
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/mod.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/exporter/model/mod.rs
  apollo-router/src/plugins/telemetry/tracing/datadog_exporter/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

chore(deps): anyhow, clap, tempfile, thiserror, rust-embed, jsonwebtoken (#5608)
  Cargo.lock
  Cargo.toml
  apollo-federation/Cargo.toml
  apollo-router/Cargo.toml
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

configure introspection caching (#5583)
  .changesets/feat_geal_configure_introspection_caching.md
  apollo-router/src/configuration/mod.rs
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/query_planner/caching_query_planner.rs
  docs/source/configuration/overview.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

Add `rust-toolchain.toml` to `apollo-router-scaffold` (#5585)
  apollo-router-scaffold/templates/base/rust-toolchain.toml
Owners: @apollographql/polaris, @apollographql/atlas

add more tests
  apollo-router/tests/integration/traffic_shaping.rs
Owners: @apollographql/polaris, @apollographql/atlas

Use span.kind rather than span.type
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
Owners: @apollographql/polaris, @apollographql/atlas

expect
  apollo-router/src/plugins/telemetry/config_new/graphql/selectors.rs
Owners: @apollographql/polaris, @apollographql/atlas

fixes
  apollo-router/tests/integration/traffic_shaping.rs
Owners: @apollographql/polaris, @apollographql/atlas

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

chore(deps): collection of minor and patch version bumps
  Cargo.lock
  apollo-router/Cargo.toml
Owners: @apollographql/polaris, @apollographql/atlas

Add tests, add missing span to consts.rs
  apollo-router/src/plugins/telemetry/consts.rs
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
  apollo-router/src/services/layers/query_analysis.rs
  apollo-router/tests/integration/telemetry/datadog.rs
  apollo-router/tests/integration/telemetry/fixtures/disable_span_metrics.router.yaml
Owners: @apollographql/polaris, @apollographql/atlas

Lint
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
  apollo-router/tests/integration/telemetry/datadog.rs
Owners: @apollographql/polaris, @apollographql/atlas

chore(deps): collection of minor and patch version bumps (#5611)
  Cargo.lock
  apollo-router/Cargo.toml
Owners: @apollographql/polaris, @apollographql/atlas

fix(deps): update all non-major packages >= 1.0, but not rhai
  Cargo.lock
  dockerfiles/tracing/datadog-subgraph/package-lock.json
  dockerfiles/tracing/datadog-subgraph/package.json
  dockerfiles/tracing/jaeger-subgraph/package-lock.json
  dockerfiles/tracing/jaeger-subgraph/package.json
  dockerfiles/tracing/zipkin-subgraph/package-lock.json
  dockerfiles/tracing/zipkin-subgraph/package.json
Owners: none

.github/CODEOWNERS:

/docs/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect/json_selection @benjamn
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas
