Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @benjamn, @apollographql/polaris, @apollographql/atlas

.github/CODEOWNERS:

/docs/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect/json_selection @benjamn
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas

Remove JavaScript-based API schema implementation
  apollo-router/src/apollo_studio_interop/tests.rs
  apollo-router/src/configuration/mod.rs
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/configuration/tests.rs
  apollo-router/src/context/mod.rs
  apollo-router/src/json_ext.rs
  apollo-router/src/orbiter/mod.rs
  apollo-router/src/plugin/test/service.rs
  apollo-router/src/plugins/demand_control/cost_calculator/static_cost.rs
  apollo-router/src/plugins/progressive_override/tests.rs
  apollo-router/src/plugins/telemetry/config_new/graphql/mod.rs
  apollo-router/src/query_planner/bridge_query_planner.rs
  apollo-router/src/query_planner/caching_query_planner.rs
  apollo-router/src/query_planner/rewrites.rs
  apollo-router/src/query_planner/selection.rs
  apollo-router/src/query_planner/tests.rs
  apollo-router/src/router_factory.rs
  apollo-router/src/services/layers/persisted_queries/mod.rs
  apollo-router/src/services/supergraph/tests.rs
  apollo-router/src/spec/query/tests.rs
  apollo-router/src/spec/schema.rs
Owners: @apollographql/polaris, @apollographql/atlas

chore(federation): simplify `subselection_type_if_abstract`
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/schema/definitions.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fix(federation): remove temporary string allocations from position `try_from()` errors (#5620)
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/rebase.rs
  apollo-federation/src/query_graph/mod.rs
  apollo-federation/src/query_plan/fetch_dependency_graph.rs
  apollo-federation/src/schema/position.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): avoid `schema::definitions::is_composite_type`
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/schema/definitions.rs
  apollo-federation/src/schema/position.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fixup! chore(federation): avoid `schema::definitions::is_composite_type`
  apollo-federation/src/schema/definitions.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Use cargo-llvm-cov when it's installed.
  .circleci/config.yml
  xtask/src/commands/test.rs
Owners: none

Add subgraph and type test
  apollo-router/tests/samples/enterprise/entity-cache/invalidation-subgraph-type/README.md
  apollo-router/tests/samples/enterprise/entity-cache/invalidation-subgraph-type/configuration.yaml
  apollo-router/tests/samples/enterprise/entity-cache/invalidation-subgraph-type/plan.json
  apollo-router/tests/samples/enterprise/entity-cache/invalidation-subgraph-type/supergraph.graphql
  apollo-router/tests/samples/enterprise/entity-cache/invalidation-subgraph/README.md
  apollo-router/tests/samples/enterprise/entity-cache/invalidation-subgraph/configuration.yaml
  apollo-router/tests/samples/enterprise/entity-cache/invalidation-subgraph/plan.json
  apollo-router/tests/samples/enterprise/entity-cache/invalidation-subgraph/supergraph.graphql
Owners: @apollographql/polaris, @apollographql/atlas

Add 'subgraph_on_graphql_error' selector for subgraph (#5622)
  .changesets/feat_bnjjj_feat_284.md
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/telemetry/config_new/selectors.rs
  docs/source/configuration/telemetry/instrumentation/selectors.mdx
Owners: @apollographql/polaris, @apollographql/atlas, @apollographql/docs

chore(federation): remove temporary array allocation from `get_all_may_apply_directly_at_type`
  apollo-federation/src/operation/optimize.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): reject selection sets with fragments early in optimize()
  apollo-federation/src/operation/optimize.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

lint
  apollo-federation/src/operation/optimize.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): rename optimize() to reuse_fragments()
  apollo-federation/src/operation/optimize.rs
  apollo-federation/src/query_plan/fetch_dependency_graph.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Obsolete comment
  apollo-federation/src/operation/optimize.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

convert spans and metrics to the new format
  apollo-router/src/plugins/cache/entity.rs
Owners: @apollographql/polaris, @apollographql/atlas

add changeset
  .changesets/exp_remove_js_api_schema.md
Owners: none

Remove obsolete use of BridgeQueryPlanner
  apollo-router/src/query_planner/tests.rs
Owners: @apollographql/polaris, @apollographql/atlas

add more data
  apollo-router/src/plugins/cache/invalidation.rs
Owners: @apollographql/polaris, @apollographql/atlas

Cheap apollo_compiler::Name to opentelemetry::StringValue conversion (#5573)
  apollo-router/src/plugins/telemetry/config_new/graphql/selectors.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix test
  apollo-router/src/query_planner/tests.rs
Owners: @apollographql/polaris, @apollographql/atlas

add config migration
  apollo-router/src/configuration/migrations/0026-to_api_schema.yaml
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__upgrade_old_configuration@js_api_schema.router.yaml.snap
  apollo-router/src/configuration/testdata/migrations/js_api_schema.router.yaml
Owners: @apollographql/polaris, @apollographql/atlas

add a metric for invalidated entries
  apollo-router/src/plugins/cache/invalidation.rs
Owners: @apollographql/polaris, @apollographql/atlas

Fix extract_cache_key_root() and add tests for new invalidation
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/tests/samples/enterprise/entity-cache/invalidation-subgraph-type/README.md
  apollo-router/tests/samples/enterprise/entity-cache/invalidation-subgraph-type/configuration.yaml
  apollo-router/tests/samples/enterprise/entity-cache/invalidation-subgraph-type/plan.json
  apollo-router/tests/samples/enterprise/entity-cache/invalidation-subgraph-type/supergraph.graphql
  apollo-router/tests/samples/enterprise/entity-cache/invalidation-subgraph/plan.json
Owners: @apollographql/polaris, @apollographql/atlas

rename the test back to the original name
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/README.md
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/configuration.yaml
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/plan.json
  apollo-router/tests/samples/enterprise/entity-cache/invalidation/supergraph.graphql
Owners: @apollographql/polaris, @apollographql/atlas

fix
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/src/plugins/cache/invalidation.rs
Owners: @apollographql/polaris, @apollographql/atlas

Fix clippy complaint
  apollo-router/src/plugins/cache/entity.rs
Owners: @apollographql/polaris, @apollographql/atlas

WiP entity cache redis configuration override
  apollo-router/src/configuration/migrations/0026-entity_cache_invalidation_preview.yaml
  apollo-router/src/configuration/testdata/migrations/entity_cache_preview2.yaml
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/src/plugins/cache/tests.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix entity caching in redis tests
  apollo-router/tests/integration/redis.rs
Owners: @apollographql/polaris, @apollographql/atlas

Composition error when importing conflicting directives for connectors
  apollo-federation/src/link/mod.rs
  apollo-federation/src/sources/connect/expand/mod.rs
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@disallowed_federation_imports.graphql.snap
  apollo-federation/src/sources/connect/models/test_data/validation/disallowed_federation_imports.graphql
  apollo-federation/src/sources/connect/models/validation.rs
  apollo-federation/src/sources/connect/spec/mod.rs
  apollo-federation/src/subgraph/database.rs
  apollo-federation/src/subgraph/mod.rs
  apollo-federation/src/subgraph/spec.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

comments
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/optimize.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

perf: don't recreate meter and instruments on every calls
  apollo-router/src/plugins/telemetry/config_new/cost/mod.rs
  apollo-router/src/plugins/telemetry/config_new/graphql/mod.rs
  apollo-router/src/plugins/telemetry/config_new/instruments.rs
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/src/plugins/test.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix(federation): several reuse_fragments() performance improvements (#5613)
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/optimize.rs
  apollo-federation/src/query_plan/fetch_dependency_graph.rs
  apollo-federation/src/schema/definitions.rs
  apollo-federation/src/schema/position.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Start thinking about how to update documentation.
  docs/source/configuration/entity-caching.mdx
Owners: @apollographql/docs

fix(plugins): record plugin should use a Schema with api_schema
  apollo-router/src/plugins/record_replay/record.rs
Owners: @apollographql/polaris, @apollographql/atlas

Backout documentation change
  docs/source/configuration/entity-caching.mdx
Owners: @apollographql/docs

prep release: v2.0.0-alpha.0
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.template.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.template.toml
  apollo-router/Cargo.toml
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  licenses.html
  scripts/install.sh
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

Changing span processing from sync to async requires special handling
  apollo-router/src/services/layers/query_analysis.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix(record plugin): record plugin should use a Schema with api_schema (#5630)
  apollo-router/src/plugins/record_replay/record.rs
Owners: @apollographql/polaris, @apollographql/atlas

Revert "fix(record plugin): record plugin should use a Schema with api_schema (#5630)"
  apollo-router/src/plugins/record_replay/record.rs
Owners: @apollographql/polaris, @apollographql/atlas

Remove needless clone
  apollo-router/src/plugins/record_replay/record.rs
Owners: @apollographql/polaris, @apollographql/atlas

revert snapshot changes
  apollo-router/tests/snapshots/apollo_otel_traces__batch_send_header-2.snap
  apollo-router/tests/snapshots/apollo_otel_traces__batch_send_header.snap
  apollo-router/tests/snapshots/apollo_otel_traces__batch_trace_id-2.snap
  apollo-router/tests/snapshots/apollo_otel_traces__batch_trace_id.snap
Owners: @apollographql/polaris, @apollographql/atlas
