Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @benjamn, @apollographql/polaris, @apollographql/atlas

.github/CODEOWNERS:

/docs/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect/json_selection @benjamn
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas

Update apollo-router/src/plugins/telemetry/tracing/datadog.rs
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
Owners: @apollographql/polaris, @apollographql/atlas

check snapshots again
  apollo-router/tests/snapshots/apollo_otel_traces__batch_send_header-2.snap
  apollo-router/tests/snapshots/apollo_otel_traces__batch_trace_id-2.snap
Owners: @apollographql/polaris, @apollographql/atlas

add dynamic config
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/src/plugins/cache/invalidation_endpoint.rs
  apollo-router/src/plugins/cache/mod.rs
  apollo-router/src/plugins/cache/tests.rs
  apollo-router/src/router_factory.rs
Owners: @apollographql/polaris, @apollographql/atlas

fix(telemetry): add response_context handling in event selector when using an event_* instrument (#5565)
  .changesets/fix_bnjjj_fix_event_instr_response_context_sel.md
  apollo-router/src/plugins/telemetry/config_new/fixtures/supergraph/event.attributes.on_graphql_error/metrics.snap
  apollo-router/src/plugins/telemetry/config_new/fixtures/supergraph/event.attributes.on_graphql_error/router.yaml
  apollo-router/src/plugins/telemetry/config_new/fixtures/supergraph/event.attributes.on_graphql_error/test.yaml
  apollo-router/src/plugins/telemetry/config_new/selectors.rs
Owners: @apollographql/polaris, @apollographql/atlas

chore(federation): refactor error handling in rebasing
  apollo-federation/src/error/mod.rs
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/rebase.rs
  apollo-federation/src/query_graph/graph_path.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

configure introspection caching
  apollo-router/src/configuration/mod.rs
  apollo-router/src/query_planner/caching_query_planner.rs
Owners: @apollographql/polaris, @apollographql/atlas

chore(federation): remove RebaseErrorHandlingOption from public rebasing API
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/rebase.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fix(federation): fix lint, remove intermediate allocation
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/rebase.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): mark all `rebase_on` functions `pub(crate)`
  apollo-federation/src/operation/rebase.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): rename `rebase_on_or_error` to just `rebase_on`
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/rebase.rs
  apollo-federation/src/query_graph/graph_path.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

add rust-toolchain.toml to scaffold
  apollo-router-scaffold/templates/base/rust-toolchain.toml
Owners: @apollographql/polaris, @apollographql/atlas

Apply suggestions from code review
  .changesets/docs_feature_dynatraceotel.md
  .changesets/exp_tninesling_demand_control_proto_updates.md
Owners: none

prep release: v1.50.0
  .changesets/config_bryn_improve_custom_metrics_value_usability.md
  .changesets/config_geal_entity_cache_config_subgraphs.md
  .changesets/docs_bnjjj_docs_otel_exists_condition.md
  .changesets/docs_feature_dynatraceotel.md
  .changesets/exp_h2c_coprocessor.md
  .changesets/exp_pencil_hunk_tornado_backyard.md
  .changesets/exp_tninesling_demand_control_proto_updates.md
  .changesets/feat_bnjjj_add_operation_name_router_selector.md
  .changesets/feat_bnjjj_fix_5475.md
  .changesets/feat_bnjjj_implement_drop_aggregation_view.md
  .changesets/feat_garypen_router_185_limit_metrics.md
  .changesets/feat_local_safelist.md
  .changesets/feat_rhai_status_code_on_a_router_response.md
  .changesets/fix_bnjjj_fix_5448.md
  .changesets/fix_bnjjj_fix_coprocessor_with_subs.md
  .changesets/fix_feature_autherrorhttpheader.md
  .changesets/fix_geal_fix_cache_control_age_caculation.md
  .changesets/fix_geal_update_router_bridge4-2.md
  .changesets/fix_geal_update_router_bridge4.md
  .changesets/fix_igni_sts_cache_assume_role.md
  .changesets/fix_planning_plan_duration_metric.md
  .changesets/maint_bryn_demand_control_studio_traces.md
  .changesets/maint_geal_everything_subgraph.md
  .changesets/maint_geal_isolate_hyper_0_14.md
  .changesets/maint_geal_xtask_release_process.md
  CHANGELOG.md
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.template.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.template.toml
  apollo-router/Cargo.toml
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  scripts/install.sh
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

fix(federation): optimize `runtime_types_intersect`
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/schema/mod.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): add back fast paths for same inputs
  apollo-federation/src/operation/mod.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Add env unified tag
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
Owners: @apollographql/polaris, @apollographql/atlas

Add changelog
  .changesets/breaking_bnjjj_fix_5282.md
  .changesets/fix_bnjjj_fix_5282.md
Owners: none

Factor out a bunch of consts, these were duplicated across the codebase
  apollo-router/src/axum_factory/utils.rs
  apollo-router/src/plugins/telemetry/apollo_otlp_exporter.rs
  apollo-router/src/plugins/telemetry/config_new/spans.rs
  apollo-router/src/plugins/telemetry/consts.rs
  apollo-router/src/plugins/telemetry/dynamic_attribute.rs
  apollo-router/src/plugins/telemetry/metrics/span_metrics_exporter.rs
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/src/plugins/telemetry/otel/layer.rs
  apollo-router/src/plugins/telemetry/span_factory.rs
  apollo-router/src/plugins/telemetry/tracing/apollo_telemetry.rs
  apollo-router/src/plugins/telemetry/tracing/datadog.rs
  apollo-router/src/services/http/service.rs
  apollo-router/src/services/subgraph_service.rs
  apollo-router/src/services/supergraph/service.rs
Owners: @apollographql/polaris, @apollographql/atlas

Added tests for and fixed override of span names
  apollo-router/src/plugins/telemetry/dynamic_attribute.rs
  apollo-router/src/plugins/telemetry/span_factory.rs
  apollo-router/tests/integration/telemetry/datadog.rs
  apollo-router/tests/integration/telemetry/fixtures/datadog_default_span_names.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/datadog_override_span_names.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/datadog_override_span_names_late.router.yaml
Owners: @apollographql/polaris, @apollographql/atlas

squash code review, fix todos, correct messages
  apollo-federation/src/sources/connect/spec/directives.rs
  apollo-federation/src/sources/connect/spec/type_and_directive_specifications.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Apply suggestions from code review
  CHANGELOG.md
Owners: none

switch to macro for slightly shorter code
  apollo-federation/src/sources/connect/spec/directives.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fixup lint
  apollo-federation/src/sources/connect/spec/directives.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

remove panics in connect/spec (#5579)
  apollo-federation/src/sources/connect/spec/directives.rs
  apollo-federation/src/sources/connect/spec/mod.rs
  apollo-federation/src/sources/connect/spec/type_and_directive_specifications.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): reduce whitespace in `MultipleFederationErrors`
  apollo-federation/src/error/mod.rs
  apollo-federation/src/schema/field_set.rs
  apollo-federation/tests/api_schema.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

prep release: v1.50.0 (#5586)
  .changesets/config_bryn_improve_custom_metrics_value_usability.md
  .changesets/config_geal_entity_cache_config_subgraphs.md
  .changesets/docs_bnjjj_docs_otel_exists_condition.md
  .changesets/docs_feature_dynatraceotel.md
  .changesets/exp_h2c_coprocessor.md
  .changesets/exp_pencil_hunk_tornado_backyard.md
  .changesets/exp_tninesling_demand_control_proto_updates.md
  .changesets/feat_bnjjj_add_operation_name_router_selector.md
  .changesets/feat_bnjjj_fix_5475.md
  .changesets/feat_bnjjj_implement_drop_aggregation_view.md
  .changesets/feat_garypen_router_185_limit_metrics.md
  .changesets/feat_local_safelist.md
  .changesets/feat_rhai_status_code_on_a_router_response.md
  .changesets/fix_bnjjj_fix_5448.md
  .changesets/fix_bnjjj_fix_coprocessor_with_subs.md
  .changesets/fix_feature_autherrorhttpheader.md
  .changesets/fix_geal_fix_cache_control_age_caculation.md
  .changesets/fix_geal_update_router_bridge4-2.md
  .changesets/fix_geal_update_router_bridge4.md
  .changesets/fix_igni_sts_cache_assume_role.md
  .changesets/fix_planning_plan_duration_metric.md
  .changesets/maint_bryn_demand_control_studio_traces.md
  .changesets/maint_geal_everything_subgraph.md
  .changesets/maint_geal_isolate_hyper_0_14.md
  .changesets/maint_geal_xtask_release_process.md
  CHANGELOG.md
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.template.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.template.toml
  apollo-router/Cargo.toml
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  scripts/install.sh
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

connectors license enforcement with join__directive serialization
  apollo-router/src/uplink/license_enforcement.rs
  apollo-router/src/uplink/testdata/schema_enforcement_connectors.graphql
Owners: @apollographql/polaris, @apollographql/atlas

one more test
  apollo-router/src/spec/schema.rs
Owners: @apollographql/polaris, @apollographql/atlas

Updated docs for ignore_other_prefixes to clarify behavior.
  docs/source/configuration/authn-jwt.mdx
Owners: @apollographql/docs

Created changeset
  .changesets/docs_feature_ignoreotherprefixesdocupdate.md
Owners: none

chore(federation): reduce whitespace in `MultipleFederationErrors` (#5590)
  apollo-federation/src/error/mod.rs
  apollo-federation/src/schema/field_set.rs
  apollo-federation/tests/api_schema.rs
  apollo-router/src/spec/schema.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

connectors license enforcement with join__directive serialization (#5591)
  apollo-router/src/uplink/license_enforcement.rs
  apollo-router/src/uplink/testdata/schema_enforcement_connectors.graphql
Owners: @apollographql/polaris, @apollographql/atlas

chore(federation): move normalize() implementations to a module
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/optimize.rs
  apollo-federation/src/operation/rebase.rs
  apollo-federation/src/operation/simplify.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

chore(federation): remove unused non-recursive normalization
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/optimize.rs
  apollo-federation/src/operation/rebase.rs
  apollo-federation/src/operation/simplify.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

add a test
  apollo-router/src/query_planner/caching_query_planner.rs
Owners: @apollographql/polaris, @apollographql/atlas

changeset
  .changesets/feat_geal_configure_introspection_caching.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

chore(federation): decide on a descriptive name for normalize()
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/operation/optimize.rs
  apollo-federation/src/operation/rebase.rs
  apollo-federation/src/operation/simplify.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

doc
  .changesets/feat_geal_configure_introspection_caching.md
  docs/source/configuration/overview.mdx
Owners: @apollographql/docs

Add end-to-end header test
  apollo-federation/src/sources/connect/models/mod.rs
  apollo-router/src/plugins/connectors/http_json_transport.rs
  apollo-router/src/plugins/connectors/testdata/steelthread.graphql
  apollo-router/src/plugins/connectors/testdata/steelthread.yaml
  apollo-router/src/plugins/connectors/tests.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas
