Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @apollographql/fed-core, @apollographql/rust-platform, @apollographql/graph-dev, @apollographql/router-core

.github/CODEOWNERS:

/docs/ @apollographql/docs
/.changesets/ @apollographql/docs
/apollo-federation/ @apollographql/fed-core @apollographql/rust-platform
/apollo-federation/src/connectors @apollographql/graph-dev
/apollo-router/ @apollographql/router-core
/apollo-router/src/plugins/connectors @apollographql/graph-dev
/apollo-router-benchmarks/ @apollographql/router-core @apollographql/fed-core
/examples/ @apollographql/router-core @apollographql/fed-core
/.github/CODEOWNERS @apollographql/router-core @apollographql/fed-core

back out unrelated change
  apollo-federation/src/schema/schema_upgrader.rs
Owners: @apollographql/fed-core, @apollographql/rust-platform

yurp
  apollo-router/src/plugins/cache/metrics.rs
Owners: @apollographql/router-core

ported ValidationContext class
  apollo-federation/src/composition/satisfiability.rs
  apollo-federation/src/schema/mod.rs
  apollo-federation/src/schema/position.rs
  apollo-federation/src/supergraph/mod.rs
Owners: @apollographql/fed-core, @apollographql/rust-platform

refactor merge_enum code to its own file (#7614)
  apollo-federation/src/merger/merge_enum.rs
  apollo-federation/src/merger/merge_union.rs
  apollo-federation/src/merger/merger.rs
  apollo-federation/src/merger/mod.rs
Owners: @apollographql/fed-core, @apollographql/rust-platform

Allow with_current_meter_provider to work even if no meter provider has been set
  apollo-router/src/metrics/mod.rs
Owners: @apollographql/router-core

Better base case handling in `PathList::compute_output_shape`.
  apollo-federation/src/connectors/json_selection/apply_to.rs
Owners: @apollographql/graph-dev

Test left associativity of `PathList::compute_output_shape`.
  apollo-federation/src/connectors/json_selection/apply_to.rs
  apollo-federation/src/connectors/validation/snapshots/validation_tests@headers__expressions_that_evaluate_to_invalid_types.graphql.snap
Owners: @apollographql/graph-dev

Fully implement `math_shape`.
  apollo-federation/src/connectors/json_selection/methods/future/arithmetic.rs
Owners: @apollographql/graph-dev

Add tests for `check_numeric_shape` helper.
  apollo-federation/src/connectors/json_selection/methods/future/arithmetic.rs
Owners: @apollographql/graph-dev

Much simpler `check_numeric_shape`.
  apollo-federation/src/connectors/json_selection/methods/future/arithmetic.rs
Owners: @apollographql/graph-dev

Remove out-of-date `#[allow(dead_code)]` from `math_shape` function.
  apollo-federation/src/connectors/json_selection/methods/future/arithmetic.rs
Owners: @apollographql/graph-dev

First pass at optional chaining with ?. and ?->
  apollo-federation/src/connectors/json_selection/apply_to.rs
  apollo-federation/src/connectors/json_selection/location.rs
  apollo-federation/src/connectors/json_selection/parser.rs
  apollo-federation/src/connectors/json_selection/pretty.rs
  apollo-federation/src/connectors/json_selection/selection_set.rs
Owners: @apollographql/graph-dev

fix up selection_set_has_directives and selection_set_has_alias
  apollo-federation/src/schema/validators/from_context.rs
Owners: @apollographql/fed-core, @apollographql/rust-platform

Implement validation for tag (#7613)
  apollo-federation/src/error/mod.rs
  apollo-federation/src/merger/merger.rs
  apollo-federation/src/schema/blueprint.rs
  apollo-federation/src/schema/mod.rs
  apollo-federation/src/schema/position.rs
  apollo-federation/src/schema/validators/mod.rs
  apollo-federation/src/schema/validators/tag.rs
  apollo-federation/tests/subgraph/fixtures/tag_validation_template.graphqls
  apollo-federation/tests/subgraph/subgraph_validation_tests.rs
Owners: @apollographql/fed-core, @apollographql/rust-platform

Separate parsing and type checking of `@source`
  apollo-federation/src/connectors/validation/mod.rs
  apollo-federation/src/connectors/validation/source.rs
Owners: @apollographql/graph-dev

feat: add BASE_VERSION argument to Dockerfile and build commands
  .circleci/config.yml
  dockerfiles/Dockerfile.router
Owners: none

Apply "don't panic!" lints to all of `connectors`
  apollo-federation/src/connectors/json_selection/methods/future/eq.rs
  apollo-federation/src/connectors/json_selection/methods/future/match_if.rs
  apollo-federation/src/connectors/json_selection/methods/public/match.rs
  apollo-federation/src/connectors/json_selection/selection_trie.rs
  apollo-federation/src/connectors/mod.rs
  apollo-federation/src/connectors/spec/mod.rs
Owners: @apollographql/graph-dev

Fix: use crate::bail
  apollo-federation/src/merger/merger.rs
Owners: @apollographql/fed-core, @apollographql/rust-platform

Test left associativity of `PathList::compute_output_shape`.
  apollo-federation/src/connectors/json_selection/apply_to.rs
  apollo-federation/src/connectors/validation/snapshots/validation_tests@headers__expressions_that_evaluate_to_invalid_types.graphql.snap
Owners: @apollographql/graph-dev

Better base case handling in `PathList::compute_output_shape`.
  apollo-federation/src/connectors/json_selection/apply_to.rs
Owners: @apollographql/graph-dev

Remove out-of-date `#[allow(dead_code)]` from `math_shape` function.
  apollo-federation/src/connectors/json_selection/methods/future/arithmetic.rs
Owners: @apollographql/graph-dev

Much simpler `check_numeric_shape`.
  apollo-federation/src/connectors/json_selection/methods/future/arithmetic.rs
Owners: @apollographql/graph-dev

Add tests for `check_numeric_shape` helper.
  apollo-federation/src/connectors/json_selection/methods/future/arithmetic.rs
Owners: @apollographql/graph-dev

Fully implement `math_shape`.
  apollo-federation/src/connectors/json_selection/methods/future/arithmetic.rs
Owners: @apollographql/graph-dev

Implemented add_directives_shallow for Merger
  apollo-federation/src/merger/compose_directive_manager.rs
  apollo-federation/src/merger/merger.rs
  apollo-federation/src/schema/directive_location.rs
  apollo-federation/src/schema/mod.rs
Owners: @apollographql/fed-core, @apollographql/rust-platform

fix some tests
  apollo-router/src/error.rs
  apollo-router/src/graphql/mod.rs
  apollo-router/src/graphql/response.rs
  apollo-router/src/plugins/connectors/handle_responses.rs
  apollo-router/src/plugins/coprocessor/test.rs
  apollo-router/src/plugins/fleet_detector.rs
  apollo-router/src/plugins/forbid_mutations.rs
  apollo-router/src/query_planner/fetch.rs
Owners: @apollographql/router-core, @apollographql/graph-dev

Add missing bail import removed by bad merge
  apollo-federation/src/merger/merger.rs
Owners: @apollographql/fed-core, @apollographql/rust-platform

Rework `inline`/`indentation` handling during pretty printing.
  apollo-federation/src/connectors/json_selection/pretty.rs
Owners: @apollographql/graph-dev

Track `ConnectSpec` via `SpanExtra` within `LocatedSpan`.
  apollo-federation/src/connectors/json_selection/helpers.rs
  apollo-federation/src/connectors/json_selection/lit_expr.rs
  apollo-federation/src/connectors/json_selection/location.rs
  apollo-federation/src/connectors/json_selection/parser.rs
Owners: @apollographql/graph-dev

Let `$(...)` take multiple arguments/alternatives.
  apollo-federation/src/connectors/json_selection/README.md
  apollo-federation/src/connectors/json_selection/apply_to.rs
  apollo-federation/src/connectors/json_selection/grammar/ExprPath.svg
  apollo-federation/src/connectors/json_selection/lit_expr.rs
  apollo-federation/src/connectors/json_selection/location.rs
  apollo-federation/src/connectors/json_selection/parser.rs
  apollo-federation/src/connectors/json_selection/pretty.rs
  apollo-federation/src/connectors/json_selection/selection_set.rs
  apollo-federation/src/connectors/json_selection/snapshots/expr_path_selections.snap
  apollo-federation/src/connectors/json_selection/snapshots/naked_literal_path_for_connect_v0_2-2.snap
  apollo-federation/src/connectors/json_selection/snapshots/naked_literal_path_for_connect_v0_2-5.snap
  apollo-federation/src/connectors/json_selection/snapshots/naked_literal_path_for_connect_v0_2-6.snap
  apollo-federation/src/connectors/json_selection/snapshots/naked_literal_path_for_connect_v0_2.snap
  apollo-federation/src/connectors/json_selection/snapshots/path_with_subselection-7.snap
Owners: @apollographql/graph-dev

Unify `NamedSelection` enum variants into single struct.
  apollo-federation/src/connectors/json_selection/apply_to.rs
  apollo-federation/src/connectors/json_selection/location.rs
  apollo-federation/src/connectors/json_selection/parser.rs
  apollo-federation/src/connectors/json_selection/pretty.rs
  apollo-federation/src/connectors/json_selection/selection_set.rs
  apollo-federation/src/connectors/json_selection/selection_trie.rs
Owners: @apollographql/graph-dev

Bulk-update snapshots.
  apollo-federation/src/connectors/expand/tests/snapshots/connectors@batch.graphql.snap
  apollo-federation/src/connectors/expand/tests/snapshots/connectors@carryover.graphql.snap
  apollo-federation/src/connectors/expand/tests/snapshots/connectors@interface-object.graphql.snap
  apollo-federation/src/connectors/expand/tests/snapshots/connectors@keys.graphql.snap
  apollo-federation/src/connectors/expand/tests/snapshots/connectors@normalize_names.graphql.snap
  apollo-federation/src/connectors/expand/tests/snapshots/connectors@realistic.graphql.snap
  apollo-federation/src/connectors/expand/tests/snapshots/connectors@sibling_fields.graphql.snap
  apollo-federation/src/connectors/expand/tests/snapshots/connectors@simple.graphql.snap
  apollo-federation/src/connectors/expand/tests/snapshots/connectors@steelthread.graphql.snap
  apollo-federation/src/connectors/expand/tests/snapshots/connectors@types_used_twice.graphql.snap
  apollo-federation/src/connectors/header.rs
  apollo-federation/src/connectors/json_selection/snapshots/arrow_path_ranges.snap
  apollo-federation/src/connectors/json_selection/snapshots/expr_path_selections.snap
  apollo-federation/src/connectors/json_selection/snapshots/naked_literal_path_for_connect_v0_2-2.snap
  apollo-federation/src/connectors/json_selection/snapshots/parse_with_range_snapshots.snap
  apollo-federation/src/connectors/json_selection/snapshots/path_with_subselection-2.snap
  apollo-federation/src/connectors/json_selection/snapshots/path_with_subselection-3.snap
  apollo-federation/src/connectors/json_selection/snapshots/path_with_subselection-5.snap
  apollo-federation/src/connectors/json_selection/snapshots/path_with_subselection-6.snap
  apollo-federation/src/connectors/json_selection/snapshots/path_with_subselection-7.snap
  apollo-federation/src/connectors/json_selection/snapshots/path_with_subselection.snap
  apollo-federation/src/connectors/json_selection/snapshots/selection.snap
  apollo-federation/src/connectors/models.rs
  apollo-federation/src/connectors/snapshots/apollo_federation__connectors__models__tests__from_schema_v0_2.snap
  apollo-federation/src/connectors/snapshots/apollo_federation__connectors__string_template__test_parse__expressions_with_nested_braces.snap
  apollo-federation/src/connectors/spec/directives.rs
Owners: @apollographql/graph-dev

Add `?` syntax for optional path chaining.
  apollo-federation/src/connectors/json_selection/README.md
  apollo-federation/src/connectors/json_selection/apply_to.rs
  apollo-federation/src/connectors/json_selection/grammar/PathStep.svg
  apollo-federation/src/connectors/json_selection/location.rs
  apollo-federation/src/connectors/json_selection/parser.rs
  apollo-federation/src/connectors/json_selection/pretty.rs
  apollo-federation/src/connectors/json_selection/selection_set.rs
Owners: @apollographql/graph-dev

Add version gating for `?` optional chaining syntax.
  apollo-federation/src/connectors/json_selection/location.rs
  apollo-federation/src/connectors/json_selection/parser.rs
  apollo-federation/src/connectors/spec/mod.rs
Owners: @apollographql/graph-dev

Add ?{ syntax for optional chaining into selection sets
  apollo-federation/src/connectors/json_selection/apply_to.rs
  apollo-federation/src/connectors/json_selection/location.rs
  apollo-federation/src/connectors/json_selection/parser.rs
  apollo-federation/src/connectors/json_selection/pretty.rs
  apollo-federation/src/connectors/json_selection/selection_set.rs
Owners: @apollographql/graph-dev

Add missing bail import removed by bad merge (#7636)
  apollo-federation/src/merger/merger.rs
Owners: @apollographql/fed-core, @apollographql/rust-platform

some updates
  apollo-federation/src/schema/validators/from_context.rs
Owners: @apollographql/fed-core, @apollographql/rust-platform

Implement separate check for directive applications since it uses different logic than that for definitions
  apollo-federation/src/merger/merger.rs
Owners: @apollographql/fed-core, @apollographql/rust-platform

Refactor to have a single Question PathList
  apollo-federation/src/connectors/json_selection/apply_to.rs
  apollo-federation/src/connectors/json_selection/location.rs
  apollo-federation/src/connectors/json_selection/parser.rs
  apollo-federation/src/connectors/json_selection/pretty.rs
  apollo-federation/src/connectors/json_selection/selection_set.rs
Owners: @apollographql/graph-dev

Implement bytes_to_json
  apollo-router-core/src/extensions/mod.rs
  apollo-router-core/src/layers/mod.rs
  apollo-router-core/src/lib.rs
  apollo-router-core/src/services/bytes_server/mod.rs
Owners: none
