Repository apollographql/router, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/docs, @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @benjamn, @apollographql/polaris, @apollographql/atlas

deleting another old test
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_connect_headers.graphql.snap
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

updating enum value to match other capitalization pattern & updating tests
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_connect_http_headers.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_source_http_headers.graphql.snap
  apollo-federation/src/sources/connect/models/validation.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

fixing format
  apollo-federation/src/sources/connect/models/validation.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

updating and adding more test cases
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_connect_http_headers.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_source_http_headers.graphql.snap
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_connect_http_headers.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_source_http_headers.graphql
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

refactoring validate_header_arg and updating tests`
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_connect_http_headers.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_source_http_headers.graphql.snap
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_connect_http_headers.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_source_http_headers.graphql
  apollo-federation/src/sources/connect/models/validation.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

updating tests
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_source_http_headers.graphql.snap
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

renaming select -> source
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_source_http_headers.graphql
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

removing old test file
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_select_http_headers.graphql.snap
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

adding check for unique `name`s and updating code types
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_connect_http_headers.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_source_http_headers.graphql.snap
  apollo-federation/src/sources/connect/models/validation.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

adding validation for `from` and updating tests
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_connect_http_headers.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_source_http_headers.graphql.snap
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_connect_http_headers.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_source_http_headers.graphql
  apollo-federation/src/sources/connect/models/validation.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

removing trailing whitespaces
  apollo-federation/src/sources/connect/models/validation.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Update .changesets/config_bryn_improve_custom_metrics_value_usability.md
  .changesets/config_bryn_improve_custom_metrics_value_usability.md
Owners: none

Update .changesets/maint_bryn_demand_control_studio_traces.md
  .changesets/maint_bryn_demand_control_studio_traces.md
Owners: none

adding selections
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_connect_http_headers.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_source_http_headers.graphql
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Apply suggestions from code review
  docs/source/configuration/overview.mdx
Owners: @apollographql/docs

Update overview.mdx
  docs/source/configuration/overview.mdx
Owners: @apollographql/docs

Update docs/source/configuration/overview.mdx
  docs/source/configuration/overview.mdx
Owners: @apollographql/docs

adding http header validation for source and connect directives
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_connect_http_headers.graphql.snap
  apollo-federation/src/sources/connect/models/snapshots/validation_tests@invalid_source_http_headers.graphql.snap
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_connect_http_headers.graphql
  apollo-federation/src/sources/connect/models/test_data/validation/invalid_source_http_headers.graphql
  apollo-federation/src/sources/connect/models/validation.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

traffic_shaping: report timeout as graphql error
  apollo-router/src/axum_factory/axum_http_server_factory.rs
  apollo-router/src/axum_factory/tests.rs
  apollo-router/src/layers/map_future_with_request_data.rs
  apollo-router/src/plugins/traffic_shaping/mod.rs
  apollo-router/src/plugins/traffic_shaping/timeout/error.rs
  apollo-router/src/plugins/traffic_shaping/timeout/future.rs
  apollo-router/src/plugins/traffic_shaping/timeout/layer.rs
  apollo-router/src/plugins/traffic_shaping/timeout/mod.rs
Owners: @apollographql/polaris, @apollographql/atlas

Propagate HTTP headers to connectors requests
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_realistic_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_a_supergraph-2.snap
  apollo-federation/src/sources/connect/expand/tests/snapshots/apollo_federation__sources__connect__expand__tests__it_expands_steelthread_supergraph-2.snap
  apollo-federation/src/sources/connect/mod.rs
  apollo-federation/src/sources/connect/models/mod.rs
  apollo-router/src/plugins/connectors/http_json_transport.rs
  apollo-router/src/plugins/connectors/make_requests.rs
  apollo-router/src/services/connect.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki, @apollographql/polaris, @apollographql/atlas

remove panics in connect/spec
  apollo-federation/src/sources/connect/spec/directives.rs
  apollo-federation/src/sources/connect/spec/mod.rs
  apollo-federation/src/sources/connect/spec/type_and_directive_specifications.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Update .changesets/feat_garypen_router_185_limit_metrics.md
  .changesets/feat_garypen_router_185_limit_metrics.md
Owners: none

added the `remove_introspection` step in `normalize_operation`
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/query_plan/query_planner.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

Update .changesets/feat_garypen_router_185_limit_metrics.md
  .changesets/feat_garypen_router_185_limit_metrics.md
Owners: none

Update .changesets/config_geal_entity_cache_config_subgraphs.md
  .changesets/config_geal_entity_cache_config_subgraphs.md
Owners: none

Apply suggestions from code review
  .changesets/config_geal_entity_cache_config_subgraphs.md
  .changesets/feat_local_safelist.md
  .changesets/fix_feature_autherrorhttpheader.md
  .changesets/fix_geal_fix_cache_control_age_caculation.md
  .changesets/fix_geal_update_router_bridge4-2.md
  .changesets/fix_geal_update_router_bridge4.md
  .changesets/maint_geal_everything_subgraph.md
  .changesets/maint_geal_isolate_hyper_0_14.md
  .changesets/maint_geal_xtask_release_process.md
Owners: none

Update .changesets/maint_geal_isolate_hyper_0_14.md
  .changesets/maint_geal_isolate_hyper_0_14.md
Owners: none

Update .changesets/exp_pencil_hunk_tornado_backyard.md
  .changesets/exp_pencil_hunk_tornado_backyard.md
Owners: none

Update .changesets/fix_igni_sts_cache_assume_role.md
  .changesets/fix_igni_sts_cache_assume_role.md
Owners: none

Update .changesets/docs_bnjjj_docs_otel_exists_condition.md
  .changesets/docs_bnjjj_docs_otel_exists_condition.md
Owners: none

Update .changesets/feat_bnjjj_add_operation_name_router_selector.md
  .changesets/feat_bnjjj_add_operation_name_router_selector.md
Owners: none

Update .changesets/feat_bnjjj_fix_5475.md
  .changesets/feat_bnjjj_fix_5475.md
Owners: none

Update .changesets/feat_bnjjj_fix_5475.md
  .changesets/feat_bnjjj_fix_5475.md
Owners: none

Update .changesets/fix_bnjjj_fix_5448.md
  .changesets/fix_bnjjj_fix_5448.md
Owners: none

Update .changesets/fix_bnjjj_fix_coprocessor_with_subs.md
  .changesets/fix_bnjjj_fix_coprocessor_with_subs.md
Owners: none

Apply suggestions from code review
  apollo-federation/src/operation/mod.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

update snapshots
  apollo-router/tests/snapshots/apollo_otel_traces__batch_send_header.snap
  apollo-router/tests/snapshots/apollo_otel_traces__batch_trace_id.snap
Owners: @apollographql/polaris, @apollographql/atlas

Update .changesets/fix_spawn_blocking_parser.md
  .changesets/fix_spawn_blocking_parser.md
Owners: none

Update .changesets/fix_spawn_blocking_parser.md
  .changesets/fix_spawn_blocking_parser.md
Owners: none

fix(federation): added the `remove_introspection` step in `normalize_operation` (#5580)
  apollo-federation/src/operation/mod.rs
  apollo-federation/src/query_plan/query_planner.rs
Owners: @dariuszkuc, @sachindshinde, @goto-bus-stop, @SimonSapin, @lrlna, @TylerBloom, @duckki

.github/CODEOWNERS:

/docs/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect/json_selection @benjamn
/apollo-router/ @apollographql/polaris @apollographql/atlas
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/atlas
/apollo-router-scaffold/ @apollographql/polaris @apollographql/atlas
/examples/ @apollographql/polaris @apollographql/atlas
/.github/CODEOWNERS @apollographql/polaris @apollographql/atlas
