Repository apollographql/router, pull requests merged in 2023-07, with the labels that each got.

#3347 feat: `preview_persisted_queries` w/opt-in safelisting
  .changesets/feat_avery_persisted_queries.md
  Cargo.lock
  apollo-router/Cargo.toml
  apollo-router/src/axum_factory/tests.rs
  apollo-router/src/configuration/mod.rs
  apollo-router/src/configuration/persisted_queries.rs
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/executable.rs
  apollo-router/src/lib.rs
  apollo-router/src/plugins/include_subgraph_errors.rs
  apollo-router/src/plugins/traffic_shaping/mod.rs
  apollo-router/src/router/event/configuration.rs
  apollo-router/src/router/event/license.rs
  apollo-router/src/router/event/schema.rs
  apollo-router/src/router/mod.rs
  apollo-router/src/router_factory.rs
  apollo-router/src/services/layers/apq.rs
  apollo-router/src/services/layers/mod.rs
  apollo-router/src/services/layers/persisted_queries/id_extractor.rs
  apollo-router/src/services/layers/persisted_queries/manifest_poller.rs
  apollo-router/src/services/layers/persisted_queries/mod.rs
  apollo-router/src/services/router_service.rs
  apollo-router/src/state_machine.rs
  apollo-router/src/test_harness.rs
  apollo-router/src/test_harness/mocks/mod.rs
  apollo-router/src/test_harness/mocks/persisted_queries.rs
  apollo-router/src/uplink/license_enforcement.rs
  apollo-router/src/uplink/license_stream.rs
  apollo-router/src/uplink/mod.rs
  apollo-router/src/uplink/persisted_queries_manifest_query.graphql
  apollo-router/src/uplink/persisted_queries_manifest_stream.rs
  apollo-router/src/uplink/schema_stream.rs
  apollo-router/tests/integration_tests.rs
  docs/source/executing-operations/subscription-support.mdx
  examples/persisted-queries/additive_pq.yaml
  examples/persisted-queries/pq_log_unknown.yaml
  examples/persisted-queries/safelist_pq.yaml
  examples/persisted-queries/safelist_pq_require_id.yaml
  licenses.html
  xtask/Cargo.lock
  xtask/Cargo.toml
Labels: feature, component/persisted-queries

#3456 docs(traffic_shaping): mention default timeout for subgraph request too
  docs/source/configuration/traffic-shaping.mdx
Labels: documentation

#3500 Fix the error count for subscription requests for apollo telemetry
  .changesets/fix_bnjjj_fix_subscription_metrics.md
  apollo-router/src/plugin/test/mock/canned.rs
  apollo-router/src/plugins/telemetry/metrics/apollo.rs
  apollo-router/src/plugins/telemetry/metrics/snapshots/apollo_router__plugins__telemetry__metrics__apollo__test__apollo_metrics_for_subscription_error.snap
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/src/services/router.rs
  apollo-router/src/services/supergraph_service.rs
  apollo-router/src/uplink/license_enforcement.rs
  apollo-router/src/uplink/snapshots/apollo_router__uplink__license_enforcement__test__restricted_features_via_config.snap
  apollo-router/testing_schema.graphql
Labels: component/open-telemetry, subscription

#3341 fix(subscription): close the subscription when a new schema has been detected
  .changesets/fix_porch_pulse_bloody_receipt.md
  apollo-router/src/configuration/mod.rs
  apollo-router/src/notification.rs
  apollo-router/src/plugins/traffic_shaping/mod.rs
  apollo-router/src/query_planner/subscription.rs
  apollo-router/src/router_factory.rs
  apollo-router/src/services/router_service.rs
  apollo-router/src/services/snapshots/apollo_router__services__supergraph_service__tests__subscription_callback_schema_reload-2.snap
  apollo-router/src/services/snapshots/apollo_router__services__supergraph_service__tests__subscription_callback_schema_reload-3.snap
  apollo-router/src/services/snapshots/apollo_router__services__supergraph_service__tests__subscription_callback_schema_reload.snap
  apollo-router/src/services/supergraph_service.rs
  apollo-router/src/state_machine.rs
  docs/source/executing-operations/subscription-support.mdx
Labels: subscription
