Repository apollographql/router, pull requests merged in 2024-11, with the labels that each got.

#6210 release: v1.57.1
  .circleci/config.yml
  CHANGELOG.md
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.template.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.template.toml
  apollo-router/Cargo.toml
  apollo-router/src/query_planner/caching_query_planner.rs
  apollo-router/tests/samples/enterprise/progressive-override/basic/README.md
  apollo-router/tests/samples/enterprise/progressive-override/basic/configuration.yaml
  apollo-router/tests/samples/enterprise/progressive-override/basic/configuration2.yaml
  apollo-router/tests/samples/enterprise/progressive-override/basic/plan.json
  apollo-router/tests/samples/enterprise/progressive-override/basic/rhai/main.rhai
  apollo-router/tests/samples/enterprise/progressive-override/basic/supergraph.graphql
  apollo-router/tests/samples/enterprise/progressive-override/warmup/README.md
  apollo-router/tests/samples/enterprise/progressive-override/warmup/configuration.yaml
  apollo-router/tests/samples/enterprise/progressive-override/warmup/configuration2.yaml
  apollo-router/tests/samples/enterprise/progressive-override/warmup/plan.json
  apollo-router/tests/samples/enterprise/progressive-override/warmup/rhai/main.rhai
  apollo-router/tests/samples/enterprise/progressive-override/warmup/supergraph.graphql
  apollo-router/tests/samples_tests.rs
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  scripts/install.sh
Labels: release

#6270 fix(federation): remove special-casing of adding reserved or built-in items to a schema
  apollo-federation/src/schema/position.rs
  apollo-federation/src/supergraph/mod.rs
Labels: component/query-planning

#6292 fix(cors): don't ignore invalid configuration
  apollo-router/src/configuration/cors.rs
  docs/source/reference/migration/from-router-v1.mdx
Labels: router-next

#6268 [next] Remove --apollo-uplink-poll-interval
  README.md
  apollo-router/src/executable.rs
  docs/source/reference/migration/from-router-v1.mdx
  docs/source/reference/router/configuration.mdx
Labels: router-next

#6274 Remove support for scaffold
  Cargo.lock
  Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/scaffold-test/.cargo/config
  apollo-router-scaffold/scaffold-test/.dockerignore
  apollo-router-scaffold/scaffold-test/.gitignore
  apollo-router-scaffold/scaffold-test/Cargo.toml
  apollo-router-scaffold/scaffold-test/Dockerfile
  apollo-router-scaffold/scaffold-test/README.md
  apollo-router-scaffold/scaffold-test/router.yaml
  apollo-router-scaffold/scaffold-test/src/main.rs
  apollo-router-scaffold/scaffold-test/src/plugins/auth.rs
  apollo-router-scaffold/scaffold-test/src/plugins/basic.rs
  apollo-router-scaffold/scaffold-test/src/plugins/mod.rs
  apollo-router-scaffold/scaffold-test/src/plugins/tracing.rs
  apollo-router-scaffold/scaffold-test/xtask/Cargo.toml
  apollo-router-scaffold/scaffold-test/xtask/src/main.rs
  apollo-router-scaffold/src/lib.rs
  apollo-router-scaffold/src/plugin.rs
  apollo-router-scaffold/templates/base/.cargo/config
  apollo-router-scaffold/templates/base/.dockerignore
  apollo-router-scaffold/templates/base/.gitignore
  apollo-router-scaffold/templates/base/.scaffold.toml
  apollo-router-scaffold/templates/base/Cargo.template.toml
  apollo-router-scaffold/templates/base/Dockerfile
  apollo-router-scaffold/templates/base/README.md
  apollo-router-scaffold/templates/base/router.yaml
  apollo-router-scaffold/templates/base/rust-toolchain.toml
  apollo-router-scaffold/templates/base/src/main.rs
  apollo-router-scaffold/templates/base/src/plugins/mod.rs
  apollo-router-scaffold/templates/base/xtask/Cargo.template.toml
  apollo-router-scaffold/templates/base/xtask/src/main.rs
  apollo-router-scaffold/templates/plugin/.scaffold.toml
  apollo-router-scaffold/templates/plugin/src/plugins/mod.rs
  apollo-router-scaffold/templates/plugin/src/plugins/{{snake_name}}.rs
  deny.toml
  docs/source/reference/migration/from-router-v1.mdx
  docs/source/routing/customization/custom-binary.mdx
  licenses.html
  xtask/src/commands/release.rs
Labels: router-next

#6285 Remove experimental_when_header feature
  apollo-router/feature_discussions.json
  apollo-router/src/configuration/metrics.rs
  apollo-router/src/configuration/snapshots/apollo_router__configuration__metrics__test__metrics@telemetry.router.yaml.snap
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/configuration/testdata/metrics/telemetry.router.yaml
  apollo-router/src/plugins/telemetry/config_new/experimental_when_header.rs
  apollo-router/src/plugins/telemetry/config_new/logging.rs
  apollo-router/src/plugins/telemetry/config_new/mod.rs
  apollo-router/src/plugins/telemetry/logging/mod.rs
  apollo-router/src/plugins/telemetry/logging/snapshots/apollo_router__plugins__telemetry__logging__test__when_header@logs.snap
  apollo-router/src/plugins/telemetry/logging/testdata/experimental_when_header.router.yaml
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/src/services/fetch_service.rs
  apollo-router/src/services/http/service.rs
  apollo-router/src/services/subgraph_service.rs
  apollo-router/src/services/supergraph/service.rs
  apollo-router/src/testdata/jaeger.router.yaml
  apollo-router/tests/integration/fixtures/broken_plugin.router.yaml
  apollo-router/tests/integration/fixtures/happy.router.yaml
  apollo-router/tests/integration/lifecycle.rs
  apollo-router/tests/integration/snapshots/integration_tests__integration__lifecycle__cli_config_experimental.snap
  apollo-router/tests/integration/telemetry/fixtures/jaeger-0.5-sample.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/jaeger-advanced.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/jaeger-no-sample.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/jaeger.connectors.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/jaeger.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/jaeger_decimal_trace_id.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/json.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/json.sampler_off.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/json.span_attributes.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/json.uuid.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/no-telemetry.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/text.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/text.sampler_off.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/text.uuid.router.yaml
  docs/source/reference/migration/from-router-v1.mdx
  docs/source/reference/router/telemetry/instrumentation/selectors.mdx
  docs/source/reference/router/telemetry/log-exporters/overview.mdx
Labels: router-next
