Repository apollographql/router, pull requests merged in 2024-06, with the labels that each got.

#5365 feat(telemetry): add the ability to override span name with otel.name attribute
  .changesets/feat_bnjjj_feat_otel_name_attribute.md
  apollo-router/src/plugins/telemetry/config_new/spans.rs
  apollo-router/src/plugins/telemetry/dynamic_attribute.rs
  apollo-router/src/plugins/telemetry/otel/layer.rs
  apollo-router/src/plugins/telemetry/otel/mod.rs
  apollo-router/src/plugins/telemetry/otel/tracer.rs
  apollo-router/src/plugins/telemetry/reload.rs
  docs/source/configuration/telemetry/instrumentation/spans.mdx
Labels: component/open-telemetry

#5349 release: v1.48.1
  .changesets/feat_bryn_demand_control.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.toml
  apollo-router/Cargo.toml
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/telemetry/config_new/selectors.rs
  apollo-router/src/services/subgraph_service.rs
  apollo-router/tests/integration/telemetry/fixtures/jaeger-advanced.router.yaml
  apollo-router/tests/integration/telemetry/jaeger.rs
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  docs/source/configuration/telemetry/instrumentation/selectors.mdx
  docs/source/federation-version-support.mdx
  examples/supergraph-sdl/rust/Cargo.toml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  licenses.html
  scripts/install.sh
Labels: release

#4918 [docs] Add docs about span macros
  docs/source/customizations/native.mdx
Labels: documentation

#5407 feat(telemetry): add description and units to standard instruments
  .changesets/feat_bnjjj_add_missing_units_desc_instruments.md
  apollo-router/src/plugins/telemetry/config_new/fixtures/router/attribute.error.type/metrics.snap
  apollo-router/src/plugins/telemetry/config_new/fixtures/router/attribute.on_graphql_error/metrics.snap
  apollo-router/src/plugins/telemetry/config_new/fixtures/router/http.server.active_requests/metrics.snap
  apollo-router/src/plugins/telemetry/config_new/fixtures/router/http.server.request.body.size/metrics.snap
  apollo-router/src/plugins/telemetry/config_new/fixtures/router/http.server.request.body.size_with_custom_attributes/metrics.snap
  apollo-router/src/plugins/telemetry/config_new/fixtures/router/http.server.request.duration/metrics.snap
  apollo-router/src/plugins/telemetry/config_new/fixtures/router/http.server.request.duration_with_custom_attributes/metrics.snap
  apollo-router/src/plugins/telemetry/config_new/fixtures/router/http.server.response.body.size/metrics.snap
  apollo-router/src/plugins/telemetry/config_new/instruments.rs
Labels: component/open-telemetry

#5464 fix events when trace is not sampled, and keep event attribute types
  .changesets/fix_bnjjj_fix_5448.md
  apollo-router/src/logging/mod.rs
  apollo-router/src/plugins/telemetry/config_new/attributes.rs
  apollo-router/src/plugins/telemetry/config_new/events.rs
  apollo-router/src/plugins/telemetry/dynamic_attribute.rs
  apollo-router/src/plugins/telemetry/fmt_layer.rs
  apollo-router/src/plugins/telemetry/formatters/json.rs
  apollo-router/src/plugins/telemetry/formatters/text.rs
  apollo-router/src/plugins/telemetry/reload.rs
  apollo-router/src/plugins/telemetry/snapshots/apollo_router__plugins__telemetry__fmt_layer__tests__json_logging_with_custom_events_with_instrumented.snap
  apollo-router/src/plugins/telemetry/snapshots/apollo_router__plugins__telemetry__fmt_layer__tests__text_logging_with_custom_events.snap
  apollo-router/src/plugins/telemetry/snapshots/apollo_router__plugins__telemetry__fmt_layer__tests__text_logging_with_custom_events_with_instrumented.snap
  apollo-router/src/services/subgraph_service.rs
  apollo-router/src/services/supergraph/service.rs
  apollo-router/tests/integration/telemetry/fixtures/json.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/json.sampler_off.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/text.router.yaml
  apollo-router/tests/integration/telemetry/fixtures/text.sampler_off.router.yaml
  apollo-router/tests/integration/telemetry/logging.rs
Labels: component/open-telemetry

#5485 release: v1.49.1
  CHANGELOG.md
  Cargo.lock
  apollo-federation/Cargo.toml
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.toml
  apollo-router/Cargo.toml
  apollo-router/tests/integration/redis.rs
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  docs/source/federation-version-support.mdx
  fuzz/Cargo.toml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  licenses.html
  scripts/install.sh
Labels: release
