Repository apollographql/router, pull requests merged in 2024-01, with the labels that each got.

#4424 fix(telemetry): use the right conventions for batching metrics
  .changesets/fix_bnjjj_fix_metric_name.md
  apollo-router/src/request.rs
  docs/source/configuration/telemetry/instrumentation/standard-instruments.mdx
Labels: component/open-telemetry

#4526 prep release: v1.38.0
  .changesets/feat_bnjjj_feat_4346.md
  .changesets/feat_geal_redis_namespace.md
  .changesets/feat_simon_http_max_request_bytes_ga.md
  .changesets/fix_bnjjj_fix_4397.md
  .changesets/fix_bnjjj_fix_log_level.md
  .changesets/fix_bnjjj_fix_metric_name.md
  .changesets/fix_bryn_fix_datadog_default_url.md
  .changesets/fix_bryn_improve_jwks_parse_error_handling.md
  .changesets/fix_bryn_jwks_logs.md
  .changesets/fix_geal_expose_operationkind.md
  .changesets/fix_geal_update_router_bridge2.md
  .changesets/fix_lb_requires_selection_set_abstract_types.md
  .changesets/maint_garypen_m1_changes.md
  CHANGELOG.md
  Cargo.lock
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.toml
  apollo-router/Cargo.toml
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  docs/source/federation-version-support.mdx
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  scripts/install.sh
Labels: release

#4469 Move cacheability metrics to the entity cache plugin
  .changesets/exp_geal_move_cacheability_metrics.md
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/src/plugins/cache/metrics.rs
  apollo-router/src/plugins/cache/mod.rs
  apollo-router/src/plugins/telemetry/config.rs
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/src/uplink/license_enforcement.rs
  apollo-router/src/uplink/snapshots/apollo_router__uplink__license_enforcement__test__restricted_features_via_config.snap
  apollo-router/src/uplink/testdata/restricted.router.yaml
Labels: component/cache

#4471 start implementing cache tests based on redis client mocks
  apollo-router/Cargo.toml
  apollo-router/src/cache/redis.rs
  apollo-router/src/plugins/cache/entity.rs
  apollo-router/src/plugins/cache/mod.rs
  apollo-router/src/plugins/cache/snapshots/apollo_router__plugins__cache__tests__insert-2.snap
  apollo-router/src/plugins/cache/snapshots/apollo_router__plugins__cache__tests__insert.snap
  apollo-router/src/plugins/cache/tests.rs
Labels: component/cache
