Repository apollographql/router, pull requests merged in 2024-02, with the labels that each got.

#4566 feat(telemetry): static attribute on specific span
  .changesets/feat_bnjjj_fix_4561.md
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/telemetry/config_new/selectors.rs
  docs/source/configuration/telemetry/instrumentation/spans.mdx
Labels: component/open-telemetry

#4567 Ability to automatically switch the logging format depending on the terminal
  .changesets/feat_bnjjj_feat_4369.md
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/telemetry/config_new/logging.rs
  apollo-router/src/plugins/telemetry/fmt_layer.rs
  docs/source/configuration/telemetry/exporters/logging/stdout.mdx
Labels: component/open-telemetry, component/logging

#4572 feat(telemetry): add configurable histogram buckets per metric
  .changesets/feat_bnjjj_feat_4543.md
  apollo-router/src/configuration/snapshots/apollo_router__configuration__tests__schema_generation.snap
  apollo-router/src/plugins/telemetry/config.rs
  apollo-router/src/plugins/telemetry/metrics/otlp.rs
  apollo-router/src/plugins/telemetry/metrics/prometheus.rs
  apollo-router/src/plugins/telemetry/mod.rs
  apollo-router/src/plugins/telemetry/snapshots/apollo_router__plugins__telemetry__tests__it_test_prometheus_metrics_custom_buckets_for_specific_metrics.snap
  apollo-router/src/plugins/telemetry/testdata/prometheus_custom_buckets_specific_metrics.router.yaml
  apollo-router/tests/fixtures/prometheus.router.yaml
  apollo-router/tests/fixtures/subgraph_auth.router.yaml
  apollo-router/tests/telemetry/metrics.rs
  docs/source/configuration/telemetry/exporters/metrics/overview.mdx
Labels: component/open-telemetry

#4645 docs: remove duplicate docs for multipart subscription protocol
  dev-docs/multipart-subscriptions-protocol.md
Labels: documentation, component/subscriptions

#4658 release: v1.40.1
  .circleci/config.yml
  .github/workflows/update_uplink_schema.yml
  CHANGELOG.md
  Cargo.lock
  apollo-router-benchmarks/Cargo.toml
  apollo-router-scaffold/Cargo.toml
  apollo-router-scaffold/templates/base/Cargo.toml
  apollo-router-scaffold/templates/base/xtask/Cargo.toml
  apollo-router/Cargo.toml
  apollo-router/src/configuration/mod.rs
  apollo-router/src/error.rs
  apollo-router/src/plugins/authorization/authenticated.rs
  apollo-router/src/plugins/authorization/policy.rs
  apollo-router/src/plugins/authorization/scopes.rs
  apollo-router/src/plugins/telemetry/reload.rs
  apollo-router/src/query_planner/bridge_query_planner.rs
  apollo-router/src/router_factory.rs
  apollo-router/src/services/external.rs
  apollo-router/src/services/http.rs
  apollo-router/src/services/http/service.rs
  apollo-router/src/services/http/tests.rs
  apollo-router/src/spec/query.rs
  apollo-router/src/spec/schema.rs
  apollo-router/tests/integration_tests.rs
  apollo-router/tests/snapshots/integration_tests__validation_errors_from_rust.snap
  dev-docs/multipart-subscriptions-protocol.md
  dockerfiles/tracing/datadog-subgraph/package-lock.json
  dockerfiles/tracing/datadog-subgraph/package.json
  dockerfiles/tracing/docker-compose.datadog.yml
  dockerfiles/tracing/docker-compose.jaeger.yml
  dockerfiles/tracing/docker-compose.zipkin.yml
  examples/supergraph-sdl/rust/Cargo.toml
  examples/supergraph-sdl/rust/src/supergraph_sdl.rs
  fuzz/Cargo.toml
  helm/chart/router/Chart.yaml
  helm/chart/router/README.md
  licenses.html
  scripts/install.sh
Labels: release

#4702 fix(telemetry): use the right default header name when experimental_response_trace_id is enabled
  .changesets/fix_bnjjj_fix_4699.md
  apollo-router/src/plugins/telemetry/mod.rs
Labels: bug, component/open-telemetry
